{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}

{% block title %} | Helps{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Writing on LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}
    <div class="modal-header">
        <h4 id="myModalLabel" class="text-center">{% trans "How to Write Posts" %}</h4>
    </div>

    <div class="modal-body">
        <h5><span class="text-info">{% trans 'Good Examples' %}</span></h5>
        <ul>
            <li>{% trans 'Keep a daily journal' %}</li>
            <li>{% blocktrans %} Describe your hobbies, likes, and dislikes{% endblocktrans %}</li>
            <li>{% trans 'Write about how you met your best friend or significant other' %}</li>
            <li>{% trans 'Your plans to travel' %}</li>
            <li>{% trans "<span class='text-info'>The sky's the limit!</span> But remember to write posts in the <span class='text-info'>language you're learning</span>!" %}</li>
        </ul>

        <h5 class="text-error">{% trans 'Bad Examples' %}</h5>
        <ul>
            <li>{% trans 'Writing in your native language.<br/> (This defeats the whole purpose of learning another language.)' %}</li>
            <li>{% trans 'Short posts. <br/> (Challenge yourself and at least write a paragraph so others can help you learn.)' %}</li>
        </ul>

        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on FaceBook">
                <span>{% trans 'Visit Ling Ring on FaceBook and get the latest news!' %}</span>
             </a>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="controlButtonAtBottom">
                <hr/>
                <a class="btn btn-primary" href="{% url 'ask_post' %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>
</div>

