{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}

{% block title %} | Helps{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Writing on LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}
    <div class="modal-header">
        <h4 id="myModalLabel" class="text-center">{% trans "I want to learn more than two foreign languages!" %}</h4>
    </div>

    <div class="modal-body">
        <ul>
            <li>{% trans 'Change your settings to the desired language: "Me - Setting - Change My Profile"' %}</li>
            <li>{% trans 'Start writing posts in your new language' %}</li>
            <li>{% trans 'Then wait for new native speakers to give you feedback' %}</li>
        </ul>
        <p>{% trans "A multiple language feature is on the horizon. You'll be notified when the feature is launched." %}</p>

        <div id="linkToPage">
             <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                 <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on FaceBook">
                 <span>{% trans 'Visit Ling Ring on FaceBook and get the latest news!' %}</span>
             </a>
         </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="controlButtonAtBottom">
                <hr/>
                <a class="btn btn-primary" href="{% url 'ask_post' %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>


    {% endblock %}
    </div>
</div>

