{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}

{% block title %} | Helps{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Writing in LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}
    <div class="modal-header">
        <h4 id="myModalLabel" class="text-center">{% trans "What will happen after I write a post?" %}</h4>
    </div>

    <div class="modal-body">
        <h4>{% trans 'Here are four steps following :' %}</h5>
        <ol>
            <li>{% trans "Native speakers see your post in their \'Home\' menu. " %}</li>
            <li>{% blocktrans %} They give their corrections on your post.{% endblocktrans %}</li>
            <li>{% trans 'A notification email is sent to your email address.' %}</li>
            <li>{% trans 'You come back to your post to check the corrections' %}</li>
        </ol>

        <h5>{% trans 'It usually takes some time to get corrections. So,<span class="text-error"> come back later again, or check your email after confirming your email</span>.' %}</h5>
        <h5>{% trans 'Please do not forget to say "Thank you" for their effort. It will increase the chance for you to get corrections more.' %}</h5>

         <div id="linkToPage">
             <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                 <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                 <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
             </a>
         </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="controlButtonAtBottom">
                <hr/>
                <a class="btn btn-primary" href="{% url 'ask_post' %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>
</div>

