{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}

{% block title %} | Helps{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Writing in LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}
    <div class="modal-header">
        <h4 id="myModalLabel" class="text-center">
            {% blocktrans with user.get_learning_language as learning_language %}I don't know how to type in {{ learning_language }}!{% endblocktrans%}
        </h4>
    </div>

    <div class="modal-body">
        <h5>{% trans 'Then, <span class="text-info">what about beginning helping other users first?</span>' %}</h5>
        <h5>
            {% blocktrans with user.get_native_language as native_language %}You can find <span class="text-info">all the journals written in {{ native_language }}</span>, which is your native language, by people who learn it<span class="text-info"> at the "Correct" tab of "Home" menu</span>. {% endblocktrans%}        
        </h5>
        <h5>
            {% blocktrans with user.get_learning_language as learning_language %}Help them and <span class="text-info">send "Be my tutor" request</span> to some of them whose native language is {{ learning_language }}, which is your learning language. <br/><span class="text-error explanation"> * A connection between a tutor and a student is called Ring in Ling Ring.</span>{% endblocktrans%}   
        </h5>
        <h5>
            {% blocktrans with user.get_learning_language as learning_language %}Most of Ling Ring users love to have foreign friends, so they are willing to become a tutor of others. {% endblocktrans%}        
        </h5>
        <h5>{% blocktrans  %}<span class="text-info">Once you create a Ring, you can share SNS infomation with your Ring, and talk with your Ring.</span> {% endblocktrans%}  
        </h5>
        <h5>{% trans "So, don't hesitate helping people and getting your tutors in Ling Ring!" %}</h5>
         <div id="linkToPage">
             <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                 <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                 <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
             </a>
         </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="controlButtonAtBottom">
                <hr/>
                <a class="btn btn-primary" href="{% url 'ask_post' %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>
</div>

