{% load i18n staticfiles %}

{% with bookmark.sentence.parent as os and bookmark.sentence as cs %}
<div class="content-wrapper active">
  <div class="sentence noteItem">
      <h5> <small class="muted">Noted Date : {{ bookmark.ctime|date:'m.d.Y' }}</small> </h5>

      <!-- original sentence -->
      <div class="media">
        <a class="user_img pull-left" data-toggle="popover" data-poload="{% url 'profile_detail' os.user.id %}" data-html="true" popover-title="{{ os.user.screen_name }}"><img class="media-object media-object-32" src="{{ os.user.get_small_profile_photo }}" /></a>

        <div class="media-body">
          <div class="original-sentence">
            <span class="os">{{ os.context }}</span>
          </div>
        </div>
      </div>

      <!-- corrected sentence -->
      <div class="media">
        <a class="user_img pull-left" data-toggle="popover" data-poload="{% url 'profile_detail' cs.user.id %}" data-html="true" popover-title="{{ cs.user.screen_name }}"><img class="media-object-32" src="{{ cs.user.get_small_profile_photo }}" /></a>

        <div class="corrected_sentence media-body">
            {% if cs.context == '[Perfect]' %}
            <span class="text"><img src="{% static 'image/ic_perfect.png' %}" /></span>
            {% elif cs.context == '[Do-not-understand]' %}
            <span class="text"><img src="{% static 'image/ic_dontunderstand.png' %}" /></span>
            {% else %}
            <span class="text">
              {% if cs.html_context %}{{ cs.html_context|safe }}
              {% else %}{{ cscontext }}{% endif %}
            </span>
            {% endif %}
        </div>
      </div>

      {% if cs.comment_set.exists %}
      <div class="replies hide">
        <div class="title"><i class="fa fa-comments"></i> {% trans 'Replies' %}</div>
        {% for c in cs.comment_set.all %}
        <div class="media">
          <a class="user_img pull-left" data-toggle="popover" data-poload="{% url 'profile_detail' c.user.id %}" data-html="true" popover-title="{{ c.user.screen_name }}"><img class="media-object-32" src="{{ c.user.get_small_profile_photo }}" /></a>
          <div class="corrected_sentence media-body">
            <span class="text">{{ c.context }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="text-right">
        <a class="bottomLink" href="{% url 'ask_view' os.ask.id %}"><i class="fa fa-external-link fa-lg"></i><span class="notDisplayed">Go to</span> Journal</a>
        {% if cs.comment_set.exists %}
        <button class="btn btn-mini btn-link toggle-see-comments bottomLink"><i class="fa fa-comment-o fa-lg"></i><span class="notDisplayed">See</span> Comments</button>
        {% endif %}

        <form action="{% url 'bookmark_create_or_delete' %}" method="post" class="bookmark-form">{% csrf_token %}
          <input type="hidden" name="sentence" value="{{ cs.id }}">
          <button type="submit" class="btn btn-link bottomLink"><i class="fa fa-ban fa-lg"></i>Remove</button>
        </form>
      </div>

  </div>
</div>
{% endwith %}

