{% load i18n %}

<div class="alert alert-info">
  <strong>{% trans 'No Notes Yet.' %}</strong>
  <hr/>
  <div>
    {% url 'path.to.view' arg arg2 as url_ask_post_list %}
    {% blocktrans %}
    You can store any sentence you want to take a good look at again. <br/>It's easy. Just click note icon( <i class="fa fa-bookmark-o"></i> ) of any correction.
    {% endblocktrans %}
  </div>
</div>
