{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:title" content="{{ profile_user }}'s Notes">
<meta property="og:url" content="http://lingring.net/user/{{ profile_user.screen_name }}/notes/">
<meta property="og:description" content="{{ profile_user }} has kept notes for these sentences">
{% endblock %}

{% block title %} | {{ profile_user }}'s Notes{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bookmark.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'lang/user/detail.html' %}
<div class="contentTitle">
  <h4><i class="fa fa-bookmark fa-lg"></i> &nbsp; {% trans 'Notes' %}</h4>
</div>

<div class="content_wrapper">
  {% if bookmarks %}
    {% for bookmark in bookmarks %}
    {% include 'lang/bookmark/_item.html' %}
    {% endfor %}
  {% else %}
    {% include 'lang/bookmark/_no_bookmark.html' %}
  {% endif %}
</div>

{% include 'pagination.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/me.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bookmark.js' %}"></script>
{% endcompress %}
{% endblock %}
