{% load url from future %}{% load staticfiles i18n %}
{% load compress %}
<!DOCTYPE HTML>
<html>
<head>
{% block licence %}
{% endblock %}

{% block metatags %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="LingRing">
    <meta name="description" content="Write your post in a foreign language and receive corrections from native speakers for free.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no, target-densitydpi=medium-dpi">
    <meta name="robots" content="noarchive">
    <meta name="google-site-verification" content="xKC9MSkXkoOlnLWFsubV8oZiU-j8TZ7X8PorlGINN5g" />
    <meta name="msvalidate.01" content="1AE24F62A8549C6AE70C3470FEB0E2CE" />

    <meta property="og:type" content="website">
    <meta property="og:image" content="https://lingring.net/static/image/logoFBOG_1.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="og:title" content="LingRing: Let's Exchange Languages!">
    <meta property="og:url" content="https://lingring.net/">
    <meta property="og:description" content="Write your post in a foreign language and receive corrections from native speakers for free.">
{% endblock %}

<title>Ling Ring, Languge Exchange | The Most Interesting Way to Learn Foreign Languages!</title>

{% block stylesheet %}
<!-- CSS(bootstrap) -->
<link rel="shortcut icon" href="{% static 'image/favicon.png' %}" />

{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/screen.css' %}" />
{% endcompress %}

<!-- Import Fonts  -->
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
{% endblock %}

{% block blockbots %}
{% endblock %}

{% block extrahead %}
{% endblock %}
</head>

<body>
<div id="fb-root"></div>
<script type="text/javascript">
    if (top.location.href != location.href) {
        top.location.href = "https://lingring.net/";
    }
    var FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
    var FACEBOOK_LOGIN_URL = "{% url 'socialauth_begin' 'facebook' %}";
</script>
<script type="text/javascript" src="{% static 'js/facebook_login.js' %}"></script>

<div id="landingBody">
    <div id="landingContainer">
        <div id="landingUpper">
            <div id="landingUpperInner">
                <div id="landingLogo">
                    <img src="{% static 'image/landingpage/symbol_b.png' %}" alt="LingRing Logo"/>
                    <img src="{% static 'image/landingpage/logotype_b.png' %}" alt="LingRing"/>
                </div>
                <div id="landingExplanation">
                    Language Exchange Community for Learning Languages!<br/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div id="landingMiddle">
            <div id="landingExplanationImage">
                <div class="eachImage">
                    <img src="{% static 'image/landingpage/img_1_b.png' %}" />
                    <div class="explanationForEachImage">Write<span class="longExplanation"> journals in a language you're learning</span>!</div>
                </div>
                <div class="eachImage">
                    <img src="{% static 'image/landingpage/img_2_b.png' %}" />
                    <div class="explanationForEachImage"><span class="longExplanation">Receive and suggest </span> Corrections!</div>
                </div>
                <div class="eachImage">
                    <img src="{% static 'image/landingpage/img_3_b.png' %}" />
                    <div class="explanationForEachImage"><span class="longExplanation">Make foreign</span> Friends!</div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div id="btnContainer">
                <a href="#" onclick="startConnect();">
                  <div class="landingBtn loginBtn">
                      <img src="{% static 'image/landingpage/fb_logo.png' %}"/>{% trans 'Log in to write your journal' %} 
                  </div>
                </a>

                <a href="{% url 'static_helps' 'any-trouble-with-login' %}" class="btn btn-link btn-large" >
                    <i class="fa fa-wrench"></i>
                    <small>&nbsp; {% trans 'Login Issues?' %}</small>
                </a>

                <div style="margin:20px auto">- OR -</div>

                <a class="see_example" href="#" data-toggle="popover" data-html="true" data-placement="top">
                    <div class="landingBtn tourBtn">{% trans 'Take a LingRing Tour' %} </div>
                </a>
            </div>

            <div id="see_example_content" class="hide">
              <div style="padding: 10px;">
                <div class="control-group">
                    <label for="learning_language_select" class="explanation"><strong>{% trans 'Which language do you want to learn?' %} </strong></label>
                <br/>
                <select id="learning_language_select">
                  <option value="" selected=selected>-------------</option>
                  {% for l in languages %}
                  <option value="{{ l.id }}">{{ l.name|capfirst }}</option>
                  {% endfor %}
                </select>
                </div>

                <a class="btn btn-primary btn-block" id="link_to_example" href="{% url 'example' %}?language={{ languages.0.name }}">Example</a>
              </div>
            </div>

            <br/>
        </div>
    </div>

    <div id="landingBottom" class="text-center">
        <div> Questions? Comments? Feedback?</div>
        <div> Contact us on  <a href="https://www.facebook.com/linguisticring?fref=ts">FaceBook</a></div>
    </div>
</div>

{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/google-analytics.js' %}"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript">

function  check_choice_language () {
  var learning_language = $("#learning_language_select").val();
  if (!learning_language) {
    $("#learning_language_select").focus();
    $("#learning_language_select").parent().addClass('error');
    alert('Please select learning language');
    return false;
  }

  setCookie('learning_language', learning_language, 1);
  return true;
}


$(document).on("click", ".see_example", function() {
  var e=$(this);
  if (!$(e.parent().find('.popover')).css('display')) {
    e.popover({
      content: $("#see_example_content").html(),
      delay: {show: 500, hide: 100 }
    }).popover('show');
  }
  return false;
});

$(document).on("change", "#learning_language_select", function() {
  var language = $(this).find('option:selected').text();
  $("#link_to_example").text('See how to learn ' + language);
  $("#link_to_example").attr('href', '/example/?language=' + language.toLowerCase());
});

$(document).on("click", "#link_to_example", function() {
  if (check_choice_language())
    return true;
  return false;
});
</script>
{% endcompress %}

</body>
</html>
