{% load i18n staticfiles %}
<div id="modal-already-full-ring" class="modal hide fade" role="dialog" aria-labelledby="CreateRing">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="text-center text-error">{% blocktrans %}{{ profile_user }} can't be your Tutor{% endblocktrans %}</h4>
    </div>

    <div class="modal-body">
      <h5 class="text-center"> (Your Current Tutors + Request Tutors) / Maximum Tutors for <label class="label-grade label-grade-{{ user.point.grade }}">{{ user.point.grade|capfirst }}</label></h5>
        <h4 class="text-info text-center"> {{ user.my_tutors.count|add:user.my_requested_tutors.count }} / {{ user.max_ring }}</h5>
        <h5 class="text-center">So, you can not send a request any more.</h5>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

