{% load i18n staticfiles %}

<div id="modal-ring" class="modal hide fade" role="dialog" aria-labelledby="CreateRing">
  <form id="request-tutor-form" action="{% if ring %}{% url 'ring_update' ring.id %}{% else %}{% url 'ring_create' %}{% endif %}" method="POST">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="text-center ringMatchTextColor">{% blocktrans with profile_user.screen_name as tutor %}"{{ tutor }}" can be your Tutor {% endblocktrans %}</h4>
        </div>

        <div class="modal-body" id="ringCreation" style="background-image:url('{% static 'image/ringcreation/ic_match.png' %}')">
            <div class="pull-left text-center">
                <img src="{{ user.get_profile_photo }}" /> 
                <h5>{% trans "Learning" %}: {{ user.get_learning_language }}</h5>
                <div id="replyRateInRingCreation">
                    {% with user.interaction_rate as irate and user.get_level as level%}
                    {% if level.name == 'N/A' %}
                        <span class="newbie">Newbie</span>
                    {% else %}
                        <div class="progress">
                            <span class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</span>
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="pull-right text-center">
                <img src="{{ profile_user.get_profile_photo }}" />
                <h5>{% trans "Native" %}: {{ profile_user.get_native_language }}</h5>
                <div id="replyRateInRingCreation">
                    {% with profile_user.interaction_rate as irate and profile_user.get_level as level%}
                    {% if level.name == 'N/A' %}
                        <span class="newbie">Newbie</span>
                    {% else %}
                        <div class="progress">
                            <span class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</span>
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="clearfix"></div>
            <h4 class="clearfix text-center ringMatchTextColor">Languages match!</h4>

        </div>

        <div class="modal-footer">
            <textarea name="message" placeholder="Send a request message to {{ profile_user.screen_name }}. ex) Please be my tutor." class="input-xxlarge"></textarea>
            <input name="tutor" type="hidden" value="{{ profile_user.id }}"/>
            <input name="student" type="hidden" value="{{ user.id }}"/>
            <input name="status" type="hidden" value="requested"/>
            {% if ring %}
            <input name="follow" type="hidden" value="{{ ring.follow }}"/>
            {% endif %}
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
            <button type="submit" class="btn btn-primary" >{% trans "Send Request" %}</button>
        </div>
    </form>
</div>

