{% load i18n staticfiles %}

<div id="modal-no-match-language-for-follow" class="modal hide fade" role="dialog" aria-labelledby="CreateRing">
    <form id="request-tutor-form" action="{% url 'ring_create' %}" method="POST">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="text-center text-error">{% blocktrans %}"{{ profile_user }}" can’t be marked as an interesting student of you.{% endblocktrans %}</h4>
        </div>

        <div class="modal-body" id="ringCreationFail" style="background-image:url('{% static 'image/ringcreation/ic_notmatch.png' %}')">
            <div class="pull-left text-center">
                <img src="{{ user.get_profile_photo }}" /> 
                <h5>{% trans "Native" %}: {{ user.get_native_language }}</h5>
                <div id="replyRateInRingCreation">
                    {% with user.interaction_rate as irate and user.get_level as level%}
                    {% if level.name == 'N/A' %}
                        <span class="newbie">Newbie</span>
                    {% else %}
                        <div class="progress">
                            <span class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</span>
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="pull-right text-center">
                <img src="{{ profile_user.get_profile_photo }}" />
                <h5>{% trans "Learning" %}: {{ profile_user.get_learning_language }}</h5>
                <div id="replyRateInRingCreation">
                    {% with profile_user.interaction_rate as irate and profile_user.get_level as level%}
                    {% if level.name == 'N/A' %}
                        <span class="newbie">Newbie</span>
                    {% else %}
                        <div class="progress">
                            <span class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</span>
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
    
            <h4 class="clear text-center text-error">Languages don't match!</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
    </form>
</div>

