{% load i18n %}

{% if learning_language == language %}
<div class="alert alert-info"><a href="{% url 'helps' %}" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>{% trans "Explore how others are learning!" %} </div>
{% elif native_language == language %}
<div class="alert alert-info">{% trans "Check posts and make corrections." %}<a href="{% url 'helps' %}" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a></div>
{% elif language == 'mystudents' and user.is_authenticated %}
<div class="alert alert-info"><a href="{% url 'helps' %}" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>{% trans "Correct your students' posts." %} </div>
{% else %}
<div class="alert alert-info"><a href="{% url 'helps' %}" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>{% trans "Explore and see how others are learning!" %} </div>
<div id="undefinedLanguage">Language : {% if language %}{{ language }}{% else %}All{% endif %}</div>
{% endif %}


