{% load i18n filters %}

{% if tutors %}
<div id="bestTutor">
  <h4 id="textOfBestTutor" class="pull-left">
    {% if language == 'mystudents' %}
    {% with user.get_native_language as nl %}
    {% blocktrans %}Top Weekly <br/>{{ nl }} Tutors{% endblocktrans %}
    {% endwith %}
    {% else %}
    {% blocktrans %}Top Weekly <br/>{{ language }} Tutors{% endblocktrans %}
    {% endif %}
    <br/>
    <small>
      <a href="{% url 'weekly_rank' %}">{% trans 'All Rankings' %}</a>
    </small>
  </h4>

  <ul class="thumbnails ranks">
  {% for tutor in tutors %}
  <li>
      <a href="{% url 'ask_post_list' tutor.user.screen_name %}" class="thumbnail">
          <img class="media-object-64" src="{{ tutor.user.get_profile_photo }}" />
      <p>{{ tutor.points }} Points</p>
      </a>
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

