{% load i18n staticfiles %}

<div class="btn-group right">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    {% trans 'Create Ring' %}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">

    <!-- tutor request -->
    {% if not is_my_tutor or ring.status == 'rejected' %} 
        {% if not user.can_request_tutor %}
        <li><a id="modal-ring-btn" href="#modal-already-full-ring" data-toggle="modal" data-uid="{{ profile_user.facebook_uid }}" disabled>{% trans 'Be My Tutor' %}</a></li>
        {% elif profile_user.get_native_language == user.get_learning_language %}
        <li><a id="modal-ring-btn" href="#modal-ring" data-toggle="modal" data-uid="{{ profile_user.facebook_uid }}" >{% trans 'Be My Tutor' %}</a></li>
        {% else %}
        <li><a id="modal-ring-btn" href="#modal-no-match-language" role="button" data-toggle="modal" data-uid="{{ profile_user.facebook_uid }}">{% trans 'Be My Tutor' %}</a></li>
        {% endif %}
    {% elif ring.status == 'requested' %}
        <li class="muted"><a>{% trans 'Be My Tutor (Sent)' %}</a></li>
    {% elif ring.status == 'accepted' %}
    <li class="muted accepted"><a><img src="{% static 'image/alreadyChecked.png' %}" alt="Checked Icon">{% trans 'My Tutor' %}</a></li>
    {% endif %}

    <!-- follow request -->
    {% if is_my_student %}
    <li class="muted accepted"><a><img src="{% static 'image/alreadyChecked.png' %}" alt="Checked Icon">{% trans "My Student" %}</a></li>
    {% elif is_follower %}
    <li class="muted accepted"><a><img src="{% static 'image/alreadyChecked.png' %}" alt="Checked Icon">{% trans "Interesting Student" %}</a></li>
    {% else %}
        {% if user.get_native_language == profile_user.get_learning_language %}
        <li><a id="modal-follow-btn" href="#modal-follow" data-toggle="modal" data-uid="{{ profile_user.facebook_uid }}">{% trans "Mark as Interesting Student" %}</a></li>
        {% else %}
        <li><a id="modal-follow-btn" href="#modal-no-match-language-for-follow" data-toggle="modal" data-uid="{{ profile_user.facebook_uid }}">{% trans "Mark as Interesting Student" %}</a></li>
        {% endif %}
    {% endif %}
  </ul>
</div>
