{% load i18n %}
<div class="right">
  {% if user == profile_user and user.is_staff %}
  <a class="btn btn-success" href="{% url 'topic_list' user.get_native_language.name %}"><i class="fa fa-edit" style="vertical-align:middle"></i><span style="margin:5px">{% trans 'Topic' %}</span></a>
  {% endif %}
  <div class="btn-group" id="setting"> <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> {% trans "Setting" %}</button>
      <ul class="dropdown-menu pull-right">
        <li><a href="{% url 'profile_update' profile_user.id %}">{% trans "Change My Profile" %}</a></li>
        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'helps' %}">{% trans "Help/Tip" %}</a></li>
        <li><a href="{% url 'static_helps' 'privacy-policy' %}">{% trans "Privacy Policy" %}</a></li>
        <li class="divider"></li>
        <li><a href='#' class="invite_friends" data-from="{{ user.screen_name }}">{% trans 'Invite Friends' %}</a></li>
        <li><a href="{% url 'static_helps' 'how-do-you-think-of-lingring' %}">{% trans "Talk about LingRing" %}</a></li>
        <li><a href="{% url 'static_helps' 'contact-us' %}">{% trans "Contact Us" %}</a></li>
        <!--
        <li><a href="{% url 'static_helps' 'terms-and-conditions' %}">{% trans "Terms & Conditions" %}</a></li>
        -->
      </ul>
    </div>
</div>


