{% load i18n %}
<a href="{% url 'quizbook_list' profile_user.screen_name %}">
{% if user == profile_user %}
  {% if user.is_enough_posts and user.is_enough_corrections %}
    {% if user.is_solved_today_quiz %}
    <span>{% trans 'Quiz' %}</span>
    {% else %}
    <span>{% trans 'Quiz' %}</span><span class="text-info"> {% trans 'Ready' %}</span>
    {% endif %}
  {% else %}
  <span>{% trans 'Quiz' %}</span>
  {% endif %}
{% else %}
  <span>{% trans 'Quiz' %}</span>
{% endif %}
</a>
