{% load i18n thumbnail staticfiles filters %}

{% if not user.usermeta.view_lingring_think %}
<div class="alert alert-info event-lingring">
  {% trans ' How do you think of LingRing?' %}
  <a class="btn pull-right btn-small" href="{% url 'static_helps' 'how-do-you-think-of-lingring' %}">{% trans 'Talk to us!' %}</a>
  <div class="clearfix"></div>
</div>
{% endif %}

<div class="media user_detail">
    <div class="upperInfo">
        <a href="{% url 'helps' %}{% if user == profile_user %}#me{% else %}#profile{% endif %}" class="help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>

        <div class="clear"></div>
        <div class="photoAndID">
            <img class="media-object media-object-80" src="{{ profile_user.get_profile_photo }}">
            <h5>
              {% if profile_user.is_staff %}
              <img class="grade grade-xs" src="{% static 'image/crown.png' %}" />
              {% endif %}
              <span class="grade grade-xs grade-{{ profile_user.point.grade }}"></span> {{ profile_user.screen_name }}
              {% if is_my_tutor or is_my_student %}
              <a href="{% url 'search_chatroom' %}?receiver={{ profile_user.id }}"><img class="talkIcon" src="{% static 'image/talkIcon.png' %}" /></a>
              {% endif %}
            </h5>
        </div>
        <div id="levelBox">
            <div class="userInfo studyInfo">
                <span>{% trans 'Response Rate' %} : </span>
                {% with profile_user.interaction_rate as irate and profile_user.get_level as level%}
                <span>{{ level }}</span>
                {% if level.name == 'N/A' %}
                <div><a href="{% url 'helps' %}#replyRate "  class="linkStyle" {% trans "What's Response Rate?" %}</a></div>
                {% else %}
                <div class="progress">
                    <div class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</div>
                </div>
                {% if  level.name == 'Poor' %}
                <div><a href="{% url 'helps' %}#replyRate " class="linkStyle">{% trans "What's Response Rate?" %}</a></div>
                {% endif %}
                {% endif %}
                {% endwith %}
            </div>

            <div class="userInfo pointInfo">
                <span>{% trans 'Remaining Point' %} : </span>
                <a href="{% url 'point_list' profile_user.screen_name %}"><span id="displayedPoint">{{ profile_user.point }}</span></a>
            </div>
            {% if not profile_user.is_confirmed_email %}
            <div><a {% ifequal user profile_user %}href="{% url 'sent_confirm_email' %}"{% else %}href="#"{% endifequal %} class="label label-important" id="emailConfirmAlert"><i class="icon-exclamation-sign icon-white"></i> {% trans 'Please Verify Email' %}</a></div>
            {% endif %}
        </div>
        <div class="media-body">
            <p class="profileMessage">"{% if profile_user.description %}{{ profile_user.description }}{% else %}{% trans 'No profile message' %}{% endif %}"</p> 
        </div>
    </div>

    <div class="bottomInfo">
        <div>
            <div id="firstRow">
              <a class="btn" href="{% url 'growth' profile_user.screen_name %}">
                  <img src="{% static 'image/graph16.png' %}"> {% trans 'Report' %}
              </a>
              {% if user.is_anonymous %}
              {% elif user == profile_user %}
                {% include 'lang/user/_profile_setting_box.html' %}
              {% else %}
                {% include 'lang/user/_create_ring_box.html' %}
              {% endif %}
            </div>
        </div>

        <div class="clearfix"></div>

        <ul class="unstyled inline">
            <li class="{% if nav_me == 'post' or  nav_me == 'correction'%}active{% endif %}"><a href="{% url 'ask_post_list' profile_user.screen_name %}">
              <span>{% trans 'Journals' %}</span>
            </a></li>
            <li {% ifequal nav_me 'bookmarks' %}class="active"{% endifequal %}><a href="{% url 'bookmark_list' profile_user.screen_name %}">
              <span>{% trans 'Notes' %}</span>
            </a></li>

            <li class="{% if not nav_me %} active{% endif %}">
            {% include 'lang/user/_quiz_status.html' %}
            </li>
        </ul>
    </div>
</div>

<div class="clear"></div>
{% include 'lang/modal/privacy.html' %}
{% include 'lang/modal/help_indicate.html' %}

{% if not is_my_tutor and not profile_user.get_native_language == user.get_learning_language %}
  {% include 'lang/modal/ring_creation/no_match_language.html' %}
{% else %}
  {% if not user.can_request_tutor %}
    {% include 'lang/modal/ring_creation/already_full_ring.html' %}
  {% else %}
    {% include 'lang/modal/ring_creation/create_ring.html' %}
  {% endif %}
{% endif %}

{% if not is_follower %}
  {% if user.get_native_language == profile_user.get_learning_language %}
    {% include 'lang/modal/ring_creation/create_follow.html' %}
  {% else %}
    {% include 'lang/modal/ring_creation/no_match_language_for_follow.html' %}
  {% endif %}
{% endif %}

{% include 'lang/modal/help_invite.html' %}

{% if user == profile_user %}
  {% if profile_user.get_level.name == 'N/A' %}
  {% include 'lang/modal/newbie_reply_rate.html' %}
  {% endif %}

  {% if profile_user.get_level.name == 'Poor' %}
  {% include 'lang/modal/low_reply_rate.html' %}
  {% endif %}
{% endif %}
