{% extends 'base_site.html' %}
{% load i18n bootstrap_toolkit filters compress staticfiles %}

{% block title %} | {{ user }}'s Profile{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/user.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
<div class="profileImage pull-left">
    <img class="media-object media-object-80" src="{{ user.get_profile_photo }}"alt="userImage">
    {% block form_menu %}
    {% endblock %}
</div>

<form action="." method="POST" id="form_profile" class="tab-content">{% csrf_token %}
  {% block form %}
  {% endblock %}

<div id="doneButtonAtBottom">
    <button class="btn btn-primary gaevent pull-right" data-gac="Activation" data-gan="{% if form.screen_name %}Signup{% else %}Profileupdate{% endif %}" type="submit">{% trans 'Done' %}</button>
</div>

</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    $($("input[type='text']")[0]).focus();

    var learning_language = getCookie('learning_language');
    var native_language = getCookie('native_language');
    if (learning_language) {
      $("#id_learning_language").val(learning_language);
    }
    if (getCookie('native_language')) {
      $("#id_native_language").val(native_language)
    }
});
</script>
{% endblock %}
