{% load i18n thumbnail filters %}
<div class="user_detail">
    <div class="img_wrapper">
        <img src="{{ profile_user.get_profile_photo }}">
    </div>

    <div>
        <span class="label label-success">Native: {{ profile_user.get_native_language|capfirst }}</span>
        <span class="label label-warning">Learning: {{ profile_user.get_learning_language|capfirst }}</span><br/>
        <span>Posts : {{ profile_user.get_post_count }}, Corrections : {{ profile_user.get_correction_count }}</span></br>
    </div>
</div>

<div class="popoverButtonBox">
    <a class ="btn btn-block" href="{% url 'ask_post_list' profile_user.screen_name %}">{% trans 'Visit' %}</a>
    {% if user.is_authenticated %}
    {% if user|is_my_student:profile_user or user|is_my_tutor:profile_user %}
    <a class ="btn btn-block btn-info" href="{% url 'search_chatroom' %}?receiver={{ profile_user.id }}">{% trans 'Talk' %}</a>
    {% endif %}
    {% endif %}
</div>
