<div id="more_wrapper" class="content_wrapper">
    <a class="btn btn-primary btn-large btn-block span12" href="https://www.facebook.com/linguisticring">Contact to LingRing</a>
    <a class="btn btn-primary btn-large btn-block span12" href="{% url 'logout' %}">Logout</a>
</div>


