{% extends 'lang/user/form.html' %}
{% load i18n bootstrap_toolkit filters staticfiles %}

{% block form_menu %}
<a href="{% url 'profile_update' user.id %}">{% trans 'Profile' %}</a>
    <a href="#" class="active">{% trans 'SNS Setting' %}</a>
{% endblock %}

{% block form %}
<div id="sns_wrapper">
    <div class="alert alert-info">{% trans 'With your Facebook, your additional SNS will be shared only with your Rings, tutors and students.' %} </div>
  <div class="kakao">
      <div class="control-group">
          <label class="control-label" for="id_kakao">KakaoTalk ID</label>
          <div class="controls">
              <img src="{% static 'image/kakao.png' %}" />
              {{ form.kakao }}</div>
      </div>
  </div>

  <div class="line">
      <div class="control-group">
          <label class="control-label" for="id_line">Link ID</label>
          <div class="controls">
              <img src="{% static 'image/line.png' %}" />
              {{ form.line }}</div>
      </div>
  </div>

  <div class="skype">
      <div class="control-group">
          <label class="control-label" for="id_skype">Skype ID</label>
          <div class="controls">
              <img src="{% static 'image/skype.png' %}" />
              {{ form.skype }}</div>
      </div>
  </div>

  {{ form.message|as_bootstrap }}

</div>
{% endblock %}
