{% extends 'lang/user/form.html' %}
{% load i18n bootstrap_toolkit filters %}

{% block form_menu %}
    <a href="#" class="active">{% trans 'Profile' %}</a>
    {% if user.sns %}
    <a href="{% url 'sns_update' user.id %}">{% trans 'SNS Setting' %}</a>
    {% else %}
    <a href="{% url 'sns_create' user.id %}">{% trans 'SNS Setting' %}</a>
    {% endif %}
{% endblock %}

{% block form %}
<div>
    {{ form.screen_name|as_bootstrap }}
    {{ form.native_language|as_bootstrap }}
    {{ form.learning_language|as_bootstrap }}
    {{ form.location|as_bootstrap }}
    <br/>
    {{ form.email|as_bootstrap }}
    <label>{% trans 'Configuration for Email Subscribe' %}</label>
    <div class="subscribe">
    {{ form.subscribe_correction|as_bootstrap }}
    {{ form.subscribe_reply|as_bootstrap }}
    {{ form.subscribe_ring_request|as_bootstrap }}
    {{ form.subscribe_student_post|as_bootstrap }}
    </div>
    <br/>
    {{ form.description|as_bootstrap }}
</div>
{% endblock %}
