@import url("bookmark-form.css");
.nav-tabs li a {
  padding: 5px;
  border-radius: 2px;
}
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus {
  background-color: #e7e7e7;
  border: 1px solid #ddd;
}
.rating-form {
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.rating-form h5 {
  border-bottom: 1px solid #9ca4a8;
  padding: 10px 0;
  margin: 0;
  background-color: slategrey;
}
.rating-form h5 .title {
  color: #ffffff;
}
.rating-form .ratingWrapper {
  padding: 10px 0 0;
}
.rating-form .ratingWrapper > div {
  margin-bottom: 10px;
}
.rating-form .ratingWrapper img {
  height: 20px;
}
.rating-form span.title,
.rating-form .ratingWrapper .ratingItem {
  width: 125px;
  padding-right: 20px;
  display: inline-block;
  text-align: right;
}
.rating-form .media {
  padding: 5px 10px;
}
.rating-form .media blockquote {
  padding: 5px;
  background-color: whitesmoke;
}
.rating-form .media blockquote p {
  font-size: 16px;
}
.rating-form .media blockquote a {
  text-decoration: underline;
}
.rating-form .media > div {
  margin-left: 50px;
}
.rating-form .media > div textarea {
  height: 40px;
}
