@import url("bookmark-form.css");

.nav-tabs {
  li {
    a {
      padding: 5px;
      border-radius: 2px;
    }
  }

  .active a,
  .active a:hover,
  .active a:focus
  {
    background-color: #e7e7e7;
    border: 1px solid #ddd;
  }
}

.rating-form {
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-top:25px;
  margin-bottom: 10px;

  h5 {
    border-bottom: 1px solid #9ca4a8;
    padding: 10px 0;
    margin: 0;
    background-color:slategrey;
    .title {color:white}
  }
    .ratingWrapper {
      padding: 10px 0 0;
      > div { margin-bottom: 10px; }
      img { height: 20px; }
    }

    span.title, .ratingWrapper .ratingItem {
        width: 125px;
        padding-right: 20px;
        display: inline-block;
        text-align: right;
    }

    .media {
        padding: 5px 10px;
        blockquote {
            padding: 5px;     
            background-color:whitesmoke;
            p { font-size:16px}
            a {text-decoration:underline}
        }
        > div {
            margin-left:50px;
            textarea {height:40px}
        }
    }
}


