#bestTutor {
  padding: 10px;
  font-weight: 200;
  border: solid 1px #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 15px;
}
#bestTutor #textOfBestTutor {
  line-height: 32px;
  width: 27%;
  margin: 0 20px;
  color: #ec9615;
}
#bestTutor #textOfBestTutor small {
  font-size: 0.8em;
}
#bestTutor #textOfBestTutor small a {
  text-decoration: underline;
}
#bestTutor .ranks {
  width: 65%;
  margin: auto auto 0px 35%;
}
#bestTutor .ranks li {
  margin-bottom: 5px;
  width: 75px;
  display: inline-block;
}
#bestTutor .ranks p {
  margin: 3px;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 480px) {
  #bestTutor {
    padding: 5px;
  }
  #bestTutor #textOfBestTutor {
    font-size: 14px;
    line-height: 24px;
    width: 30%;
    margin: 10px 5px;
    min-width: 100px;
  }
  #bestTutor .ranks {
    margin: 5px auto auto 37%;
    width: 63%;
  }
  #bestTutor .ranks li {
    margin-bottom: 5px;
    width: 60px;
  }
  #bestTutor .ranks p {
    margin: 2px;
    font-size: 12px;
  }
}
