#bestTutor {
  padding:10px;
  font-weight:200;
  border:solid 1px #ddd;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  margin-bottom:15px;

  #textOfBestTutor {
    line-height: 32px;
    width:27%;
    margin: 0 20px;
    color:rgb(236,150,21);
    small { 
        a {text-decoration:underline;}    
        font-size: 0.8em;
    }
  }

  .ranks {
    width:65%;
    margin:auto auto 0px 35%;

    li {
      margin-bottom: 5px;width:75px;display:inline-block;
    }
    p {
      margin: 3px; font-size:12px; text-align: center;
    }
  }
}


@media (max-width: 480px) {
  #bestTutor {
    padding:5px;

    #textOfBestTutor {
      font-size:14px;
      line-height: 24px;
      width:30%;
      margin:10px 5px;
      min-width:100px;
    }

    .ranks {
      margin:5px auto auto 37%;
      width:63%;

      li { margin-bottom: 5px;width:60px;}
      p { margin: 2px; font-size:12px; }
    }
  }
}
