@import url("bookmark-form.css");

.sentence h5 { margin-top: 0; }
.media { 
    margin-bottom: 5px;
}

div.sentence { border-bottom: 1px solid #e8e8e8; }
.original-sentence { border: 1px solid #e8e8e8; }
.corrected_sentence { border: 1px solid #bce8f1; }
.original-sentence, .corrected_sentence {
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.text {
    padding: 5px;
    display: block;
}

.bottomLink {
  font-size: 11px;
  line-height: 20px;

  i {margin: auto 3px auto 15px;}
}
.bookmark-form button.btn.bottomLink, button.btn.btn-mini.btn-link.toggle-see-comments.bottomLink { padding:0;border:0}

div.item:hover, div.item:active {
  background-color: white;
  color: black;
}

.replies {
  .title {
    padding: 5px 0 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #999;
    border-bottom: 1px solid #e8e8e8;
  }
  .media .media-body {
    border: 1px solid #c5c99b;
    background-color: rgba(248, 228, 178, 0.3);
  }
}

@media (max-width:600px) { .notDisplayed {display:none}}
