#calendar-legend {
  margin-top: 40px;
  label {
    display: inline-block;
    background-color : rgba(255, 90, 69, 0.5);
    width:15px;
    height:15px;
    margin-right:5px;
    vertical-align:text-top;
  }
}

.clndr {
  width: 100%;
  text-align: center;

  .clndr-controls {
    border: 1px solid #eee;
    div {
      box-sizing: border-box;
      display: inline-block;
      padding: 10px 0;
      border-right: 1px solid #eee;
      &:last-child { border-right: none; }
    }
    .clndr-control-button {
      width: 20%;
      cursor: pointer;
    }
    .clndr-control-button:hover,.clndr-control-button:active {
        font-weight:bold;
        background-color:grey;
        color:white;
    }
    .month {
      width: 60%;
    }
  }

  .clndr-table {
    width: 100%;
    margin-top: 10px;

    td {
      padding: 10px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      &:first-child {
        border-left: 1px solid #eee;
      }
    }

    .header-days {
      .header-day {
        padding: 10px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #a5A0A5;
        background-color: #a5A0A5;
        color: #eee;
        &:first-child {
          background-color: #727272;
          border-left-color: #727272;
          border-bottom-color: #727272;
        }
        &:last-child {
          border-right-color: #a5A0A5;
        }
      }
    }
  }

  .day-contents {
    display: inline-block;
    padding-bottom: 2px;
    width: 20px;
  }
  .today .day-contents { border-bottom: 2px solid #a5A0A5; }
  .event {
    background-color: rgba(255, 90, 69, 0.5);
    color: #fff;
  }
}
