#calendar-legend {
  margin-top: 40px;
}
#calendar-legend label {
  display: inline-block;
  background-color: rgba(255, 90, 69, 0.5);
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: text-top;
}
.clndr {
  width: 100%;
  text-align: center;
}
.clndr .clndr-controls {
  border: 1px solid #eee;
}
.clndr .clndr-controls div {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  border-right: 1px solid #eee;
}
.clndr .clndr-controls div:last-child {
  border-right: none;
}
.clndr .clndr-controls .clndr-control-button {
  width: 20%;
  cursor: pointer;
}
.clndr .clndr-controls .clndr-control-button:hover,
.clndr .clndr-controls .clndr-control-button:active {
  font-weight: bold;
  background-color: grey;
  color: white;
}
.clndr .clndr-controls .month {
  width: 60%;
}
.clndr .clndr-table {
  width: 100%;
  margin-top: 10px;
}
.clndr .clndr-table td {
  padding: 10px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.clndr .clndr-table td:first-child {
  border-left: 1px solid #eee;
}
.clndr .clndr-table .header-days .header-day {
  padding: 10px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #a5A0A5;
  background-color: #a5A0A5;
  color: #eee;
}
.clndr .clndr-table .header-days .header-day:first-child {
  background-color: #727272;
  border-left-color: #727272;
  border-bottom-color: #727272;
}
.clndr .clndr-table .header-days .header-day:last-child {
  border-right-color: #a5A0A5;
}
.clndr .day-contents {
  display: inline-block;
  padding-bottom: 2px;
  width: 20px;
}
.clndr .today .day-contents {
  border-bottom: 2px solid #a5A0A5;
}
.clndr .event {
  background-color: rgba(255, 90, 69, 0.5);
  color: #fff;
}
