.grade {
  display: inline-block;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.grade-sm {
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
}
.grade-xs {
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}
.grade-bronze { background-image:url('grade/bronze_s.png'); }
.grade-silver { background-image:url('grade/silver_s.png'); }
.grade-gold { background-image:url('grade/gold_s.png'); }
.grade-diamond { background-image:url('grade/diamond_s.png'); }

label.label-grade {
  font-size: inherit;
  font-weight: inherit;
  display: inline;
  margin: inherit;
}
label.label-grade-bronze { background-color: #fff;  color: #CD7F32; }
label.label-grade-silver { background-color: #fff;  color: #C0C0C0; }
label.label-grade-gold { background-color: #fff;  color: #FFD700; }
label.label-grade-diamond { background-color: #fff;  color: #ACDDF5; }
