.legend {
  margin-bottom: 10px;
}
.legend span {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin-right: 2px;
  padding: 3px;
  font-size: 11px;
}
.legend span:last-child {
  margin-right: 0;
}
.title {
  font-size: 12px;
  font-weight: bold;
}
