#helpPage h4 {
    margin-top:90px;
    padding-top:40px;
    border-top:solid #c2c2c2 1px;
}

#helpPage h4:first-child {margin-top:10px;border-top:0px;padding-top:0px;}

#helpPage h5.sharp-link {
  padding-top: 60px;
}
