table thead tr.head td {
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgb(53, 148, 252);
}

table thead tr.amount td {
  background-color: rgb(179,214,246);
}

table tr td.numeric {
  text-align: right;
}
