form div {
  width: 100%;
  display: block;
  margin-top: 25px;
}
form ul {
  list-style: none;
  margin: 0;
}
form ul li {
  margin-right: 20px;
  float: left;
}
form div.unfloat ul li {
  clear:both;
}
input[type='checkbox'], input[type='radio'] {
  margin-top: -4px
}
textarea { width: 95%; }
.clearfix { margin-bottom: 10px;}
