.quiz-btn { margin-bottom: 10px;}
#quizScore { margin-bottom:20px;}
dl#results { margin-top: 15px; }
dl#results dt { margin-bottom: 5px;}
dl#results dd.last { margin-bottom: 20px; text-decoration: underline; margin-top:5px;}

#results dt img { width: 12px; padding-bottom: 2px;}
.feedresult { display: none; }


@media (max-width:480px){
    #quizScore h3 {font-size:17px;}
}

.accordion .alert {
  margin-bottom: 0;
  border-radius: 0;
}
.accordion .alert .close {
  right: 0;
}
