.choice {
  text-align:center;
  .nav {
    li {
      width: 33.3%;
      &:last-child { width: 33.4%; }
    }
  }
}

#choicePeriod {
  margin-bottom: 20px;
}

table.table {
  font-size: 12px;
}

#correctionRankingWrapper {
    #choicePeriod {
        border:solid 1px #e8e8e8;
        margin: 10px 0;
        padding:5px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
    }
    th {text-align:center}
    tr > td {text-align:center}
    tr > td img {vertical-align:text-bottom}
    tr > td > a > div {
        display:inline-block;
        width:65%;
        xmargin:0 14%
    } 
}
