@import url('sns.css');

#sns_wrapper { margin-top: 10px; }
#sns_wrapper img { height: 20px; }
#sns_wrapper li { padding-left: 0; margin-right: 10px; }

.linkInRing a img { height: 20px; }
.linkInRing a span { margin: 3px; vertical-align: middle;}
.linkInRing {margin-bottom:8px}
/* .linkInRing a, .linkInRing a:visited {text-decoration:underline}*/
#ringPage a.user_img img {
    border: solid 4px #dbdbdb;
    border-radius: 2px
}

.close { font-size: 11px; }

#recommend_tutors {
  margin-top: 10px;
}
#recommend_tutors .panel-body .thumbnails {
  margin: 10px 0; 
}
#recommend_tutors .panel-body .thumbnails li {
  width: 75px;
  float: left;
  margin: 0 0 5px 10px;
  text-align: center;
}
#recommend_tutors .panel-body .thumbnails li a {
  height: 90px;
}
#recommend_tutors .panel-body .thumbnails li img.sns {
  width: 19px;
  float: left;
  padding: 4px 1px 3px;
}
#recommend_tutors .panel-body .thumbnails li span {
  display: block;
  font-size: 12px;
  padding-top: 5px;
}
.unring button{
     padding: 0;
     cursor: pointer;
     border: 0;
     -webkit-appearance: none;
     font-size: 11px;
     font-weight: bold;
     line-height: 20px;
     background: transparent;
     opacity: 0.4;
 }

.linkToSnsSetting {
    margin-right:10px;
    margin-bottom:10px;
}
.linkToSnsSetting i {margin-right:5px}
