.set-border-radius(@radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

html,body {
  height:100%;
  width:100%;
  font-family: 'Helvetica Neue', Helvetica, 'Apple SD Neo Gothic', 'AppleGothic', 'Malgun Gothic', Arial, sans-serif;
}

body {padding:0px;background-color:rgb(179,214,246);}

table td.no-list {
    text-align: center;
    font-weight: bold;
    padding: 16px;
    font-size: 14px;
}
table caption {
    padding: 0 0 15px 0;
    font-weight: bold;
    text-align: center;
}

input[type="text"], textarea, select, input[class*="span"], textarea[class*="span"] {
  border-color: #e8e8e8;
  .set-border-radius(2px);
  box-shadow: none;
  -webkit-box-shadow: none;
}

blockquote { margin-bottom: 5px; }


.hidden_form { padding:0; margin:0; }

.clear {clear: both;}

.block {display: block;}

.bold {font-weight: bold;}

.no-margin {margin: 0;}

.user_img {cursor: pointer;}

.alert {text-align: justify;padding:8px 8px;}

.right {float:right;}

.media { margin: 0;}

.no-bg {background-color: transparent;}

.elapsed_time {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}

.well {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.nav { margin-bottom: 10px; }
.nav-tabs.nav-justified > li > a { 
    margin-bottom:0;
    border-radius:4px 4px 0 0;;
    -webkit-border-radius:4px 4px 0 0;;
    -moz-border-radius:4px 4px 0 0;;
    border-bottom:1px solid #ddd;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus { border: 1px solid #ddd;border-bottom-color:#fff; }
.nav-tabs.nav-justified > li {width:50%}    

.media .pull-left {
    float:left;
    margin-bottom: 0;
}
.modal form { margin: 0; }
.cr {color: #f00;}
.help-and-tip{margin-left:10px;margin-bottom:5px;}

#login_wrapper {
    text-align: center;
    margin: 0 auto;
}

#login_wrapper a img{width:300px;}

#login_wrapper h5{margin:0px auto 20px;color:green;}

.word-wrap {
    white-space: pre-line;       /* css-3 */
    white-space: -moz-pre-line;  /* Mozilla, since 1999 */
    white-space: -pre-line;      /* Opera 4-6 */
    white-space: -o-pre-line;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.media-body .user {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #999;
}

.user > a:link, .user > a:visited {color:#515151;text-decoration:none}

div.media-body div.media { color: black;}

img.media-object-80 {
    width:80px;
    height: 80px;
    max-height: 80px;
    .set-border-radius(2px);
}
img.media-object-64 {
    width:64px;
    height: 64px;
    max-height: 64px;
    .set-border-radius(2px);
}
img.media-object-40 {
    width:40px;
    height: 40px;
    max-height: 40px;
    .set-border-radius(2px);
}
img.media-object-32 {
    width:32px;
    height: 32px;
    max-height: 32px;
    .set-border-radius(2px);
}
img.media-object-16 {
    width:16px;
    height: 16px;
    max-height: 16px;
    .set-border-radius(2px);
}

.post-info {
  margin-bottom: 10px;

  h5 {
    padding-left: 25px;
    padding-right: 20px;
    word-wrap: break-word;
  }

  .fulltext {
    text-align: justify;
    font-size: 13px;
    color: grey;
    padding: 10px 10px 0;
    text-justify:inter-word; /* Only for IE */   
  }
}

.post-actions {
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  .set-border-radius(2px);
  padding: 5px;
}

#view-tab {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #e8e8e8;
}
#view-tab #allTab {
    padding: 11px 14px;
    xbackground-color: rgb(248,248,248);
}
.corrected_at { margin-bottom: 5px; height: 14px; text-decoration:underline; }


.UIEditButton { font-size: 11px; margin-left: 5px; }

#post_edit_form {
    textarea {
        margin-bottom: 5px;
    }
    .native-sentence-wrapper {
        margin-bottom: 20px;
    }
}

.sentence-wrapper {
    div.add-translation-wrapper {
        background-color:#d9edf7;
        border-color:#bce8f1;
        color:#3a87ad;
        padding: 3px 10px;
        .set-border-radius(2px);
        cursor:pointer;
    }
    .correction-create-form {
        padding: 3px 3px 0 3px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #e8e8e8;
        button { padding: 4px 7px 4px 0; }
    }
    textarea {
        width: 100%;
        margin-bottom: 0;
        box-sizing: border-box;
    }
}
div.add-translation-wrapper {
  margin-bottom: 25px;
}

div.sentence {
  border: solid 1px #e8e8e8;
  border-bottom: none;
  .set-border-radius(2px);
  margin-bottom: 15px;

  div.original-sentence, div.child {
    border-bottom: solid 1px #e8e8e8;
  }

  div.original-sentence {
      background-color: rgb(241,241,241);
      position:relative;
      span { display: block; }

      .context, .os { padding: 5px; }
      .context + .native-sentence { padding: 3px 5px 0 5px; }
      .native-sentence {
        padding: 0 5px 3px 13px;
        font-size:12px;
        color:gray;
      }
  }

  div.original-sentence div.original-sentence{
    background-color:transparent;
  }

  .correction {
     padding-top: 5px;
     .correctionInfo {
       padding: 0 5px;
     }
  }
}

div.sentence div.child{
    padding: 0;
    min-height: 36px;
    word-wrap: break-word;

    > div.correctionForm { 
        padding:0 3px;
        background-color:#f1f1f1;
        textarea {
            margin:3px 0px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            width:100%;
            border:none;
            border-top:solid 1px #e8e8e8;
            border-bottom:solid 1px #e8e8e8;
            border-radius:0;
            -webkit-border-radius:0;
            -moz-border-radius:0;
        }    
    }
}

.corrected_sentence {background-color: rgba(214,236,245,.3);}
div.sentence div.child div.corrected_sentence {
    display: block;
    margin: 0 0 5px 0;
    padding: 4px 6px 0 4px;
    background-color: transparent;
}


div.context_wrapper span.text img {border: none;}
div.comment_wrapper div.context_wrapper {margin-top:-3px}
div.sentence div.child form {margin-bottom: 0;}
div.sentence div.child form input {
    margin-bottom: 0;
    width: 97%;
}

div.sentence div.child {
  .comment_wrapper {
    background-color: #edeff4;
    padding-top: 1px;

    input { font-size: 12px; }
    div.media{
      margin: 5px 5px 0px;
      a img{ width: 32px; }
    }
  }
}

div.sentence div.comment_wrapper div.media-body {
    padding-left: 5px;
    .set-border-radius(4px);
    .reply_context { margin-left: 0; }
}

div.sentence div.child div.comment {
    font-size:12px;
    margin-left:20px;
    padding: 5px;
    border:1px solid #e3e3e3;
    background-color:#f5f5f5;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
}

div.sentence div.child div.reply input[type="text"], div.overallComment div.child div.reply input[type="text"], .overallComment .reply input[type="text"], .exampleBox .reply{
    width: 98%;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    height: 24px;
    border: none;
    .set-border-radius(2px);
    margin-bottom: 0;
}

h5.subtitle {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ccc;
}

span.say_thanks {
    display:inline-block;
    color: #f0ad4e;
}
.say_thanks + .media-body {
    display:inline-block;
    padding-left: 15px;
}

.item-content-wrapper {color: black;}
.item-content-wrapper span.title {
    display:block;
    font-weight: bold;
    font-size: 14px;
}
.item-content-wrapper div {padding-top: 8px;}

.content_wrapper {background-color:white;padding-top:10px;}
.content_wrapper .nav { font-size: 12px; }

.navbar-fixed-top {margin-bottom: 0;}

.user_detail {
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.upperInfo {
    background-color:#444;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    color:white;
    text-align:center;
}

.upperInfo a.help-and-tip {margin: 0px 10px 0 0; float:right;}

.upperInfo img{
    margin:0px auto;
    padding:4px;
    background-color:white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.upperInfo p {
    background-color:rgb(82,82,82);
    border-radius:5px;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.upperInfo .media-body {text-align:center;}

.profileMessage { margin: auto 7px}


.bottomInfo {
    font-size: 0;
    padding:0px;
    background-color:#e5e5e5;
    border: 1px solid #d4d4d4;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}

.bottomInfo > ul {
    margin-bottom:0px;
    border-top:1px solid #c8c8c8;
    font-size:0;
}

.bottomInfo > ul > li:hover, .bottomInfo > ul > li:active{background-color:white}

.bottomInfo > ul > li a:hover, bottomInfo > ul > li a:active, bottomInfo ul li a:visited, bottomInfo ul li a:link {text-decoration:none}

.bottomInfo > ul > li {
  font-size: 12px;
  padding: 0;
  width: 33.3%;

  > a {
    display: block;
    padding: 10px 12px;
    font-size: 12px;
    color:#696969;
    font-weight: bold;
    border-right: 1px solid #c8c8c8;
    text-align: center;
    &:hover { color: #000; }
  }

  &:last-child {
    width: 33.4%;
    a { border-right: none; }
  }
  &.active {
    background-color: #c8c8c8;
  }
}


.bottomInfo .btn {margin:5px;}

#innerContent {background-color:rgb(217,235,236);}

#correctionPageWrapper.tab-content {overflow:hidden;}

.contentTitle {border-bottom: 1px solid #e8e8e8;}
.contentTitle.journal {border-bottom: 1px solid transparent; }
.contentTitle h4 {margin:5px auto;}
.contentTitle img { float:left; margin-right:10px;height:30px}

.popover {padding: 0;}
.popover div {padding: 0;}
.popover-title {
    background-color: #1b1b1b;
    color: #999;
}
.popover-content .user_detail {
    margin: auto;
    padding: 0 5px;
    text-align: center;
}

.popover-content .user_detail .img_wrapper {
    display: block;
    padding: 0;
    margin: 0;
    height: 200px;
    max-height: 200px;
}
.popover-content .user_detail .img_wrapper img {
    max-height: 200px;
    max-width: 201px;
}
.popover-content .nav_me { border-bottom: 1px solid #e8e8e8;}
.popover-content .nav_me li {
    background-color: #fff;
    color: #000;
}
.popover-content .nav_me a:hover li {
    background-color: #e8e8e8;
    color: #fff;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.popoverButtonBox {width:90%;margin:10px}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {padding: 0 5px;}
.navbar-fixed-bottom .navbar-inner {
    padding: 5px 5px 0;
    min-height: 25px;
}

.navbar-inner .menus {max-width:600px;margin:0 auto;}

.upperInfo .navbar-inner {border-top-left-radius:1px;border-top-right-radius:1px;}

.navbar .nav > li > a { padding: 10px 12px 10px;}
.user_detail, 
.user_detail div.media-body {overflow: visible;}
p.description {
    margin-bottom: 5px;
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.dropdown-menu.left {
    right: auto;
    left: 0;
}

#chat_wrapper div span.chat-time {
    font-size: 10px;
    color: #999;
}

#chat_wrapper div.media div .chat-body {
    word-break:normal;
    text-align:left;
    font-size:12px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#chat_wrapper {
    position:relative;
    height:100%;
    padding-bottom:40px;
}

.icon-post {
    background-position: 0;
    background-image:url("icon/post.png");
}

.active .icon-post{
    background-position: 0;
    background-image:url("icon/post_active.png");
}

.icon-correct {
    background-position: 0;
    background-image:url("icon/correct.png");
}

.active .icon-correct{
    background-position: 0;
    height: 20px;
    background-image:url("icon/correct_active.png");
}

.icon-message {
    background-position: 0;
    background-image:url("icon/message.png");
}

.active .icon-message{
    background-position: 0;
    background-image:url("icon/message_active.png");
}

.icon-me {
    background-position: 0;
    background-image:url("icon/me.png");
}

.active .icon-me{
    background-image:url("icon/me_active.png");
}

#modal-grade-up .modal-body { padding: 0; }
#modal-grade-up .modal-body img { width: 100%; border-bottom: 1px solid #eee; }
#modal-grade-up .modal-body .text-center { margin: 10px 0; }

.help-inline {vertical-align: top;}
.help-content-body {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.child {
    &.comment_form {
      border-top: none;
    }
}

.normal-info img,.warning-info img {width:20px; margin-right:10px;}

.tutorialHeader {padding-left: 20px;}
.tutorialParagraph {
    padding: 10px 10px;
    line-height: 180%;
    margin: 0 20px;
}

.container {
    /* 트위터 따라하기 중. 현재, 600 이나 향후, 사이드 추가하고 메인을 500>으로 줄일 것임 */
    max-width: 600px;
    padding-top:41px;
    background-color:#ffffff;
    height:95%;
}

#landingContainer {margin:0px auto 30px;}

#landingContainer #landingUpper{
    background-color: rgb(128, 218, 242);
    background-image:url("../image/landingpage/bg_map_b.png");
    background-repeat:no-repeat;
    background-position:center;
}

#landingContainer #landingUpper #landingUpperInner {
    max-width:700px;
    margin:auto;
    padding:10px;
}

#landingContainer .explanationForEachImage{
    color:#7e848f;
    font-family:'Gloria Hallelujah', cursive;
    display:inline-block;
}

#landingContainer #landingUpperInner a:link, #landingContainer #landingUpperInner a:visited {color:white;text-decoration:none}

#landingContainer #landingUpper #landingUpperInner #landingLogo img:first-child{margin-right:15px;}

#landingContainer #landingUpper #landingUpperInner {
    vertical-align:middle;
    color:white;
}

#landingBottom {
    background-color: white;
    color: rgb(168,168,168);
    width: 100%;
    margin-top:20px;
}

#landingBody {
    min-height:100%;
    background-color:#ffffff;
}
.navbar-inner {
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px
}

/* float:left 된 왼쪽 박스 영역을 침범하지 않기 위함 */
.imageBox { text-align: center; }
.imageBox img { max-width: 80%;max-height:200px; }

#content {
    background-color: white;
    min-height:98.5%;
    position:relative;
}

.reply_wrapper {
    padding: 5px;
    background-color: #edeff4;
}
.reply {
    input { margin-left:5px; }
}
.child div .reply .reply_context {margin-bottom:5px;}
.sending {
  padding: 0 12px 0 40px;
  text-align: center;
  height: 34px;
  line-height: 28px;
  font-size: 12px;
  color: darkorange;
  display: none;
}

select[id="id_native_language"]{max-width:95%}
select[id="id_learning_language"]{max-width:95%}
select[id="id_location"]{max-width:95%}

#post_delete_form {
    display: inline-block;
    margin: 0;
    .btn { padding: 0; }
}

.panel .panel-body .media {padding: 10px; border-bottom: 1px solid #e3e3e3;}
.panel .panel-body .last {border-bottom: none;}

/* customized fb button */
.btn-fb {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #3B5998;
    *background-color: #3B5998;
    background-image: -moz-linear-gradient(top, #3B5998, #3B5998);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B5998), to(#3B5998));
    background-image: -webkit-linear-gradient(top, #3B5998, #3B5998);
    background-image: -o-linear-gradient(top, #3B5998, #3B5998);
    background-image: linear-gradient(to bottom, #3B5998, #3B5998);
    background-repeat: repeat-x;
    border-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B5998', endColorstr='#3B5998', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-fb:hover,
.btn-fb:active,
.btn-fb.active,
.btn-fb.disabled,
.btn-fb[disabled] {
    color: #FFFFFF;
    background-color: #3B5998;
}

.ring_response_form {display:inline-block;margin-top:10px;margin-right:50px;}

.reply_btn {display:none}

#linkToPage {margin-top:30px;}
#linkToPage img {height:30px;}
.comment_wrapper .media .media-body div, .overallComment, .comment-wrapper div.media div{
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size:12px;
    line-height:160%;
}

.comment_wrapper .media .media-body .muted, .overallComment .muted, .exampleBox .reply .muted, .comment-wrapper .muted {font-size:11px;}

.overallComment {
  background-color: rgba(237, 250, 255, 0.99);
  border: 1px solid steelblue;
  .set-border-radius(2px);
  margin-bottom: 30px;
  padding: 0;

  .title {
    font-weight:bold;
    font-size:larger;
    color:white;
    background-color:steelblue;
    padding:10px 10px 10px 20px;
  }

  .media {
      padding:5px;
    }

  textarea { 
    width: 100%;
    margin: 0;
    border: 1px solid transparent;
    .set-border-radius(2px);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
  }

  form {
      padding:5px;
      margin-bottom:5px;
  }
}

.bottomInfo .option .btn-link {
    background-color:floralwhite;
    font-weight:bold;
    border-radius:5px;
}

.bottomInfo .option .btn-link:hover, .bottomInfo .option .btn-link:focus, .bottomInfo .option .btn-link:active {text-decoration:none;}

#receivedRequest button {margin-right:40px}

#ringPage .panel-body form {margin-bottom:5px;}

/* level of label */
label.level {color:#FFFFFF; width:55px;text-align:center;}
label.level-inverse {}
label.level-beginner{background-color:rgba(71,130,255,0.7);}
label.level-good{background-color:rgba(71,130,255,.8);}
label.level-very{background-color:rgba(71,130,255,.9);}
label.level-excellent{background-color:rgba(71,130,255,1);}

.ask-view-interaction {
    font-size: 0.8em;
    font-weight: normal;
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0 0 0 6px;
}
.ask-view-interaction li {
    float:left;
    padding: 4px 12px 4px 0;
    color: #08c;
    cursor:pointer;
}
.ask-view-interaction li:hover { text-decoration:underline;}
.ask-view-interaction li.active {
    color: #4862ff;
    font-weight: bold;
}
.ask-view-interaction li a {padding-left: 3px;}
.ask-view-interaction li span.icon {margin-top: -2px;}
.ask-view-interaction li span.icon:hover {text-decoration:none}

.icon {
    width: 18px;
    height: 15px;
    margin-top: -2px;
}

span.tags { 
    font-size: 14px;
    margin-left: 5px;
    color: #3a87ad;
}

.child > div > img {
  .set-border-radius(2px);
}

.form-inline {text-align:center;margin-top:20px;}
.form-inline a{display:block;width:190px;margin:15px;}
.form-inline > div {display:inline-block;vertical-align:top;}

#emailExplanation {margin:20px 25px;}

#emailConfirmation {
    margin-top:60px;
    margin-left:60px
}


.postInputBox {
    width:90%;
    margin:0px auto;
    input, textarea {width:100%;}
    ul { margin-top: 10px; }
}

div.item, div.noteItem {
    padding: 10px;
    margin-bottom: 10px;
}
div.item .bump-up {
    cursor: pointer;
    margin: 0 0 0 10px;
}

div.item:hover, div.item:active {
  background-color: #E2F1FA;
  color: #226DB3;
}

.noteItem {border-bottom:solid 1px #e8e8e8;}

form#firstPost .control-group .controls {margin:0}

#emailBottom a {margin:auto 20px 10px auto}
.control-group .controls .controlButtonAtBottom, #emailBottom {
    max-width: 580px;
    width: 100%;
}

.control-group .controls .controlButtonAtBottom button[type="submit"]{
    margin: 0 20px 0 10px;
}

#btnContainer { width:300px;margin:auto auto;}

.landingBtn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 120%;
    padding-top:5px;
}

.loginBtn{ background: #3b5898;height:53px;}
.tourBtn { background: rgb(244,90,20); height:50px;line-height:50px;}


.loginBtn:hover, .loginBtn:active {background: #12306b;}
.tourBtn:hover, .tourBtn:active {background: rgb(167,55,7);}

.landingBtn img {margin-right:15px;height:90%;}

#link_to_example, #learning_language_select {width:90%;margin:auto auto;display:block}
#landingContainer .text-center #btnContainer > a div.landingBtn.loginBtn, #landingContainer .text-center #btnContainer > a.see_example {color:white;text-decoration:none;}
#landingMiddle {
    max-width:700px;
    margin:auto;
    position:relative;
    top:-85px;
}
#landingContainer #landingUpper{height: 400px; }

#landingContainer #landingUpper #landingUpperInner #landingLogo{
    padding-top:90px;
    margin-bottom:50px;
}
#landingContainer .explanationForEachImage{
    display:block;
    font-size:16px;
}
#landingContainer #landingMiddle #landingExplanationImage .eachImage {
    display:inline-block;
    width:32%;
    vertical-align:top;
    text-align:center; 
}
#landingContainer #landingMiddle #landingExplanationImage img{ margin-left:85px;}
#landingContainer #landingMiddle #landingExplanationImage img:first-child{margin-left:0px;}
#landingContainer #landingUpper #landingUpperInner #landingExplanation{font-size:130%}
.firstPostHelpLink {margin:10px 30px 10px 30px;}
#content {padding:10px;}
.contentTitle {margin:15px auto 0px;padding:6px;}
.showCount {font-size:14px;}

textarea[id="id_description"], textarea[id="id_message"]{width:90%}

ul.errorlist {
    padding: 0;
    margin-top:5px;
    color: red;
}
.upperInfo .photoAndID, .upperInfo #levelBox {display:inline-block}
.upperInfo #levelBox {vertical-align:top; text-align:left;}
.upperInfo #emailConfirmAlert {
    font-size:11px;
    margin-left:15px;
}

.userInfo {
    font-size:12px;
    margin-top:5px;
    margin-left:15px;
    color:white;
}
.userInfo a { color: white; }

.studyInfo { min-height:60px;}

.studyInfo .progress, #ringCreation .progress{
    height:17px;
    width:80px;
    margin-bottom: 3px;
}
.userInfo.studyInfo .linkStyle {
    color:rgb(16,192,16);
    text-decoration:underline;
}
.replyRateInPostBox .progress{
    height: 17px;
    width: 100%;
    margin: 3px 0;
    .set-border-radius(2px);
}
.replyRateInPostBox .progress .bar {font-size:10px}
.photoAndID h5 img {
  padding: 0px;
  background-color: transparent;
}
.newbie { 
    font-size:10px;
    color:white;
    background-color:#999;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    width:50px;
    height:17px;
    display:inline-block;
} 

#ringCreation #replyRateInRingCreation {font-size:12px}

.pointInfo { margin-bottom:7px;}

.pointInfo a, .pointInfo a:visited {color:white}
.pointInfo a:hover, .pointInfo a:active {color:yellow; font-size:16px;}

.pointInfo #displayedPoint {text-decoration:underline}

#writingExample {
    background-color:white;
    padding:5px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}

.exampleBox #writingExampleFullText {
    margin-left:45px;
    padding:10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    background-color:white;
    line-height:140%;
    font-size:12px;
}

.exampleError {color:red}
.examplePencil {width:40px;}

#firstWriting {margin:20px auto 0px}

#helpWarning {
    background-color:rgba(185,74,72,.85);
    color:#fff;
    font-weight:bold;
    font-size:12px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    padding:3px;
}

#helpPage img.helpImg {
    margin-right:5px;
    border:solid white 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width:200px
}

#quizReady {color:#08c }

#ringCreation {
    background-position:center 30px;
    background-repeat:no-repeat;
    background-color:rgb(230,230,230);
}

#ringCreationFail {
    background-position:center 30px;
    background-repeat:no-repeat;
    background-color:rgb(230,230,230);
}

.ringMatchTextColor {color:rgb(104,182,219)}

#helpPage .modal-body dt, #helpPage .modal-body dd, #modal-help-home .modal-body dt, #modal-help-home .modal-body dd {margin-left:40px}
#helpPage .modal-body dd, #modal-help-home .modal-body dd {font-size:smaller}

li.snsInfo img {height:20px;margin-right:5px;}

ul.nav-tabs-by-two>li>a,
ul.nav-tabs-by-three>li>a,
ul.nav-justified>li>a {background-color:#eee}

.nav-tabs-by-two,
.nav-tabs-by-three
{ margin-bottom: 10px;}

ul.nav-tabs-by-two li {
    width:50%;
    text-align:center;
}
ul.nav-tabs-by-three li {
    width:33.3%;
    text-align:center;
}


.navJournal > li > a {color:rgb(136,153,166)}

#ringManual a {text-decoration:underline;font-size:smaller;margin-left:15px;}

#tabTalk .item,#tabTalk .media {margin-bottom:0px}

.exampleBox {
    background-color:rgba(214, 236, 245, 0.65);
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin-bottom:10px;
    padding:10px 10px 10px 10px;
}

#exampleBoxBorder {
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:solid 10px rgba(214,236,245, .65);
}

#exampleBoxBorder .sentenceBox {
    margin-left:40px;
    margin-right:10px;
    border:0;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    line-height:140%;
    font-size:12px;
    padding:4px;
}

#exampleBoxBorder .originalSentence { background-color:rgba(255,239,240,.4);}

#exampleBoxBorder .correctedSentence {
    margin-top:7px;
    background-color:rgba(214,236,245,.3);
}

div#tipForCorrection {
    border:solid 1px rgb(180,180,180);
    padding-top:8px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    max-width:300px;
    margin:auto;
}

.exampleContainer { 
    padding:10px;
    
    .overallCommentTitle {
        font-weight:bold;
        margin-bottom:20px;
        margin-top:5px;
        color:rgb(51,61,177);
    }
}

ul.nav > li .numberInfo { font-size:16px; }
.originalPencilIcon {width:40px;margin-top:6px}
.noteInfo {width:40px;margin-top:2px}
.talkMessage {
    display:inline-block;
    margin:0px 10px;
    word-break:break-all;
    max-width:70%;
}
.explanation {font-size:smaller;}
#pointTitle {margin-bottom:50px}
#pointHistoryImage {width:100%;margin:15px 0;}
#undefinedLanguage {
    font-size:15px;
    font-weight:bold;
    margin-top:10px;
    margin-left:15px;
    margin-bottom:10px;
}

.snsMessage {
    background-color:rgb(228,226,222);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    padding:4px;
    margin-top:10px;
}

.snsTitle {margin:10px 0 0 0;}

#loginTrouble .well img.pull-left{
    margin-right:10px;
    margin-bottom:10px;
    height:50px;
}
#loginTrouble .well > a {margin:5px 5px 5px 0;}
#loginTrouble .well > img{height:30px; margin-bottom:5px;}

#loginTrouble .well a{
    margin-right:15px;
    text-decoration:underline;
}
#loginTrouble > .well > div {margin-top:15px}
#loginTrouble textarea {
    width:97%;
    margin:0 auto 10px;
}

.averageScore span:first-child {margin-right:5px;font-weight:bold;color:rgb(172,172,172)}
.averageScore {text-align:right;margin-top:10px}
.back-btn {
    color: white;
    text-shadow: none;
}

.back-btn:hover {color: white;}

#following img {margin: auto 5px auto 0;}
#follow_tutor img {margin: auto 5px auto 0;}

.tab-pane blockquote {margin-left: 5px;}
#listOption {margin-left:10px}
.modal {max-width:560px;}


@media (max-width: 979px) {
    .navbar-fixed-top {   position: fixed; }
    .navbar-fixed-bottom{ position: fixed;}
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }
    .modal-header {padding:0px 10px;}
    .modal-body{padding:5px}
    .modal {max-width:560px;margin:auto;}
}

@media (max-width:699px) {
    #landingMiddle {top:-60px}
    #landingMiddle .longExplanation{display:none}
    #landingContainer {margin-bottom:40px}
    #landingContainer #landingUpper #landingUpperInner #landingLogo{
        padding-top:15px;
        margin-bottom:15px;
    }

    #landingUpperInner #landingLogo img {width:50%;}
    #landingUpperInner #landingLogo img:first-child {width:18%;}

    #landingContainer #landingUpper{ height: 240px;}
    #landingContainer #landingUpper #landingUpperInner #exampleButton{display:none}
    .firstPostHelpLink {margin:10px 15px;}
    #landingContainer #btnContainer {max-width:70%}
    .landingBtn {
        font-size:100%;
        padding-top:2px;
    }
    .loginBtn {height:43px;}
    .tourBtn {height:40px;line-height:40px;}
}

@media (min-width:600px) {
    #emailBottom {position: absolute;bottom:10px;}
    #firstWritingContainer {
        width:95%;
        padding:5px;
        margin:auto;
        background-color:rgb(238,238,235);
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
    }

}

@media (max-width:600px) {
    ul.nav-tabs-by-two,
    ul.nav-tabs-by-three {font-size:12px}
}

@media (max-width: 480px) {
    .upperInfo {padding:13px 0px;}
    .bottomInfo .btn {padding:4px 5px;font-size:12px;}
    .upperInfo .media-heading {font-size:18px;}
    .contentTitle {margin:10px auto 0px;padding:2px 5px 2px 5px;} 
    .contentTitle h4{font-size:14px;}
    .contentTitle img { float:left; margin-right:10px;height:24px}
    .media-body .item-content-wrapper {font-size:12px;}
    .btn-group .right {
        right: 0;
        left: auto;
    }
    #content {padding:4px;}
    .showCount {font-size:12px;}
    .modal-body h5, .modal-body #linkToPage, .modal-body ul li, .modal-body p, .modal-body ol li {
       font-size:12px;
       line-height:14px;
   }
   /*.upperInfo {
        padding-top:5px;
        padding-bottom:7px;
    }*/
    .nav-tabs > li > a { position:relative;padding-right:5px; padding-left:5px}
    #tutor_notifications, #student_notifications, #talk_notifications { position:absolute; right:3px}
    button.btn.btn-xs.btn-link.bump-up.pull-right { float:right }
    #ringPage button.btn.btn-primary.btn-mini.pull-right {margin-left:10px}
    span#my_post_badge.badge.badge-important { position:absolute;padding:2px 4px;}
    div.context_wrapper {margin-bottom:5px}
    .navbar-inner .menus .badge {padding:2px 4px}
    .noDisplayUnder480px {display:none}
}


#firstRow div .pull-right { display: none; }
#firstRow div.open .pull-right { display: block; }

.point-message {
    width: 43px;
    right: 10px;
    text-align: right;
    position: absolute;
    top: 10px;
    z-index: 1029;
    border-radius: 50%;
    line-height: 53px;
    font-size: 24px;
}



.grade {
  display: inline-block;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.grade-sm {
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
}
.grade-xs {
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}
.grade-bronze { background-image:url('grade/bronze_s.png'); }
.grade-silver { background-image:url('grade/silver_s.png'); }
.grade-gold { background-image:url('grade/gold_s.png'); }
.grade-diamond { background-image:url('grade/diamond_s.png'); }

label.label-grade {
  font-size: inherit;
  font-weight: inherit;
  display: inline;
  margin: inherit;
}
label.label-grade-bronze { background-color: #fff;  color: #CD7F32; }
label.label-grade-silver { background-color: #fff;  color: #C0C0C0; }
label.label-grade-gold { background-color: #fff;  color: #FFD700; }
label.label-grade-diamond { background-color: #fff;  color: #ACDDF5; }

.shareBySNS {margin-bottom:15px;}

ins {
    color : red;
    text-decoration:initial; 
    background-color:transparent !important;
}
del { 
    display: none;
    background-color:rgb(160,221,255) !important;
    padding-left:4px;
    padding-right:4px;
}
.bookmark-form { display: inline; }
img.talkIcon {width:22px}


.dropdown-menu>li>a { color: #0088cc; }
.dropdown-menu>li.muted>a { color: #999; }
.dropdown-menu>li.accepted>a { color: #000; }
.dropdown-menu>li.accepted img {width:14px;height:14px;margin-right:5px}
.dropdown-menu>li.muted>a:hover, .dropdown-menu>li.muted>a:focus {
  background-color: transparent;
  background-image: none;
  cursor: default;
}

#setting ul.dropdown-menu>li>a { 
  color:#333;
  &:hover { color: white; }
}

#topic-read-form {
  margin-bottom: 0;
  display: inline-block;
  button.btn {
    line-height: 14px;
    padding-top: 0;
  }
}

.event-lingring { line-height: 24px; }

@import "topic.less";

