.kakao { color: #fcdb11; }
.kakao input { border: 1px solid #fcdb11; }
.line { color: #05c402; }
.line input { border: 1px solid #05c402; }
.skype { color: #50c2e9; }
.skype input { border: 1px solid #50c2e9; }

input[id="id_screen_name"], input[id="id_email"],
input[id="id_kakao"], input[id="id_line"], input[id="id_skype"]
{max-width:90%}

