.send_message_wrapper {
    padding: 5px 0;
    height: 30px;
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    bottom:0px;
    left:0px;
    background-color:rgb(231,231,231);

    > div {
        width: 100%;
    }

    input[type='text'] {
        width: 86%;
        position:relative;
        left:10px;
    }

    button.btn {
        position:absolute;
        right:7px
    }
}

@media (max-width:600px) {
    .send_message_wrapper input[type='text'] {
        width: 82%;
        left:5px;
    }
}

@media (max-width:480px) {
    .send_message_wrapper input[type='text'] {
        width: 74%;
        left:5px
    }
    form[id=send_message] button.btn {
        width:18%;
        font-size:13px;
    }
}
