.topicBox > .pull-left { margin-right: 10px; }
.topicBox {
  background-color: rgb(255,255,204);
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 10px;

  > h5 {
    margin: 0px;
    color: rgb(124,179,228);
  }
}

