.topicBox > .pull-left {
  margin-right: 10px;
}
.topicBox {
  background-color: #ffffcc;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 10px;
}
.topicBox > h5 {
  margin: 0px;
  color: #7cb3e4;
}
