@import url('sns.css');
#sns_wrapper img {
  height: 30px;
  margin-bottom: 10px;
}
#sns_wrapper {
  color: #000;
}
form[id="form_profile"] {
  margin: 30px auto auto 140px;
}
.profileImage img {
  margin: 30px auto 10px 20px;
  border: solid thick #b1b1b1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.profileImage a,
.profileImage a:hover {
  display: block;
  border: 1px solid #e0e0e0;
  text-align: right;
  font-size: 13px;
  padding: 8px 5px 8px 4px;
  color: #a6a6a6;
  border-left: 1px solid #e0e0e0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
}
.profileImage a:hover {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.profileImage a.active,
.profileImage a:hover {
  text-decoration: none;
  border: 1px solid #e0e0e0;
  background: #cccacb;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #ffffff, #cccacb);
  /* Safari */
  background: -o-linear-gradient(right, #ffffff, #cccacb);
  /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffff, #cccacb);
  /* Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffff, #cccacb);
  /* Standard (must be last) */
  color: #000;
  xborder-right: 1px solid #ffffff;
  font-weight: bold;
}
#doneButtonAtBottom button {
  margin-right: 30px;
}
@media (max-width: 600px) {
  .profileImage img {
    margin: 10px auto 10px 0;
  }
  form[id="form_profile"] {
    margin: 5px auto auto 120px;
  }
  #doneButtonAtBottom button {
    margin-right: 10px;
  }
  input[id="id_kakao"],
  input[id="id_line"],
  input[id="id_skype"] {
    max-width: 70%;
  }
}
.subscribe {
  padding-left: 20px;
}
