{% extends 'base_site.html' %}
{% load i18n staticfiles thumbnail filters compress %}

{% block fb_specifictag %}
<meta property="og:title" content="{{ ask.user.screen_name }}: Learning {{ ask.language }} on Ling Ring">
<meta property="og:url" content="http://lingring.net/post/{{ ask.id }}/">
<meta property="og:description" content="{{ ask.context }}">
<meta property="og:image" content="http://lingring.net/static/image/logoFBOG_1.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="200">
{% endblock %}

{% block title %}, the Language Exchange | {{ ask.user.screen_name }}'s Learning Report{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/growth.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/clndr.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'lang/user/detail.html' %}
<div class="contentTitle">
    <h4><img src="{% static 'image/graph20.png' %}" style="height:20px"> {% trans 'Learning Report' %}</h4>
</div>

<div class="content_wrapper">

  <div class="chart-data" data-url="{% url 'score_of_growth' profile_user.id %}" ></div>

  <div class="event-data" data-url="{% url 'event_of_growth' profile_user.id %}" ></div>

  <div id="calendar-legend" class="text-right">
      <label></label>{% trans "Posting date" %}
  </div>
  <div id="calendar"></div>

<div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-2.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clndr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/growth.js' %}"></script>
{% endcompress %}
{% endblock %}
