{% load i18n %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
          <a class="brand" href="#">{% blocktrans with user.get_learning_language as learning_language %}Example of {{ learning_language }} Learning{% endblocktrans %}</a>
        </div>
    </div>
</div>


