{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | Troubleshooting{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Login Help' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

        <h4 id="helpPage" class="text-center">Login Issues?</h4>
        <hr/>
        <div id="loginTrouble">
            <h4>We apologize for any login issues you're facing.</h4>
            <br/>
            <h5>A majority of login issues are caused by differences between browsers.</br>
                <span class="text-info">We officially support</span> these major browsers: <span class="text-info">Chrome, Firefox and Safari.</span> </h5>
            <div class="well">
                <img class="pull-left" src="{% static 'image/help/browsersupport1.png' %}" alt="Supporting Browsers">
                <span>We mainly test the site in Chrome, Firefox (desktop, not mobile), and Safari web browsers before releasing any new updates. Therefore, usage of these three browsers are recommended with <span class="text-info"> Chrome being the most recommended</span></span>    
                <div class="text-right">
                    <a href="https://www.google.com/intl/en/chrome/browser/">Download Chrome</a>
                    <a href="http://www.mozilla.org/en-US/firefox/new/">Download Firefox</a>
                </div>
            </div>

            <h5>Currently, <span class="text-error">Internet Explorer versions 6, 7, and 8 are not supported.</span></h5>
            <div class="well">
                <img class="pull-left" src="{% static 'image/help/browsersupport2.png' %}" alt="Supporting Browsers">
                <p>Please <span class="text-info">upgrade to the newest version of Internet Explorer</span> before logging in.</p>
                <div class="text-right">
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Download Internet Explorer 11</a>
                </div>
            </div>

            <h5>Feel free to contact us via the contact form below if you have further questions.</h5>
            <form action="{% url 'contact' %}" method="post">{% csrf_token %}
                <div class="control-group well">
                    <label>Your Email : <div class="explanation">(used for communication purposes only)</div></label>
                    <div class="control-group">
                        {% if form %}
                            {{ form.name }}
                            {% if form.name.errors %}
                            {{ form.name.errors }}{% endif %}
                        {% else %}
                        <input type="email" name="name" placeholder=""/>
                        {% endif %}
                    </div>
                    <label>Your Message :</label>
                        {% if form %}
                            {{ form.message }}
                            {% if form.message.errors %}
                            {{ form.message.errors }}{% endif %}
                        {% else %}
                        <textarea name="message" rows="3" placeholder="Questions? Feedback? Comments?"></textarea>
                        {% endif %}
                    <div class="controls text-right">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
            <hr/>
            <h5> Additional Contacts </h5>
            <div class="well">
                <img src="{% static 'image/emailIcon.png' %}"> Email : withnetwork2013@gmail.com <br/>
                <img src="{% static 'image/facebook_logo.png' %}"><a class="snsLink" target="_blank" href="https://www.facebook.com/linguisticring"> Friend us on FaceBook</a><br/>
                <img src="{% static 'image/twitter_logo.png' %}"><a class="snsLink" target="_blank" href="https://www.twitter.com/linguisticring"> Follow us on Twitter</a>
            </div>

            <div class="control-group">
                <div class="controls">
                    <div class="controlButtonAtBottom">
                        <hr/>
                        <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Back' %}</a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    </div>
</div>
