{% extends 'base.html' %}
{% load i18n staticfiles %}
{% load compress %}

{% block title %} | Thanks for your opinion{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}


{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Thank you for your opinion' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

    <h4>{% trans 'Thank you for your opinion' %}</h4>
    <p>
    {% blocktrans %}
    Your message was sent to Ling Ring. We'll answer you as soon as possible. Thank you.
    {% endblocktrans %}
    </p>

    <div class="control-group">
        <div class="controls">
            <div class="controlButtonAtBottom">
                <hr/>
                <a class="btn btn-primary back" href="{% url 'contact' %}">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>
</div>
