{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | Troubleshooting{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
          <a href="{% url 'ask_post_list' user.screen_name %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i>{% trans 'Back to Me' %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

        <h4 id="helpPage" class="text-center">Questions? Feeback? Comments?</h4>
        <hr/>
        <div id="loginTrouble">
            <h5>Feel free to contact us via the contact form below.</h5>
            <form action="{% url 'contact' %}" method="post">{% csrf_token %}
                <div class="control-group well">
                    <label>Your Email : <div class="explanation">(used for communication purposes only)</div></label>
                    <div class="control-group">
                        {% if form %}
                            {{ form.name }}
                            {% if form.name.errors %}
                            {{ form.name.errors }}{% endif %}
                        {% else %}
                        <input type="email" name="name" placeholder="" value="{{ user.email }}"/>
                        {% endif %}
                    </div>
                    <label>Your Message :</label>
                        {% if form %}
                            {{ form.message }}
                            {% if form.message.errors %}
                            {{ form.message.errors }}{% endif %}
                        {% else %}
                        <textarea name="message" rows="3" placeholder="Questions? Feedback? Comments?"></textarea>
                        {% endif %}
                    <div class="controls text-right">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
            
            <hr/>

            <h5> Additional Contacts </h5>
            <div class="well">
                <img src="{% static 'image/emailIcon.png' %}"> Email : withnetwork2013@gmail.com <br/>
                <img src="{% static 'image/facebook_logo.png' %}"><a class="snsLink" target="_blank" href="https://www.facebook.com/linguisticring"> Ling Ring on FaceBook</a><br/>
                <img src="{% static 'image/twitter_logo.png' %}"><a class="snsLink" target="_blank" href="https://www.twitter.com/linguisticring"> Ling Ring on Twitter</a>
            </div>

            <!--div class="control-group">
                <div class="controls">
                    <div class="controlButtonAtBottom">
                        <hr/>
                        <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Back' %}</a>
                    </div>
                </div>
            </div-->
        </div>

    {% endblock %}
    </div>
</div>
