{% extends 'base.html' %}
{% load i18n staticfiles compress  bootstrap_toolkit %}

{% block title %} | First Writing{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Learning in LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

    <h4 class="text-center"> <span class="text-info">Example of Learning 
        {% if user_learning_language == 'korean' %} {{ user_learning_language|capfirst }}
        {% elif user_learning_language == 'japanese' %} {{ user_learning_language|capfirst }}
        {% elif user_learning_language == 'traditional' %} Chinese 
        {% elif user_learning_language == 'spanish' %} {{ user_learning_language|capfirst }}
        {% elif user_learning_language == 'german' %} {{ user_learning_language|capfirst }}
        {% elif user_learning_language == 'french' %} {{ user_learning_language|capfirst }}
        {% else %} English
        {% endif %}
        </span>
    </h4>

    {% if user_learning_language == 'korean' %}
    {% include 'lang/ask/post_examples/korean.html' %}
    {% elif user_learning_language == 'spanish' %}
    {% include 'lang/ask/post_examples/spanish.html' %}
    {% elif user_learning_language == 'japanese' %}
    {% include 'lang/ask/post_examples/japanese.html' %}
    {% elif user_learning_language == 'traditional' %}
    {% include 'lang/ask/post_examples/traditional.html' %}
    {% elif user_learning_language == 'german' %}
    {% include 'lang/ask/post_examples/german.html' %}
    {% elif user_learning_language == 'french' %}
    {% include 'lang/ask/post_examples/french.html' %}
    {% else %}
    {% include 'lang/ask/post_examples/english.html' %}
    {% endif %}

    
    <div class="exampleContainer">
        <h5>{% blocktrans with user.get_native_language as native_language %}4. You also can help other users who learn {{ native_language }} by correcting {{ native_language }} posts at 'Home' by the same way you get corrections! {% endblocktrans %}</h5>
        <div class="exampleBox">
            <div class="text-center"> <img src="{% static 'image/help/home.png' %}" alt"Home" style="width:310px;height:35px"></div>
        </div>
    </div>

    <div class="exampleContainer" style="height:30px">
        {% if request.GET.language %}
        <a href="{{ next_url }}"  class="btn btn-primary right">{% trans 'Look at how others learn' %} <i class="icon-chevron-right icon-white"></i></a>
        {% else %}
        <a href="{{ next_url }}"  class="btn btn-primary right">{% trans 'Next : Write a Journal' %}</a>
        {% endif %}
    </div>

    {% if user.is_authenticated and request.GET.grade %}
    {% include 'lang/modal/grade_up.html' %}
    {% endif %}
    {% endblock %}
    </div>
</div>



{% block javascript %}
{{ block.super }}

{% compress js %}
<script type="text/javascript">
$(document).ready(function() {
  if (!getCookie("grade-up-" + "{{ request.GET.grade }}")) {
    $('#modal-grade-up').modal();
  }

  $('#myCarousel').carousel({
      interval: 5000
  });

  $('#modal-grade-up').on("hidden", function () {
      setCookie("grade-up-" + "{{ request.GET.grade }}", 'modal-hide', 365);
  });
});
</script>
{% endcompress %}
{% endblock %}
