{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}| {% trans 'Language Exchange in Ling Ring' %}{% endblock %}

{% block contents %}
{% include 'lang/help/_nav.html' %}
<h4 class="text-info"> 1. Write your post in English</h4>
<div style="margin:30px 10px">
<div class="media">
    <div class="pull-left"><img class="media-object" src="{% static 'image/help/user1.png' %}" style="width:64px"></div>
    <div class="media-body">
        <div style="border:1px solid #d5d5d5; border-radius:4px;margin-bottom:20px;padding:0px 10px;"><h5>Title : My daily activities</h5></div>        
        <div style="border:1px solid #d5d5d5; border-radius:4px;padding:10px;">(...) I woke up at 6 o'clock and I directly took shower.<br/> Whenever I wake up, I feel in suffering because I'm a sleephead.<br/> Anyway I had eat two sweatphotato and an apple like a breakfast.<br/> At six-thirty, I went out to bus stop and then I arrived my seat of my company at seven-thirty. (...)
        </div>
    </div>
</div>
</div>
<a href="{% url 'helps' 2 %}" class="btn btn-primary pull-right" style="margin-right:20px">Next</a>
{% endblock %}

