{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}| {% trans 'Language Exchange in Ling Ring' %}{% endblock %}

{% block contents %}
{% include 'lang/help/_nav.html' %}
<h4 class="text-info"> 2. Get Correction</h4>
<h5> - Native English Speakers see your post and correct it.</h5>
<div>
    <div style="margin:30px 10px">
    <div class="text-center"><img src="{% static 'image/help/sep.png' %}"></div>
    <div style="margin:20px 10px;width:95%;">
    <div class="sentence clear">
        <div class="text-center pull-left" style="width:40px"><i class="icon-pencil"></i></div>
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">I woke up at 6 o&#39;clock and I directly took shower.</span>
            </div>
        </div>

        <div class="correction pull-left text-center">
            <a class="user_img" data-toggle="popover" data-poload="/accounts/562/detail/" data-html="true" popover-title="Erriel21">
                <img class="media-object-32" src="{% static 'image/help/user2.png' %}" />
            </a>
        </div>
        <div class="child">
            <div class="corrected_sentence">
                I woke up at 6 o'clock and I <span class="cr">immediately</span> took <span class="cr">a</span> shower.
            </div>
        </div>

    </div>

    <div class="sentence clear">
        <div class="text-center pull-left" style="width:40px"><i class="icon-pencil"></i></div>
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">Whenever I wake up, I feel in suffering because I&#39;m a sleephead.</span>
            </div>
        </div>

        <div class="correction pull-left text-center">
            <a class="user_img" data-toggle="popover" data-poload="/accounts/562/detail/" data-html="true" popover-title="Erriel21">
                <img class="media-object-32" src="{% static 'image/help/user2.png' %}" />
            </a>
        </div>
        <div class="child">
            <div class="corrected_sentence">
                Whenever I wake up, I feel <span class="cr">like</span> suffering because I'm a<span class="cr"> sleepyhead.</span>
            </div>
        </div>
    </div>

    <div class="sentence clear">
        <div class="text-center pull-left" style="width:40px"><i class="icon-pencil"></i></div>
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">Anyway I had eat two sweatphotato and an apple like a breakfast.</span>
            </div>
        </div>

        <div class="correction pull-left text-center">
            <a class="user_img" data-toggle="popover" data-poload="/accounts/562/detail/" data-html="true" popover-title="Erriel21">
                <img class="media-object-32" src="{% static 'image/help/user2.png' %}" />
            </a>
        </div>
        <div class="child">
            <div class="corrected_sentence">
                <span class="cr">Anyway,</span> I had <span class="cr">eaten</span> two <span class="cr">sweet</span> <span class="cr">potatoes</span> and an apple <span class="cr">for</span> breakfast.
            </div>
        </div>
    </div>

    </div>
    <div class="text-center"><img src="{% static 'image/help/sep.png' %}"></div>
</div>
    <a href="{% url 'helps' 3 %}" class="btn btn-primary pull-right" style="margin-right:20px">Next</a> 
</div>
{% endblock %}

