{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}| {% trans 'Language Exchange in Ling Ring' %}{% endblock %}

{% block contents %}
{% include 'lang/help/_nav.html' %}
<h4 class="text-info"> 3. Say "Thank you"</h4>
<h5>- It will affect your <span class="text-success">Response Rate</span> and <span class="text-success">increace your chance to get corrections</span> again. </h5>
<div style="margin:30px 10px">
    <div class="text-center"><img src="{% static 'image/help/sep.png' %}"></div>
    <div style="margin:20px 10px;width:95%;">

    <div class="sentence clear">
        <div class="text-center pull-left" style="width:40px"><i class="icon-pencil"></i></div>
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">Most of my works on a day is computer software programming and data analysys.</span>
            </div>
        </div>

        <div class="correction pull-left text-center">
            <a class="user_img" data-toggle="popover" data-poload="/accounts/562/detail/" data-html="true" popover-title="Erriel21">
                <img class="media-object-32" src="{% static 'image/help/user2.png' %}" />
            </a>
        </div>
        <div class="child">
            <div class="corrected_sentence">
                Most of my <span class="cr">duty</span> <span class="cr">in</span> a day is computer software programming and data <span class="cr">analysis.</span>
            </div>
        </div>
    </div>

    <div class="sentence clear">
        <div class="text-center pull-left" style="width:40px"><i class="icon-pencil"></i></div>
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">I love my work.</span>
            </div>
        </div>
    </div> 
    </div>
    <div class="overallCommentTitle">Overall Comment</div>
    <div class="clear overallComment">
        <div class="pull-left">
                <img class="media-object-32" src="{% static 'image/help/user2.png' %}" />
        </div>
        <div class="comment">
            <div class="reply">
                Your English is good! Good luck. ^.^
                <div class="muted">  01-14 00:59</div>
            </div>
        </div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user1.png' %}" />
        </div>
        <div class="comment">
            <div class="reply"> Thank you very much! <div class="muted">  01-14 06:27</div>
            </div>
        </div>
    </div>
    <a href="{% url 'helps' 4 %}" class="btn btn-primary pull-right" style="margin-right:20px">Next</a> 
</div>
{% endblock %}

