{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}| {% trans 'Language Exchange in Ling Ring' %}{% endblock %}

{% block contents %}
{% include 'lang/help/_nav.html' %}
<h4 class="text-info"> 4. Help Somebody who Learn Your Native Language!</h4>
<h5> - At 'Home', you will see <span class="text-info">posts written in your native language</span> to learn it.<span class="text-info"> Give your corrections</span> to them, then they'll thank you. </h5>
<div style="margin:30px 10px">
    <div class="text-center"><img src="{% static 'image/help/home.png' %}"></div>
</div>

  <a href="{% url 'home' %}" class="btn pull-left" style="margin-left:20px">Go Back To Main</a> 

  <a href="#" onclick="startConnect();" class="btn btn-primary pull-right" style="margin-right:20px">Sign Up with Facebook Now</a>


<div id="fb-root"></div>
<script type="text/javascript">
    var FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
    var FACEBOOK_LOGIN_URL = "{% url 'socialauth_begin' 'facebook' %}";
</script>
<script type="text/javascript" src="{% static 'js/facebook_login.js' %}"></script>
{% endblock %}

