{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | How do you think of LingRing?{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
          {% if user.is_authenticated %}
          <a href="{% url 'ask_post_list' user.screen_name %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i>{% trans 'Back to Me' %}</a>
          {% else %}
          <a href="{% url 'ask_language_list' %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i>{% trans 'Back to Home' %}</a>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

    <h4 id="helpPage" class="text-center text-info">{% trans 'How do you think of LingRing?' %}</h4>
    <hr/>
    <h5>{% trans 'LingRing is the Language Exchange platform. Tell us your experience!' %}</h5>
    <br/>
    <p>{% blocktrans %}
    LingRing is a very small start-up, so we can't afford to run an advertisement. The more your friends come to LingRing, the more corrections you will get. So, it will be really helpful to us if you inform your friends of LingRing by commenting your experience or opinion here.
    {% endblocktrans %}</p>
    <br/><br/><br/>

    <div class="fb-like" data-href="https://lingring.net?utm_source=facebook&utm_medium=comment&utm_campaign=CommentAboutLingRing" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <div class="fb-comments" data-href="https://lingring.net?utm_source=facebook&utm_medium=comment&utm_campaign=CommentAboutLingRing" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
    {% endblock %}
    </div>
</div>
