{% extends 'base_site.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | Helps{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}


{% block content %}

{% with user.get_native_language as native_language %}
  <div id="helpPage">
      <h4 class="text-center"><a name="home">Home</a></h4>
      <h5>{% blocktrans %} <span class="text-info">"Home" is a collection of {{ native_language }} posts which are in need of some corrections.</span> {% endblocktrans %}</h5>
      <ul>
          <li>{% trans 'Make corrections to these posts and receive points.' %}</li>
          <li>{% trans 'You can also change your languge settings to switch to another default language: <span class="text-info">"Me > Setting > Change My Profile"</span>' %}</li>
     </ul>
     <h5 class="text-info">{% trans 'Make foreign friends' %}</h5>
     <ul>
         <li>{% trans "Making corrections to other users' posts is the easiest way to make friends on Ling Ring." %}</li>
         <li>{% trans 'People will appreciate the time you take to make corrections.' %}</li>
     </ul>

    <h4 id="ring1" class="text-center"><a name="ring">Ring</a></h4>
    <div class="text-center"><img src="{% static 'image/help/ringCreation.png' %}" alt="RingCreation"></div>

    <h5 class="text-info"><a href="#">{% trans 'What does Ring mean?' %}</a></h5>
    <ul>
        <li>{% trans 'All LingRing users are "Students" learning an additioanl language.' %}</li>
        <li>{% trans 'All LingRing users are also "Tutors" who speak their own native language.' %}</li>
        <li>{% trans 'A "Ring" is a "Student" and "Tutor" partnering system between LingRing users.' %}</li>
    </ul>

    <h5 id="ring2" class="text-info sharp-link"><a href="#">{% trans 'How do I create "Ring?"' %}</a></h5>
    <img class="pull-left helpImg" src="{% static 'image/help/beMyTutor.png' %}" alt="Button Image">
    <div>{% trans 'As a "Student", you can create a "Ring" with a "Tutor" by clicking the "Be My Tutor" menu of "Create Ring" button. ' %} <br/>{% blocktrans %}A "Ring" can only be created when there's a language match between a language you're learning as a "Student" and a native language that belongs to a "Tutor".' {% endblocktrans %}
    </div>

    <h5 id="ring3" class="text-info sharp-link"><a href="#">{% trans 'What are the benefits?' %}</a></h5>
    <ol>
        <li>{% trans '<span class="text-error">"Tutors" receive email notifications whenever their "Students" write a new post. ' %}</li>
        <li class="snsInfo"><img src="{% static 'image/talkIcon.png' %}" alt="Talk">{% blocktrans %}Those that have created a "Ring" can use the "Talk" feature. {% endblocktrans %}</li>
        <li class="snsInfo"><img src="{% static 'image/kakao.png' %}" alt="KakaoTalk"><img src="{% static 'image/line.png' %}" alt="Line"><img src="{% static 'image/skype.png' %}" alt="Skype">{% blocktrans %}You have access to each other's screen names for Kakao Talk, Line, and Skype to further your learning experience by speaking and listening.  {% endblocktrans %}</li>
        <li>{% blocktrans %} 'Add your screen names here:  <span class="text-info explanation"> (Me > Setting > Change My Profile > SNS Setting {% endblocktrans %})</span></li>
        <li class="snsInfo"><img src="{% static 'image/facebook_logo_detail.png' %}" alt="Facebook Logo">{% trans 'You can also easily further your connection by <span class="text-error"> becoming friends on FaceBook</span>.' %}</li>
    </ol>

    <h4 id="me" class="text-center"><a href="#">{% trans 'Me' %}</a></h4>
    <div class="text-center"><img src="{% static 'image/help/Me.png' %}" alt="Home Image"></div>
    <h5><a name="replyRate">{% trans '1. Response Rate' %}</a></h5>
    <ul>
        <li>{% trans 'Response Rate shows <span class="text-info"><strong>how often a user repond to or interact with correctors/helpers, which means how often you say to your correctors/helpers, "Thank you."</span></strong>' %}</li>
        <li>{% trans 'To keep your Response Rate in good status like Excellent, do not forget talk to your correctors/helpers.' %}</li>
        <li>{% trans 'You will get each indicator according to your Response Rate. ' %}</li>
           <ul>
               <li><img src="{% static 'image/help/replyrate95.png' %}" alt="Response Rate 95%">Excellent : over 90%</li>
               <li><img src="{% static 'image/help/replyrate85.png' %}" alt="Response Rate 85%">Very Good : over 80%</li>
               <li><img src="{% static 'image/help/replyrate75.png' %}" alt="Response Rate 75%">Good : over 70%</li>
               <li><img src="{% static 'image/help/replyrate55.png' %}" alt="Response Rate 55%">Normal : over 50%</li>
               <li><img src="{% static 'image/help/replyrate35.png' %}" alt="Response Rate 35%">Poor : below 50%</li>
               <li><img src="{% static 'image/help/replyrateNotAvailable.png' %}" alt="Response Rate Not Available">N/A : Not Available till you write more than one post and get corrections for it.</li>
           </ul>
        </li>
   </ul>
   <dl>       
       <dt>{% blocktrans %}2. Point - A user gets points when :  {% endblocktrans %}</dt>
        <dd>{% blocktrans %}Writing a post : 7 points {% endblocktrans %}</dd>
        <dd>{% blocktrans %}Adding translation to your post : 3 bonus points {% endblocktrans %}</dd>
        <dd>{% blocktrans %}Correction : Basic Points(3) + Extra Point(1) for each sentence {% endblocktrans %}</dd>
    </dl>
   <dl>
       <dt>{% blocktrans %}3. Level{% endblocktrans %}</dt>
       <dd><span class="grade grade-xs grade-bronze"></span> Bronze : 0 ~ 299 points</dd>
       <dd><span class="grade grade-xs grade-silver"></span> Silver : 300 ~ 999 points</dd>
       <dd><span class="grade grade-xs grade-gold"></span> Gold : 1000 ~ 2999 points</dd>
       <dd><span class="grade grade-xs grade-diamond"></span> Diamond : over 3000 points</dd>
   </dl>
    <h5>{% blocktrans %}4. Invite FaceBook friends {% endblocktrans %}</h5>
    <ul>
        <li>{% trans ' Tell your friends and get five more questions for your quiz!' %} </li>
    </ul>
    <h5>{% blocktrans %}5. Journals {% endblocktrans %}</h5>
    <ul>
        <li>{% trans 'Journal is a collection of posts in Ling Ring.' %}</li>
        <li>{% trans 'Journals contain your learning language journal and native language journals with your corrections.'  %}</li>
    </ul>
    <h5>{% blocktrans %}6. Notes {% endblocktrans %}</h5>
    <ul>
        <li>{% trans 'A user can keep good corrections to a note.' %}</li>
    </ul>

    <h5>{% trans '7. Quiz' %}</h5>
    <ul>
        <li>{% blocktrans %}Quiz is designed to encourage a user <span class="text-info"><strong>to review and study his/her posts.</strong></span>{% endblocktrans %}</li>
        <li>{% blocktrans %}Quiz is based on <span class="text-info"><strong>your posts and corrections on them.</strong></span>{% endblocktrans%}</li>
        <li>{% trans 'To take a quiz you should get at least one corrections except "Perfect" or "Do not understand".' %}</li>
        <li>{% trans 'Basically, you can take a quiz once a day.' %}</li>
    </ul>
    <h5>{% blocktrans %}8. Setting  {% endblocktrans %}</h5>

    <h4 class="text-center"><a name="profile">Profile of Other User</a></h4>
    <img class="pull-left helpImg" src="{% static 'image/help/beMyTutor.png' %}" alt="BeMyTutorButton">
    <p>{% blocktrans %}You can send <span class="text-info">"Ring Creation Request"</span> to users whose native language is the same as your learning language, {{ native_language }}, just by clicking a button, "Be My Tutor".{% endblocktrans %}


    <h4 class="text-center"><a name="Post">Post</a></h4>
    <h5>{% blocktrans %}<span class="text-info">What can I write about?</span> {% endblocktrans %}</h5>
    <ul>
        <li>{% blocktrans %}<span class="text-info"> Good Examples</span>{% endblocktrans %}</li>
        <ul>
            <li>{% trans 'My diary or journal' %}</li>
            <li>{% trans 'My favorite ice cream' %}</li>
            <li>{% trans 'My best friend' %}</li>
            <li>{% trans 'My plan to travel around the world' %}</li>
            <li>{% trans 'Whatever you want to write for practicing foreign language' %}</li>
        </ul>
    <li class="text-error">{% trans 'Bad Examples or cases where hard to get corrections' %}</li>
        <ul>
            <li>{% blocktrans %}<span class="text-error">Not written in learning language.</span><br/> - Native speakers cannot understand, so they cannot help you{% endblocktrans %}</li>
            <li>{% blocktrans %}<span class="text-error">Too short, so usually nothing wrong.</span> <br/> - Native speakers have nothing to do with it.{% endblocktrans %}</li>
        </ul>
    </ul>
    <h5>{% blocktrans %}<span class="text-info">I want to learn more than two foreign languages!</span> {% endblocktrans %}</h5>
    <ul>
        <li>{% trans 'You can change your languge setting in <span class="text-info">"Me - Setting - Change My Profile"</span> at anytime you want.' %}</li>
        <li>{% trans 'To learn other language, just change your learning language. Then, write in the new learning language. Your post will be seen to the native speakers whose native language is your new learning language.' %}</li>
        <li>{% trans 'We are planning to work for a  multiple language choice option in near future. When it is ready, we will let you know immediately.' %}</li>
    </ul>

    <h5>{% blocktrans %}<span class="text-info">What will happen after I write a post?</span> {% endblocktrans %}</h5>
    <ol>
        <li>{% trans 'Native speakers see your post in their "Home" menu. ' %}</li>
        <li>{% blocktrans %} They give their corrections on your post.{% endblocktrans %}</li>
        <li>{% trans 'A notification email is sent to your email address.' %}</li>
        <li>{% trans 'You come back to your post to check the corrections' %}</li>
    </ol>



    <hr/>
    <div id="linkToPage">
         <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts" >
             <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
        <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span></a>
     </div>
 </div>
 {% endwith %}

{% endblock %}

