{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | Privacy Policy {% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="{% url 'ask_post_list' user.screen_name %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i>{% trans 'Back to Me' %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

        <h4 id="helpPage" class="text-center">Privacy Policy</h4>
        <hr/>
        <p>Ling Ring (collectively, "us", "we" or "the Company") respects the privacy of users ("you" or "user") who use the social networking site Ling Ring ("Ling Ring" or "service"), and based on the below policy, we will strive to protect your personal information (as defined below)</p><br/>

        <h5>1. Definition of personal information</h5>
        <p>Personal Information is any information concerning individual users, such as name, email address, date of birth or any other applicable information that can be used to identify a user.</p><br/>

        <h5>2. Personal Information Management Responsibility.</h5>
        <p>Personal information submitted by the user will be managed responsibly by the Company.<br/>
        If you have any questions or comments regarding the handling of personal information by the site, please contact us at the below email.<br/>
        <a href="mailto:withnetwork2013@gmail.com">withnetwork2013@gmail.com</a>
        </p><br/>

        <h5>3. Personal Information Acquisition and Objective</h5>
        <p>The acquisition of personal information and the purpose and practical scope of its use is defined below.
            <ol>
                <li>To provide this program to the user and to authorize use.</li>
                <li>To provide information to advertising companies that provide products and services to members.</li>
                <li>To improve our services through surveys and campaigns.</li>
                <li>To provide notification of our service and customer support.</li>
            </ol>
        </p><br/>

        <h5>4. Altering personal information, etc.</h5>
        <p>Users may make changes, add or delete there registered personal information on Ling Ring.</p><br/>
    
        <h5>5. Disclosure to Third Parties</h5>
        <p>Regarding your personal information, we will not share this information with a third party as a matter of principle without your consent. Offers to provide specific information will only be disclosed with the user's consent. However, in any of the below cases, we will disclose any users' registration information, user history, messages or any other written contents that we confirm with a third party.
            <ol>
                    <li>In the case of inquiry by the court, the police or any other legal or administrative body, that is legal and proper.</li>
                    <li>In the case that a problem arises in maintaining the service or system.</li>
                    <li>In the case that either laws or Ling Ring's terms of use have been violated, or if we have determined there to be an obvious problem.</li>
                    <li>In the case that we deem it necessary to protect the interests or rights of the company, another user or a third party.</li>
                </ol>
        </p><br/>

        <h5>6. Disclaimer</h5>
        <p>In the following situations, with regard to the acquisition of user information by a third party, we are in no way responsible.

            <ol>
                <li>In the case that you yourself use the service function or other means to share your personal information with another user.</li>
                <li>In the case that a user is unexpectedly identified though activity information or any other user input information.</li>
                <li>In the case that your user identification information (ID, Password) is obtained by a user other than you.</li>
            </ol>
        </p><br/>


        <h5>7. Regarding the Use of Cookies.</h5>
        <p>In providing good service to our users, we use the cookies, but from them we do not gather specific information about individuals, and do not invade the privacy of our customers. In addition, if you wish not to receive cookies, you can change the settings on your browser.</br>
        
        <h5>8. Log Data</h5>
        <p>Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services, interact with our email notifications. These log data are used for maintenance of the service and the analysis of usage statistics, but it is not used for any other purpose.</p><br/>

        <h5>9. Use of Statistical Data</h5>
        <p>We create statistical data using a format based on personal information, which does not identify specific individuals. There is no restriction on what sort of data is used.</p><br/>

        <h5>10. Changes to the Privacy Policy</h5>
        <p>We can make changes to the privacy policy without user permission. Any changes made to the privacy policy will be posted on the site along with the time and date when these changes come into effect.</p><br/>

            {% endblock %}
   </div>
</div>
