{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit %}
{% load compress %}

{% block title %} | Troubleshooting{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/help.css' %}" />
{% endcompress %}
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
          <a href="{% url 'ask_post_list' user.screen_name %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i>{% trans 'Back to Me' %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

    {% endblock %}
    </div>
</div>
