{% load i18n %}

<div class="media">
  <a class="pull-left" href="{% url 'ask_post_list' ask.user.screen_name %}"><img class="media-object-64" src="{{ ask.user.get_profile_photo }}" /></a>
  <div class="media-body">
    <a href="{% url 'ask_post_list' ask.user.screen_name %}" class="user">{{ ask.user.screen_name }}</a>
    <span class="block muted"><small>{{ ask.ctime|date:"Y-m-d P" }}</small></span>
  </div>
</div>

<div class="post-info">
  <h5>{{ ask.title }}</h5>
  <div class="fulltext word-wrap">{{ ask.context }}</div>
</div>
