{% load i18n filters %}

{% if correction %}
<div class="clear overallComment">
    <div class="title">{% trans 'Comment' %}</div>
    {% for comment in correction.overallcomment_set.all %}
    {% include 'lang/ask/view/_overall_comment_item.html' %}
    {% endfor %}

    <form id="overall_comment_form" class="overall_comment_form" action="{% url 'overall_comment_create' %}" method="POST">{% csrf_token %}
        <div class="alert alert-warning hide">{% trans 'Something wrong in sending comment!' %}</div>

        <div class="pull-left"><a><img class="media-object-32" src="{{ user.get_small_profile_photo }}"></a></div>
        <div class="media-body reply">
            <input id="correction" name="correction" type="hidden" value="{{ correction.id }}" />
            <input id="context" name="context" type="text" placeholder="{% trans 'Leave your comment' %}" />
        </div>
        <div class="sending">{% trans 'Now sending your comment' %}</div>
    </form>
</div>

{% else %}
<div class="clear overallComment">
    <div class="title">{% trans 'Comment' %}</div>
    <div class="pull-left"><a><img class="media-object-32" src="{{ user.get_small_profile_photo }}"></a></div>
    <div class="child">
        <div class="media-body reply" >
            <textarea name="comment" type="text" placeholder="{% trans 'Leave your comment' %}"></textarea>
        </div>
    </div>
</div>
{% endif %}
