{% load i18n staticfiles %}
<div class="sentence clear">
  <div class="sentence-wrapper">
    <div class="original-sentence">
        <span class="os">{{ sentence.context }}</span>
        {% if sentence.native_context %}
        <span class="native-sentence">- {{ sentence.native_context }}</span>
        {% endif %}
    </div>
    <ul class="ask-view-interaction">
      <li class="tags perfect"><span>{% trans "Perfect" %}</span></li>
      <li class="tags do-not-understand"><span>{% trans "Do not understand" %}</span></li>
      <li class="tags copy-to-inputbox" {% if intro %}data-intro='<span class="text-info"><strong>Copy an Original Sentence and Pastes to the Input Box</strong></span><br/><br/>  With <span class="text-info">Autofill</span>, you can edit only the wrong parts that needs your corrections.'{% endif %} ><span>{% trans "AutoFill" %}</span></li>
    </ul>
  </div>

  {% if not user == ask.user %}
  <div class="child">
      <div class="correctionForm">
          <textarea class="textareaForCorrection {% if not user.is_authenticated %}unlogged_correction{% endif %}" name="s_{{ sentence.id }}" type="text" placeholder="{% trans 'Give your corrections here' %}{% if not user.is_authenticated %} (You need log in before writing){% endif %}."></textarea></div>
      <div class="correctionForm">
    <textarea class="hide" id="c_{{ sentence.id }}" name="c_{{ sentence.id }}" type="text" placeholder="{% trans 'Give your reason (Optional)' %}"></textarea>
    </div>
  </div>
  {% endif %}
</div>
