{% load i18n filters %}

{% if sentence.parent %}
{% with sentence.parent as original_sentence %}
<div class="sentence clear">
    <div class="originalSentenceLine">
        <div class="sentence-wrapper">
             <div class="original-sentence">
                 <span class="os">{{ original_sentence.context }}</span>
                 {% if original_sentence.native_context %}
                 <span class="native-sentence">- {{ original_sentence.native_context }}</span>
                 {% endif %}
             </div>
         </div>
    </div>
    {% include 'lang/ask/view/_form_reply_sentence.html' %}
</div>
{% endwith %}

{% else %}
{% with sentence as original_sentence %}
<div class="sentence clear">
    <div class="originalSentenceLine">
        <div class="sentence-wrapper">
            <div class="original-sentence">
                <span class="os">{{ sentence.context }}</span>
                {% if original_sentence.native_context %}
                <span class="native-sentence">- {{ original_sentence.native_context }}</span>
                {% endif %}
            </div>

            {% if correction.user == user %}
            <ul class="ask-view-interaction correct_btn_wrapper pull-right">
              <li class="tags correct"><span>{% trans "Correct" %}</span></li>
            </ul>

            <form class="form hide correction-create-form" action="{% url 'correction_create' ask.id %}" method="POST">{% csrf_token %}
              <input type="hidden" name="parent" value="{{ sentence.id }}" />
              <input type="hidden" name="correction" value="{{ correction.id }}" />
              <input type="hidden" name="type" value="{{ sentence.type }}" />

              <ul class="ask-view-interaction interaction_btn_wrapper">
                <li class="tags perfect hide"><span>{% trans "Perfect" %}</span></li>
                <li class="tags do-not-understand hide"><span>{% trans "Do not understand" %}</span></li>
                <li class="tags copy-to-inputbox hide"><span>{% trans "AutoFill" %}</span></li>
              </ul>

              <textarea name="context" type="text" placeholder="{% trans 'Please insert your correction' %}"></textarea>

              <div class="text-right">
                <button type="button" class="btn btn-default btn-link btn-mini correction_cancel">{% trans 'Cancel' %}</button>
                <button type="submit" class="btn btn-primary btn-link btn-mini">{% trans 'Save' %}</button>
              </div>
            </form>
            
            {% endif %}
        </div>
    </div>
</div>

<div class="clearfix"></div>
{% endwith %}
{% endif %}

