{% load i18n staticfiles %}

<div class="correction">
    <div class="child">
        <div class="corrected_sentence media-body">
            <div class="context_wrapper">
                {% if sentence.context == '[Perfect]' %}
                <span class="text"><img src="{% static 'image/ic_perfect.png' %}" /></span>
                {% elif sentence.context == '[Do-not-understand]' %}
                <span class="text"><img src="{% static 'image/ic_dontunderstand.png' %}" /></span>
                {% else %}
                <span class="text">
                  {% if sentence.html_context %}{{ sentence.html_context|safe }}
                  {% else %}{{ sentence.context }}{% endif %}
                </span>
                {% endif %}

                <div class="text-right">
                  {% if sentence.context == '[Perfect]' or sentence.context == '[Do-not-understand]' %}
                  {% else %}
                  <button class="btn btn-link btn-mini see-detail-correction">{% trans 'See detail' %}</button>
                  {% endif %}

                  {% if correction.user == user %}
                  <a href="#" class="btn btn-link btn-mini UIEditButton">{% trans 'Edit' %}</a>
                  {% endif %}

                  {% if user == ask.user %}
                  <form action="{% url 'bookmark_create_or_delete' %}" method="post" class="bookmark-form">{% csrf_token %}
                    <input type="hidden" name="sentence" value="{{ sentence.id }}">
                    <button type="submit" class="btn btn-link btn-mini bookmark">
                      {% if sentence.bookmark_set.exists %}
                      <i class="fa fa-bookmark fa-lg"></i><span> Noted</span>
                      {% else %}
                      <i class="fa fa-bookmark-o fa-lg"></i><span> Keep to my Note</span>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                </div>
            </div>

           {% if correction.user == user %}
            <form class="hide update_form" method="post" action="{% url 'sentence_update' sentence.id %}">{% csrf_token %}
                <input type="text" name="context" value="{{ sentence.context }}" />
                <div class="text-right">
                  <a href="#" class="btn btn-link btn-mini UICancelButton">{% trans 'Cancel' %}</a>
                  <button href="#" class="btn btn-link btn-mini UIDoneButton">{% trans 'Done' %}</button>
                </div>
            </form>
            <div class="error text-error hide">{% trans 'Something wrong during send comment. Try resend with enter.' %}</div>
            <div class="sending">{% trans 'Now sending your reply' %}</div>
            {% endif %}
        </div>

        {% if sentence.comment_set.exists %}
        <div class="comment_wrapper">
        {% for comment in sentence.comment_set.all %}
        {% if comment.context %}
            <div class="media">
                <a href="{% url 'ask_post_list' comment.user.screen_name %}"><img class="media-object media-object-32 pull-left" src="{{ comment.user.get_small_profile_photo }}" /></a>
                <div class="media-body">
                    <div class="context_wrapper">
                        <div class="text">{{ comment.context }}</div>
                        <span class="muted">{{ comment.ctime|date:"m-d H:i" }}</span>
                        {% if comment.user == user %}
                        <a href="#" class="UIEditButton">{% trans 'Edit' %}</a>
                        {% endif %}
                    </div>

                    {% if comment.user == user %}
                    <form class="update_form hide" method="post" action="{% url 'comment_update' comment.id %}">{% csrf_token %}
                      <input type="text" name="context" value="{{ comment.context }}" placeholder="{% trans 'If you press return, this comment will be deleted' %}" />
                      <div class="text-right">
                        <a href="#" class="btn btn-link btn-mini UICancelButton">{% trans 'Cancel' %}</a>
                        <button class="btn btn-link btn-mini UIDoneButton">{% trans 'Done' %}</button>
                      </div>
                    </form>
                    <div class="error text-error hide">{% trans 'Something wrong during send comment. Try resend with enter.' %}</div>
                    <div class="sending">{% trans 'Now sending your reply' %}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}

        {% if ask.user == user or sentence.user == user %}
        <div class="reply_wrapper">
            <img class="media-object media-object-32 pull-left" src="{{ user.get_small_profile_photo }}" />
            <div class="media-body reply">
                {% csrf_token %}
                <input type="hidden" name="parent" value="{{ sentence.id }}">
                <input class="reply_context" name="context" type="text">
            </div>
            <div class="sending">{% trans 'Now sending your reply' %}</div>
        </div>
        {% endif %}
    </div>
</div>

