{% load i18n %}

<div id="tab-pan-merged-correction" class="tab-pane">
  <span class="elapsed_time pull-right corrected_at"></span>
  {% if ask.title %}
  {% include 'lang/ask/view/_merged_content.html' with sentence=ask.title %}
  {% endif %}
  {% for sentence in ask.sentences %}
  {% include 'lang/ask/view/_merged_content.html' %}
  {% endfor %}
</div>

