{% load i18n staticfiles %}

<div class="sentence clear">
    <div class="originalSentenceLine">
        <div class="sentence-wrapper">
            <div class="original-sentence"><span class="os">{{ sentence.context }}</span></div>
        </div>
    </div>

    {% for cs in sentence.children %}
    <div class="correction">
        <div class="correctionInfo pull-left text-center">
            <a class="user_img" data-toggle="popover" data-poload="{% url 'profile_detail' cs.user.id %}" data-html="true" popover-title="{{ cs.user.screen_name }}">
                <img class="media-object-32" src="{{ cs.user.get_small_profile_photo }}" />
            </a>
        </div>
        <div class="child">
            <div class="corrected_sentence">
            {% if cs.context == '[Perfect]' %}
            <span class="text"><img src="{% static 'image/ic_perfect.png' %}" /></span>
            {% elif cs.context == '[Do-not-understand]' %}
            <span class="text"><img src="{% static 'image/ic_dontunderstand.png' %}" /></span>
            {% else %}
            {% if cs.html_context %}{{ cs.html_context|safe }}
            {% else %}{{ cs.context }}{% endif %}
            {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>
