{% load i18n %}
<!-- Create New Correction Form -->
<div id="tab-pane-new-correction" class="tab-pane {% if not corrector %}active{% endif %} hi">
<form action="." method="POST" id="form_correct">{% csrf_token %}
    {% if ask.title %}
    {% include 'lang/ask/view/_form_correct.html' with sentence=ask.title intro=True %}
    {% endif %}

    {% for sentence in ask.sentences %}
    {% if ask.title or not forloop.first %}
    {% include 'lang/ask/view/_form_correct.html' %}
    {% else %}
    {% include 'lang/ask/view/_form_correct.html' with intro=True %}
    {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
    {% include 'lang/ask/view/_rating_form.html' with intro=True %}
    {% endif %}

    <div class="control-group">
        <div class="controls">
            <button type="submit" data-gac="Retention" data-gan="Correction" class="btn btn-primary pull-right gaevent">{% trans 'Done' %}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
</div>

