{% load i18n filters %}

<ul id="view-tab" class="nav nav-tabs">
  <li class="active"><a id="nav-tab-{{ user.screen_name }}" href="#tab-pane-{{ user.screen_name }}" data-toggle="tab"><img class="media-object-32" src="{{ user.get_small_profile_photo }}" /></a></li>
</ul>

<div class="clear tab-content">
  <div id="tab-pane-{{ user.screen_name }}" class="tab-pane active">
    {% if ask.title %}
    <div class="sentence clear">
      <div class="sentence-wrapper">
        <div class="original-sentence">
          <span class="context">{{ ask.title.context }}</span>
          {% if ask.title.native_context %}
          <span class="native-sentence">- {{ ask.title.native_context }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    {% for sentence in ask.sentences.all %}
    <div class="sentence clear">
      <div class="sentence-wrapper">
        <div class="original-sentence">
          <span class="context">{{ sentence.context }}</span>
          {% if sentence.native_context %}
          <span class="native-sentence">- {{ sentence.native_context }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
