{% load i18n %}
{% if comment.context %}
<div class="media">
    <div class="pull-left"><a href="{% url 'ask_post_list' comment.user.screen_name %}"><img class="media-object-32" src="{{ comment.user.get_small_profile_photo }}"></a></div>
    <div class="media-body comment">
        <div class="context_wrapper">
            <div class="text">{{ comment.context }}</div>
            <span class="muted">  {{ comment.ctime|date:"m-d H:i" }}</span>
            {% if comment.user == user %}
            <a href="#" class="UIEditButton">{% trans 'Edit' %}</a>
            {% endif %}
        </div>

        {% if comment.user == user %}
        <form class="update_form hide" method="post" action="{% url 'overall_comment_update' comment.id %}">{% csrf_token %}
            <input type="text" name="context" value="{{ comment.context }}" placeholder="{% trans 'If you press return, this comment will be deleted' %}" />
        </form>
        <div class="error text-error hide">{% trans 'Something wrong during send comment. Try resend with enter.' %}</div>
        <div class="sending">{% trans 'Now sending your reply' %}</div>
        {% endif %}

    </div>
</div>
{% endif %}
