{% load i18n %}
<div class="rating-form">
  <h5>
    <span class="title">{% trans 'Overall Rating' %}</span>
    <span class="rating-readonly ratingWrapper" data-score="{{ correction.rating.overall }}"></span>
  </h5>

  <div class="ratingWrapper">
    <div>
        <span class="ratingItem">{% trans 'Grammar' %}</span>
        <span class="rating-readonly" data-score="{{ correction.rating.grammer }}"></span>
    </div>

    <div>
      <span class="ratingItem">{% trans 'Spelling' %}</span>
      <span class="rating-readonly" data-score="{{ correction.rating.spelling }}"></span>
    </div>

    <div>
      <span class="ratingItem">{% trans 'Level of Difficulty' %}</span>
      <span class="rating-readonly" data-score="{{ correction.rating.difficulty }}"></span>
    </div>
  </div>

  <div class="media">
    <a href="{% url 'ask_post_list' correction.user.screen_name %}" class="pull-left">
      <img class="media-object-40" src="{{ correction.user.get_small_profile_photo }}">
    </a>
    <blockquote class="media-body">
    {% if correction.rating.comment %}
      <p><strong>"{{ correction.rating.comment }}"</strong></p>
  {% endif %}
      <small>by <a href="{% url 'ask_post_list' correction.user.screen_name %}">{{ correction.user.screen_name }}</a></small>
    </blockquote>
  </div>
</div>
