{% load i18n staticfiles %}

<div class="rating-form" {% if intro %} data-intro="Provide <span class='text-info'>Details of your Evaluation for a learner</span>" {% endif %}>
    <h5><span class="title">{% trans 'Overall Rating' %}</span></h5>

  <div class="ratingWrapper">
    <div>
      <span class="ratingItem">{% trans 'Grammar' %}</span><span class="rating" data-name="grammer"></span>
    </div>

    <div>
      <span class="ratingItem">{% trans 'Spelling' %}</span><span class="rating" data-name="spelling"></span>
    </div>

    <div>
      <span class="ratingItem">{% trans 'Level of Difficulty' %}</span><span class="rating" data-name="difficulty"></span>
    </div>
  </div>
  <div class="media">
      {% if user.is_authenticated %}
      <a href="{% url 'ask_post_list' user.screen_name %}" class="pull-left">
          <img class="media-object-40" src="{{ user.get_profile_photo }}">
      </a>
      {% else %}
      <a href="#" class="pull-left">
          <img class="media-object-40" src="{% static 'image/no_image_user.32x32.jpg' %}">
      </a>
      {% endif %}

      <div>
          <textarea name="comment" type="text" class="input-block-level" placeholder="{% trans 'Leave your evaluation.' %}"></textarea>
      </div>
  </div>
</div>
