{% load i18n %}

{% with ask.get_correctors as correctors %}
{% if correctors and ask.user == user %}
<div class="media">
    <span class="pull-left say_thanks">{% trans 'Begin talk to' %}</span>
    <div class="media-body">
        {% for corrector in correctors %}
        <a href="{% url 'search_chatroom' %}?receiver={{ corrector.screen_name }}"><img class="media-object-32" src="{{ corrector.profile_photo.correction.url }}" /></a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

