{% load i18n filters thumbnail staticfiles %}

<ul id="view-tab" class="nav nav-tabs">
    {% if not ask.user == user and not corrections|has_corrector:user and user.is_authenticated %}
    <li class="{% if not corrector %}active{% endif %}"><a id="nav-tab-{{ user.screen_name }}" href="#tab-pane-new-correction" data-toggle="tab">
        <img class="media-object-32" src="{{ user.get_small_profile_photo }}" />
    </a></li>
    {% elif not user.is_authenticated %}
    <li class="{% if not corrector %}active{% endif %}"><a id="tab-pan-new-correction" href="#tab-pane-new-correction" data-toggle="tab">
        <img class="media-object-32" src="{% static 'image/no_image_user.32x32.jpg' %}" />
    </a></li>
    {% endif %}

    {% for correction in corrections %}
    <li class="{% ifequal corrector correction.user.screen_name %}active{% endifequal %}"> 
        <a id="nav-tab-{{ correction.user.screen_name }}" href="{% if corrector == correction.user.screen_name %}#tab-pane-{{ correction.user.screen_name }}{% else %}{% url 'ask_correction_view' ask.id correction.user.screen_name %}{% endif %}" data-toggle="{% ifequal corrector correction.user.screen_name %}tab{% endifequal %}">
            <img class="media-object-32" src="{{ correction.user.get_small_profile_photo }}" />
        </a>
    </li>
    {% endfor %}

    {% if corrections.count > 0 %}
    <li><a id="allTab" href="#tab-pan-merged-correction" data-toggle="tab">All</a></li>
    {% endif %}
</ul>
