{% load i18n filters thumbnail %}

<div id="correctionPageWrapper" class="tab-content">
    {% if not ask.user == user and not corrections|has_corrector:user and user.is_authenticated %}
    {% include 'lang/ask/view/_new_correction.html' %}
    {% elif not user.is_authenticated %}
    {% include 'lang/ask/view/_new_correction.html' %}
    {% endif %}


    {% for correction in corrections %}
    <!-- Current User Already Corrected -->
    <div id="tab-pane-{{ correction.user.screen_name }}" class="tab-pane {% ifequal corrector correction.user.screen_name %}active{% endifequal %}">
        <span class="elapsed_time pull-right corrected_at">{{ correction.elapsed_time }}</span>

        {% if correction.title %}
        {% with correction.title as sentence %}
        {% include 'lang/ask/view/_form_reply.html' %}
        {% endwith %}
        {% endif %}

        {% for sentence in correction.sentences %}
        {% include 'lang/ask/view/_form_reply.html' %}
        {% endfor %}

        {% include 'lang/ask/view/_rating.html' %}
        <hr/>
        {% include 'lang/ask/view/_comment.html' %}
    </div>
    {% endfor %}

    {% if corrections.count > 0 %}
    {% include 'lang/ask/view/_merged_correction.html' %}
    {% endif %}
</div>
