{% load i18n %}

{% if user == ask.user %}
<div class="post-actions">
  {% blocktrans with user.get_native_language as native_language %}
  Edit individual sentences from your post below or add descriptions in your native language for clarification.
  {% endblocktrans %}
  <a class="btn btn-link" href="{% url 'ask_update' ask.id %}">{% trans "Edit" %}</a>
</div>
{% endif %}
