{% load i18n staticfiles %}
<div id="modal-ask-success" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel"><span class="text-success">{% trans "Your Post Successfully Published!" %}</span></h4>
    </div>

    <div class="modal-body">
        <div class="normal-info">
            <ul class="unstyled">
                <li><img src="{% static 'image/check.jpg' %}" /><span class="text-success"><strong>{% blocktrans with user.get_learning_language as learning_language %}Now native {{ learning_language }} speakers will correct your post.{% endblocktrans %}
                </strong></span></li>
                <!--li><img src="{% static 'image/check.jpg' %}" /><span class="text-success"><strong>{% trans "The more you write, the more you get!" %}</strong></span></li-->
                <li>
                <dl>
                    <dt>
                    <img src="{% static 'image/email.jpg' %}" /><span class="text-info">{% trans "Email Notifications" %}</span>
                    </dt>
                    <dd>{% trans "You will be notified by email when corrections are made." %}</dd>
                    {% if not user.is_confirmed_email %}<dd><a href="{% url 'sent_confirm_email' %}" class="label label-important"><i class="icon-exclamation-sign icon-white"></i> {% trans 'Please verify your email.' %}</a></dd>{% endif %}
                </dl>
                </li>
            </ul>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>
