{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net{% url 'point_list' profile_user.screen_name %}">
<meta property="og:title" content="Level of {{ profile_user.screen_name }}"> 
<meta property="og:image" content="http://lingring.net{% static 'image/grade/level_'|add:profile_user.point.grade|add:'.jpg' %}" />
<meta property="og:description" content="{{ profile_user.screen_name }} is {{ profile_user.point.grade }} level now">
<meta property="og:image:width" content="630"> 
<meta property="og:image:height" content="315"> 

{% endblock %}

{% block title %} | {{ profile_user }}'s Points{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/point.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
<h4 id="pointTitle">{% blocktrans %}Point History of {{ profile_user }}{% endblocktrans %}</h4>

{% with profile_user.point.grade as user_grade %}
<h4 class="text-center">
    {% trans "Current Level" %} : <label class="label-grade label-grade-{{ user_grade }}">{{ user_grade|capfirst }}</label></h4>
<h5 class="text-center">+ {% trans "Point in total" %} : <span class="text-success">{{ profile_user.point.all_point }}</span></h5>
<h5 class="text-center"><label class="label-grade label-grade-{{ user_grade }}">{{ user_grade|capfirst }}</label> can have up to<span class="text-info"> {{ profile_user.max_ring }} tutors</span></h5>


{% with profile_user.point.need_point as need_point and profile_user.point.next_grade as next_grade %}
{% if next_grade %}
<h5 class="text-center">
    <span class="text-error">{{ need_point }} points</span> needed to get <label class="label-grade label-grade-{{ next_grade }}">{{ next_grade|capfirst }}</label>
</h5>
{% endif %}
{% endwith %}

<img src="{% static 'image/grade/'|add:user_grade|add:'.png' %}" id="pointHistoryImage" />
{% endwith %}

<div class="text-right">
    <span class="fb-share-button shareQuizResult" data-href="http://www.lingring.net/user/{{ profile_user.screen_name }}/points/" data-type="button_count"></span>
</div>


<table class="table table-bordered table-striped">
  <colgroup>
    <col width="8%" />
    <col width="17%" />
    <col width="15%" />
    <col width="15%" />
    <col width="*" />
  </colgroup>

  <thead>
  <tr class="head">
    <td></td>
    <td>{% trans 'Date' %}</td>
    <td>{% trans '+ Point' %}</td>
    <td>{% trans '- Point' %}</td>
    <td>{% trans 'Activity' %}</td>
  </tr>
  <tr class="amount">
    <td>{% trans 'Total' %}</td>
    <td>{% now "Y.m.d" %}</td>
    <td class="text-success numeric">{{ profile_user.point.all_point }}</td>
    <td class="text-error numeric">{{ profile_user.point.used_point }}</td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  {% if pointlogs %}
    {% for log in pointlogs %}
    <tr>
      <td></td>
      <td>{{ log.ctime|date:"Y.m.d" }}</td>
      <td class="text-success numeric">
        {% ifequal log.flag 'get' %}+ {{ log.point }}{% endifequal %}</td>
      <td class="text-error numeric">
        {% ifequal log.flag 'used' %}- {{ log.point }}{% endifequal %}</td>
      <td>{{ log.get_where_display }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="5" class="text-center">{% trans 'Do not have point history' %}</td>
    </tr>
  {% endif %}
  </tbody>

</table>

{% include 'pagination.html' %}
{% endblock %}
