{% load i18n %}

<div id="modal-confirm-bump" class="modal hide fade" role="dialog" aria-labelledby="ConfirmBump">
    <form id="request-bumpup-form" method="POST">{% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="ConfirmBump">{% trans "Bump Up?" %} (<span class="{% if user.point.have_point_for_bumpup %}text-success{% else %}text-error{% endif %}">Require 50 points</span>)</h4>
    </div>

    <div class="modal-body">
        {% if user.point.have_point_for_bumpup %}
            {% blocktrans with user.point.current_point as user_point %}
            Bump Up places a post to the top of post lists at home and makes it easy to get corrections by using 50 points.<br/> You have {{ user_point }} points now. 
            {% endblocktrans %}
        {% else %}
            {% blocktrans with user.point.current_point as user_point %}
            Bump Up<br/>
            You have {{ user_point }} points now.<br/>
            You don't have enough point for this.<br/>
            Get more points.
            {% endblocktrans %}
        {% endif %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        {% if user.point.have_point_for_bumpup %}
        <button type="submit" class="btn btn-primary" >{% trans "BumpUp" %}</button>
        {% endif %}
    </div>
    </form>
</div>
