{% load i18n staticfiles %}

{% with user.point.grade as user_grade %}
<div id="modal-grade-up" class="modal hide fade" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Current Level" %} : <label class="label-grade label-grade-{{ user_grade }}">{{ user_grade|capfirst }}</label></h4>
        <h5 class="text-center"><label class="label-grade label-grade-{{ user_grade }}">{{ user_grade|capfirst }}</label> can have up to<span class="text-info"> {{ user.max_ring }} tutors</span></h5>
    </div>

    <div class="modal-body">
      <img src="{% static 'image/grade/level_'|add:user.point.grade|add:'.jpg' %}" />

      <div class="text-center">
        <h4>You got <span class="text-success">{{ user.point.last_get_point.point }} points</span></h4>
        <h5>Total Points : {{ user.point.all_point }}</h5>
        Current Points : {{ user.point.current_point }}<br/>
      </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default gaevent" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>
{% endwith %}

