{% load i18n staticfiles %}
<div id="modal-help-me" class="modal modal-help hide fade" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Me" %}</h4>
    </div>

    {% with user.get_learning_language as learning_language %}
    <div class="modal-body">
        <h5>{% blocktrans %}<span class="text-info">All the posts</span> you write or give corrections to<span class="text-info"> are found here.</span>{% endblocktrans %}</h5>
        <h5>{% blocktrans %}You can change your language setting at anytime in <span class="text-info"> "Me -> Setting -> Change My Profile"</span>.{% endblocktrans %}</h5>

        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% blocktrans %}Visit Ling Ring on Facebook and get the latest news!{% endblocktrans %}</span>
            </a>
        </div>
    </div>
    {% endwith %}

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

