{% load i18n staticfiles %}
<div id="modal-help-home" class="modal modal-help hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Correct and Get Points" %}</h4>
    </div>

    {% with user.get_native_language as native_language %}
    <div class="modal-body">
        <dl>
        <img class="pull-left" src="{% static 'image/help/post1.png' %}" alt="Post">
            <dt>{% trans 'What do I see here?' %}</dt>
            <dd>{% blocktrans %}All the post written in<span class="text-info"> {{ native_language }}</span> to get your corrections.{% endblocktrans %}</dd>
        </dl>
        <dl>
        <img class="pull-left" src="{% static 'image/help/correctImage.png' %}" alt="Correct">
            <dt>{% trans 'Correct' %}</dt>
            <dd>{% trans 'Choose any post and click it to correct.' %}</dd>
            </dd>
        </dl>
        <dl>
        <img class="pull-left" src="{% static 'image/help/pointImage.png' %}" alt="Point">
            <dt>{% trans 'Get points' %}</dt>
            <dd><span class="text-info">{% blocktrans %} You'll get points for your corrections! {% endblocktrans %}</span></dd>
            <dd>{% blocktrans %} Basic Point : 3 points {% endblocktrans %} </dd>
            <dd>{% blocktrans %} Extra Point : 1 point for each sentence {% endblocktrans %} </dd> 
        </dl>
        <!--dl>
        <img class="pull-left" src="{% static 'image/help/lingring.png' %}" alt="Ling Ring">
        <dt>{% blocktrans %} Ling Ring is a mutual cooperation community!<br/> You help others and others help you by correcting posts! {% endblocktrans %}</dt>
</dl-->
        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
            </a>
        </div>

    </div>
    {% endwith %}

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>



