{% load i18n staticfiles %}
<div id="modal-help-invite" class="modal fade hide" role="dialog" aria-labelledby="modalInvite">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="modalInvite" class="text-center text-success">{% trans "Thank you for your friends invitation!" %}</h4>
    </div>
    
    <div class="modal-body">
        <h5 class="text-info">{% blocktrans %}Total number of your quiz questions is increased!{% endblocktrans %}</h5>
        <h5>{% blocktrans %}Now, you have<span class="text-error"> 10 questions</span> for a quiz!{% endblocktrans %}</h5>
        <p class="text-info explanation">{% blocktrans %}10 questions = 5 (your posts) + 5 (others' posts){% endblocktrans %}</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

