{% load i18n staticfiles %}
<div id="modal-help-user" class="modal modal-help hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Profile" %}</h4>
    </div>

    {% with user_profile.native_language as native_language %}
    <div class="modal-body">
        <p>{% blocktrans %}You can send <span class="text-info">"Ring Creation Request"</span> to users whose native language is your learning language, {{ native_language }}.{% endblocktrans %}
        <p>{% trans 'Click the button, <span class="text-error">"Be My Tutor"</span>.' %}</p>
        
        <div class="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
            </a>
        </div>
    </div>
    {% endwith %}

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

