{% load i18n staticfiles %}
<div id="modal-help-indicate" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Interaction Indicator" %}</h4>
    </div>

    <div class="modal-body">
        <h5>This Label indicates <span class="text-info">"How likely you respond to or interact with other users"</span>, such as  showing gratitude when you get corrections.</h5>
        <h5>The Level of Interactions is mostly calculated by<span class="text-info"> "How often you reply to your correctors(helpers)"</span>. </h5>
        <h5>Your replies rate is<span class="text-error"> {{ profile_user.interaction_rate }}%</span>.</h5>
        </br>
        <h5 class="text-info">The Easiest way of Level UP</h5>
            <ul>
                <li><span class="text-error">Don’t forget to say thank</span> when you get help from other users</li>
                <li>Visit Ling Ring regularly or check your email in time for not to miss saying “Thanks” to your correctors.</li>
                <li>Write some more posts to study.</li>
                <li>You will get extra point when you help others.</li>
            </ul>
</div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

