{% load i18n staticfiles %}
<div id="modal-help-ring" class="modal modal-help hide fade" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "What's Ring? " %}</h4>
    </div>

    <div class="modal-body">
        <h5 class="text-info">{% trans 'Ring is Connection Between Users in Ling Ring.' %}</h5>
        <ul>
            <li>{% trans 'All the users in Ling Ring are basically students.' %}</li>
            <li>{% trans 'A student can be connected to a tutor whose native language is the studnet's learning language.' %}</li>
        </ul>

        <h5 class="text-info">{% trans 'How to create Ring?' %}</h5>
        <ul>
            <li>{% trans 'A student can send <span class="text-error">Ring creation request</span> to other user just by clicking <span class="text-error">"Be My Tutor"</span>,who can teach him and be a tutor.' %}</li>
            <li>{% trans "Note : Connection can be created only when a user's learning language is equal to other user's native langauge." %}</li>
        </ul>

        <h5 class="text-info">{% trans 'Benefit' %}</h5>
        <ol>
            <li>{% trans '<span class="text-error">A tutor gets an email notification</span> whenever his student writes a post.' %}</li>
            <li>{% trans 'Users in Ring can<span class="text-error"> become facebook friends</span> with ease by visiting their facebook page.' %}</li>
        </ol>

        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>

</div>

