{% load i18n staticfiles %}
<div id="modal-help-ring-tutor" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Tips For Tutor Ring" %}</h4>
    </div>

    
    <div class="modal-body">
        <h5 class="text-info">All the users you see in this box are your tutors, and you're the student of them. </h5>
        <ul>
            <li>As soon as you write a new post, your tutors would get a notification email for it, then they'll come to check your new post. </li>
            <li>Don't forget to say to your helpers, "Thank you." </li>
        </ul>

        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>

</div>

