{% load i18n staticfiles %}
<div id="modal-help-ring-student" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Tips For Student Ring" %}</h4>
    </div>

    <div class="modal-body">
        <h5 class="text-info">All the users you see in this box are your students, and you're the tutor of them.</h5>
        <ul>
            <li>You'll get email notifications as soon as your students write a new post. Check the posts of your students and help them.</li>
            <li>Encourage your students to study with pleasure.</li>
            <li>You also can visit facebook of your student by clicking the facebook link next to your studnet's photo.</li>
        </ul>
        <div id="linkToPage">
            <a target="_blank" href="https://www.facebook.com/linguisticring?fref=ts">
                <img src="{% static 'image/visit_us_on_facebook.png' %}" alt="Ling Ring on Facebook">
                <span>{% trans 'Visit Ling Ring on Facebook and get the latest news!' %}</span>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>

</div>

