{% load i18n staticfiles %}
<div id="modal-help-edit" class="modal hide fade modal-help" role="dialog" aria-labelledby="helpEdit">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="helpEdit" class="text-info text-center">{% trans "You're Almost Done!" %}</h4>
    </div>

    <div class="modal-body">
        <dl>
            <dt class="text-info">{% trans 'Post Formatting' %}</dt>
            <dd>{% blocktrans %} LingRing automatically splits your post into individual sentences by punctuation <span class="text-info">(".", "!", "?")</span>. This ensures proper pairing between individual sentences in your post and corrections by native language speakers. Please check your post and make sure all sentences have been split up correctly.{% endblocktrans %}</dd>
            <dt class="text-info">{% trans 'Add an Optional Description' %}</dt>
            <dd>{% trans 'You will receive better corrections if each sentence includes an additional English or native description.' %}</dd>
        </dl>
        <p>{% blocktrans %}<strong><span class="text-info"> Note :</span> </strong> Don’t forget to click the <span class="text-error">“Publish”</span> button at the bottom of your post, otherwise it will remain in a draft state.  {% endblocktrans %}  </p>
    </div>

    <div class="modal-footer">
        <label class="checkbox pull-left">
          <input type="checkbox" class="never-show-check"> {% trans "Don’t show again!" %}
        </label>
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

