{% load i18n staticfiles %}
<div id="modal-unpublished" class="modal hide fade modal-help un-cookied" role="dialog" aria-labelledby="helpEdit">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="helpEdit" class="text-info text-center">{% trans "Finish Editing to Publish" %}</h4>
    </div>

    <div class="modal-body">
      <h5>{% trans "Edit your writing and add English or native description(optional) to get better corrections." %}</h5>

      <p class="explanation">{% blocktrans %} * Don’t forget clicking <span class="text-error"> “Publish”</span> button at the bottom after finishing.{% endblocktrans %}</p>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

