{% load i18n %}
<div id="modal-low-reply-rate" class="modal hide fade" role="dialog" aria-labelledby="lowReplyRate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="lowReplyRate" class="text-center text-error">{% trans "Warning!" %}</h4>
    </div>

    <div class="modal-body">
        {% blocktrans %}
        <h5 class="text-error">
        Your Response Rate is Poor (below 50%) Now!
        </h5>

        <p>
        Keep your Response Rate over 50%, or it's getting harder for you to get corrections.
        </p>

        <h5 class="text-info">
        How to raise Response Rate:
        </h5>
        <p>
        - Say "Thank you" or ask more questions to each corrector <span class="text-info">at least once in any place of your post</span>.<br/>
        </p>
        {% endblocktrans %}

        <h5>
        <label class="checkbox">
          <input type="checkbox" id="lowReplyNeverShow"> Don’t show this message to me again.
        </label>
        </h5>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

