{% load i18n %}
<div id="modal-newbie-reply-rate" class="modal hide fade" role="dialog" aria-labelledby="newbieReplyRate">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="newbieReplyRate" class="text-center">
          {% blocktrans %}
          <span class="text-info">Important Tip : Response Rate</span> 
          {% endblocktrans %}
        </h4>
    </div>

    <div class="modal-body">
        {% blocktrans %}
        <h5>
        Your Response Rate is <span class="text-info"><strong>N/A(Not Available)</strong></span> now.<br/>
        It’ll be calculated as soon as you get your first corrections for your post.
        </h5>
        <h5>
        Response Rate shows <span class="text-error">how likely you show gratitude to or interact with other users who help you with your post</span>.<br/>
        <span class="text-info">Keep your Response Rate <strong>over 50%</strong></span>, or others may not help you again.
        </h5>
        <h5>
        <strong class="text-error">* How to raise Response Rate:</strong><br/>
        <span class="text-info">        1. Say “thank you” to each corrector<br/>
            2. Ask more questions for corrections you get</span><br/>
        </h5>
        {% endblocktrans %}
    </div>

    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

