{% load i18n %}
<div id="modal-privacy" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">{% trans "Ling Ring's Privacy Policy" %}</h4>
    </div>

    <div class="modal-body">
    {% include 'lang/legal/privacy.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>

