{% load i18n staticfiles %}
<div id="modal-shorten-post" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">{% trans "Skip writing?" %}</h4>
    </div>

    <div class="modal-body">
        <h5>{% blocktrans with user.get_native_language as native_language %}<span class="text-error">Your post has less than 15 letters. It won't be posted this time.</span><br/><br/>Skip and go Home to help other users?<br/> {% endblocktrans %} </h5>
        <p>{% blocktrans %} * You can write a post at anytime by clicking "New Post" at the top menu. {% endblocktrans %}</p>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default gaevent" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</a>
        <a class="btn btn-primary gaevent" data-gac="PostActivation" data-gan="Skip First Post" href="{% url 'ask_language_list' user.get_native_language.name %}">{% trans "Skip" %}</a>
    </div>
</div>

