{% load i18n staticfiles %}
<div id="modal-tip-for-edit" class="modal hide fade modal-help" role="dialog" aria-labelledby="tipForEdit">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="tipForEdit" class="text-info text-center">{% trans "Tip for Edit" %}</h4>
    </div>

    <div class="modal-body">
        <h5>{% blocktrans %} You can edit your text by clicking <span class="text-info">"Edit"</span> at anytime!{% endblocktrans %}</h5>
      <div class="alert alert-warning">
        {% trans 'Edit your post or add original text in other language for better understanding' %}
        <p>
          <span class="text-info">{% trans 'Delete' %}</span> &nbsp; 
          <span class="text-info"><strong>{% trans 'Edit' %}</strong></span>
        </p>
      </div>
      <p class="explanation">
      {% blocktrans %}
      * Also, you can edit your comment or reply at anytime by clicking "<span class="text-info">Edit</span>" link right next to your comment or reply.
      {% endblocktrans %}
      </p>
  
    </div>

    <div class="modal-footer">
      <label class="checkbox pull-left">
          <input type="checkbox" class="never-show-check"> {% trans "Don’t show again!" %}      
      </label>
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

