{% load i18n staticfiles %}
<div id="modal-tip-for-correction-{{ user.id }}" class="modal hide fade modal-help" role="dialog" aria-labelledby="tipForCorrection">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="tipForCorrection" class="text-info text-center">{% trans "Tip for Correction" %}</h4>
    </div>

    <div class="modal-body">
        <h5>{% blocktrans %}<span class="text-error">Autofill</span> can save your time for typing. Try it!  {% endblocktrans %}</h5>
      <div id="tipForCorrection">
        <p class="text-center">
        <small>
          <span >{% trans 'Perfect' %}</span> &nbsp; 
          <span >{% trans 'Do not understand' %}</span> &nbsp; 
          <span class="text-error"><strong>{% trans 'AutoFill' %}</strong></span>
        </small>
        </p>
      </div>
      </br>
      <p>{% trans '* Also, you can edit your correction at anytime!' %}</p>
    </div>

    <div class="modal-footer">
      <label class="checkbox pull-left">
        <input type="checkbox" class="never-show-check"> {% trans "Don’t show again!" %}
      </label>
        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
    </div>
</div>

