{% extends 'base_error.html' %}
{% load i18n staticfiles compress %}

{% block title %} | Internal Server Error{% endblock %}

{% block content %}
<br/>
<h1>{% trans "The server was unable to complete your request." %}</h1>
<br/>
<h4>{% trans "Sit tight! We'll get things back to normal soon." %}</h4>
<br/>

<small>
    <b>
        © 2014 LingRing
        <a href="#">Help</a>
        <a href="#">FaceBook</a>
    </b>
</small>
{% endblock %}
