{% extends 'base.html' %}
{% load i18n staticfiles compress %}

{% block title %} | Not Found Error{% endblock %}

{% block stylesheet %}
{{ block.super }}
<style>
    #landingBody {
        padding-top:40px;color:black;background-color:rgb(128, 218, 242);
    }
    #landingContainer #landingUpper{height:600px;}
    #landingContainer #landingUpper #landingUpperInner {max-width:580px;}
    #landingContainer #landingUpper #landingUpperInner small {color: black;}
    #landingContainer #landingUpper #landingUpperInner small a {
        color: black;
        margin-left: 10px;
    }
    #landingContainer #landingUpper #landingUpperInner a:hover { text-decoration:underline; }
</style>
{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">

            <ul class="nav pull-left">
                <li><a href="{% url 'home' %}">{% trans 'LingRing' %}</a></li>
            </ul>

            <ul class="nav pull-right">
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block container %}
<div id="landingBody">
    <div id="landingContainer">
        <div id="landingUpper">
            <div id="landingUpperInner" class="text-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
