{% load url from future %}{% load staticfiles i18n %}
{% load compress %}
<!DOCTYPE HTML>
<html>
<head>
    {% block licence %}
    {% endblock %}

    {% block metatags %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="LingRing">
    <meta name="description" content="Write your post in a foreign language and receive corrections from native speakers for free.">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="keyword" content="language,exchange,foreign,English,Japanese,learn" />

    <meta name="robots" content="noarchive">
    <meta name="google-site-verification" content="xKC9MSkXkoOlnLWFsubV8oZiU-j8TZ7X8PorlGINN5g" />
    <meta name="msvalidate.01" content="1AE24F62A8549C6AE70C3470FEB0E2CE" />
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="624489554241500">

    {% block fb_specifictag %}
    <meta property="og:title" content="LingRing: Let's Exchange Languages!">
    <meta property="og:url" content="https://lingring.net/" rel="canonical">
    <meta property="og:description" content="Write your post in a foreign language and receive corrections from native speakers for free.">
    <meta property="og:image" content="https://lingring.net/static/image/logoFBOG_1.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    {% endblock %}
    {% endblock %}

    <title>LingRing {% block title %}| {% trans 'Language Exchange in Ling Ring' %}{% endblock %}</title>
    
    {% block stylesheet %}
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />

    <!-- bootstrap -->

    <link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" media="all" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>

    {% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/introjs.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/screen.css' %}" />
    {% endcompress %}

    <!-- Import Fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    {% endblock %}

{% block blockbots %}
{% endblock %}

{% block extrahead %}
{% endblock %}
</head>

<body>
{% block body_header %}
{% endblock %}

{% block container %}
<div class="container">
    <div id="content"> 
    {% include 'point_message.html' %}

    {% block contents %}
    {% endblock %}
    {% block body_footer %}
    {% endblock %}
    </div>
</div>
<div id="fb-root"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.raty.js' %}"></script>
<script type="text/javascript" src="{% static 'js/intro.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lingring.js' %}"></script>
<script type="text/javascript" src="{% static 'js/google-analytics.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
    var FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
    var FACEBOOK_LOGIN_URL = "{% url 'socialauth_begin' 'facebook' %}";
</script>
<script type="text/javascript" src="{% static 'js/facebook_login.js' %}"></script>
{% endblock %}

</body>

</html>
