{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block body_header %}
{% include 'navbar.html' %}
{% endblock %}

{% block contents %}
    {% block content %}
    {% endblock %}
    <div class="clear"></div>
{% endblock %}

{% block body_footer %}
<div id="modal-post" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel" class="text-center">
            {% blocktrans with user.get_learning_language as learning_language %} Post in {{ learning_language }}{% endblocktrans %}
        </h4>
    </div>

    <div class="modal-body">
    {% include 'lang/ask/post_form.html' %}
    </div>
</div>
{% endblock %}
