{% if messages %}
    {% for message in messages %}
        {% if message.level == 40 %}
        <div class="alert alert-danger alert-message">
        {{ message|safe }}
        </div>
        {% else %}
        <div class="alert alert-success alert-message">
        {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
