{% load i18n staticfiles %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">

            <ul class="nav pull-left">
                {% if not user.is_new and user.screen_name %}
                <li {% if main_menu == 'language' or main_menu == 'mystudents' %}class="active"{% endif %}>
                  <a href="{% url 'ask_language_list' user.get_native_language.name %}">{% trans 'Home' %}</a>
                </li>
                <li {% ifequal main_menu 'ring' %}class="active"{% endifequal %}>
                  <a href="{% url 'ring_list' %}">
                    {% trans 'Ring' %}
                    {% with notifications=user.get_ring_notifications.count %}
                    <span id="message_badge" class="badge badge-important {% if not notifications %}hide{% endif %}">{{ notifications }}</span>
                    {% endwith %}
                  </a>
                </li>
                <li {% ifequal main_menu 'user' %}class="active"{% endifequal %}>
                  {% with correction_notis=user.get_correction_notifications.count %}
                  {% with reply_notis=user.get_reply_notifications.count %}
                  {% with notifications=correction_notis|add:reply_notis %}
                  <a href="{% if correction_notis %}{% url 'ask_post_list' user.screen_name %}{% elif reply_notis and user.get_reply_notifications.0.post.user != user %}{% url 'ask_correction_list' user.screen_name %}{% else %}{% url 'ask_post_list' user.screen_name %}{% endif %}">
                    {% trans 'Me' %}
                    <span id="post_badge" class="badge badge-important {% if not notifications %}hide{% endif %}">{{ notifications }}</span>
                  </a>
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                </li>
                {% else %}
                <li {% ifequal main_menu 'language' %}class="active"{% endifequal %}><a href="{% url 'ask_language_list' %}"> {% trans 'Home' %}</a></li>
                {% endif %}

            </ul>

            <ul class="nav pull-right">
                {% if not user.is_new and user.screen_name %}
                <li><a href="#" role="button" data-toggle="modal" data-target="#modal-post"> {% trans 'New Post' %}</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}" role="button"> {% trans 'Login' %}</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
