{% load i18n %}

{% if is_paginated %}
<ul class="pager">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
  {% else %}
  <li class="disabled"><a href="#">{% trans 'Previous' %}</a></li>
  {% endif %}

  <!--
  {% for i in paginator.page_range %}
    {% ifequal page_obj.number i %}
    <li class="active"><a href="#">{{i}}</a></li>
    {% else %}
    <li><a href="?page={{ i }}">{{i}}</a></li>
    {% endifequal %}
  {% endfor %}
  -->

  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
  {% else %}
  <li class="disabled"><a href="#">{% trans 'Next' %}</a></li>
  {% endif %}
</ul>
{% endif %}
