{% load i18n %}

<div class="originalSentenceLine">
  <div class="sentence-wrapper">
    <div class="bold original-sentence child-no-bg">
      <textarea name="{% if is_title %}t{% endif %}l_{{ sentence.id }}" type="text" placeholder="{% trans 'Sentence deleted.' %}" class="correction_form lc">{{ sentence.context }}</textarea>
    </div>
    {% if not sentence.native_context %}
    <div class="add-translation-wrapper">
      <span>{% trans 'Add a description' %}</span>
    </div>
    {% endif %}

    <div class="original-sentence child-no-bg native-sentence-wrapper {% if not sentence.native_context %}hide{% endif %}">
      <textarea name="{% if is_title %}t{% endif %}n_{{ sentence.id }}" type="text" placeholder="{% trans 'Give context in your native language.' %}" class="correction_form">{{ sentence.native_context|default:"" }}</textarea>
    </div>
  </div>
</div>
