{% load i18n %}

<ul class="nav nav-tabs nav-justified navJournal">
  <li {% ifequal nav_me 'post' %}class="active"{% endifequal %}>
    <a href="{% url 'ask_post_list' profile_user.screen_name %}">
      {% if user == profile_user %}
      {{ profile_user.get_learning_language }} {% trans 'Learning' %}
      <span id="my_post_badge" class="badge badge-important {% if not user.get_my_notifications.exists %}hide{% endif %}">{{ user.get_my_notifications.count }}</span>
      {% else %}
      {{ profile_user.get_learning_language }}
      {% endif %}
      <div class="numberInfo text-info"><strong> {{ profile_user.get_post_count }}</strong></div>
    </a>
  </li>

  <li {% ifequal nav_me 'correction' %}class="active"{% endifequal %}>
  <a href="{% url 'ask_correction_list' profile_user.screen_name %}">
  {% if user == profile_user %}
  {{ profile_user.get_native_language }} {% trans 'Correction' %}
  <span id="my_post_badge" class="badge badge-important {% if not user.get_other_post_notifications.exists %}hide{% endif %}">{{ user.get_other_post_notifications.count }}</span>
  {% else %}
  {{ profile_user.get_native_language }}
  {% endif %}
  <div class="numberInfo text-info"><strong>{{ profile_user.get_correction_count }}</strong></div>
  </a></li>
</ul>

{% if nav_me == 'post' and user == profile_user %}
  <div id="listOption">
      <label class="radio inline">
          <input data-url="{% url 'ask_post_list' profile_user.screen_name %}" type="radio" name="radio_link" class="radio_link" {% if not request.GET.order %}checked{% endif %}>
          {% trans 'Latest Notification' %}
      </label>

      <label class="radio inline">
          <input data-url="{% url 'ask_post_list' profile_user.screen_name %}?order=post" type="radio" name="radio_link" class="radio_link" {% ifequal request.GET.order 'post' %}checked{% endifequal %}>
          {% trans 'Latest Post' %}
      </label>
  </div>
{% endif %}
