{% load i18n %}

{% if not user.is_authenticated or user != profile_user %}
{% else %}
  {% if user.has_unread_topics %}
  {% with user.unread_topics.0 as topic %}
  <div class="topicBox">
    {% with topic.user as topic_author and topic.title as title and topic.language.name|capfirst as topic_language %}
    <h5>LingRing's Topic Suggestion</h5>
    <blockquote>
        <h5 class="topic-title">"{{ title }}"</h5>
        <small><a href="{% url 'ask_post_list' topic.user.screen_name %}"><span class="topic-author">{{ topic_author }}</span></a>, the <span class="topic-author-language">{{ topic_language }}</span> Master of LingRing</small>
    </blockquote>
    {% endwith %}
    <div class="text-right topic-action">
        <a id="create-topic-btn" href="#" data-toggle="modal" data-target="#modal-post" data-title="{{ topic.title }}" data-id="{{ topic.id }}">
          <small><i class="fa fa-edit"></i> {% trans 'Write Now' %}</small>
        </a>

        <form id="topic-read-form" action="{% url 'topic_add_reader' topic.language.name topic.id %}" method="post">{% csrf_token %}
          <button type="submit" class="btn btn-link">
              <small><i class="fa fa-eraser"></i><span style="vertical-align:text-top"> {% trans 'Ignore' %}</span></small>
          </button>
        </form>

        <a href="{% url 'topic_list' user.get_learning_language.name %}">
          <small><i class="fa fa-list"></i> {% trans 'See More Topics' %}</small>
        </a>
    </div>
  </div>

  <div id="no-unread-topic" class="text-right topicBox hidden">
    <a href="{% url 'topic_list' user.get_learning_language.name %}">
      <small><i class="fa fa-list"></i> {% trans 'See Topics' %}</small>
    </a>
  </div>

  {% endwith %}
  {% elif user.get_learning_language.topic_set.exists %}
  <div class="text-right topicBox">
    <a href="{% url 'topic_list' user.get_learning_language.name %}" class="create-topic-link">
      <small><i class="fa fa-list"></i> {% trans 'See Topics' %}</small>
    </a>
  </div>
  {% endif %}
{% endif %}
