{% extends 'base_site.html' %}
{% load i18n staticfiles compress %}

{% block fb_specifictag %}
<meta property="og:title" content="{{ profile_user }}'s {{ profile_user.get_native_language }} Correction History">
<meta property="og:url" content="http://lingring.net/user/{{ profile_user.screen_name }}/correction/">
<meta property="og:description" content="Corrected {{ profile_user.get_correction_count }} | {{ profile_user.get_native_language }} Posts">
{% endblock %}

{% block title %} | {{ profile_user }}'s Corrections{% endblock %}

{% block body_header %}
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'lang/user/detail.html' %}
<div class="contentTitle journal">
    <h4><i class="fa fa-pencil fa-lg"></i>&nbsp; {% trans 'Journals' %}</h4>
</div>

<div class="content_wrapper active">
    {% include 'messages.html' %}
    {% include 'lang/ask/_journal_tab.html' %}

    {% if correction_list %}
    {% for ask in correction_list %}
    {% include 'lang/ask/item.html' with wrapper='correction' %}
    {% endfor %}
    {% else %}

    {% ifequal user profile_user %}
    <div class="alert alert-info">
        {% blocktrans with profile_user.get_native_language as native_language %}You haven't made any corrections to {{ native_language }} posts.<br/> Go <strong>Home</strong> and find someone who needs your {{ native_language }} help. {% endblocktrans %}
    </div>
    {% else %}
    <div class="alert alert-info">
        {% blocktrans %}{{ profile_user }} has not corrected any posts.{% endblocktrans %}
    </div>
    {% endifequal %}
    {% endif %}
</div>

{% if page_obj.has_next %}
<nav id="page-nav">
<a data="{{ page_obj.paginator.count }}" href="{% url 'ask_correction_list' profile_user %}?page=2"></a>
</nav>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'infinite-scroll/jquery.infinitescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infinite-scroll-fire.js' %}"></script>
<script type="text/javascript" src="{% static 'js/me.js' %}"></script>
{% endcompress %}
{% endblock %}
