{% extends 'base_site.html' %}
{% load i18n staticfiles thumbnail filters compress %}

{% block fb_specifictag %}
<meta property="og:title" content="{{ ask.user.screen_name }}: Learning {{ ask.language }} on Ling Ring">
<meta property="og:url" content="http://lingring.net/post/{{ ask.id }}/">
<meta property="og:description" content="{{ ask.context }}">
<meta property="og:image" content="http://lingring.net/static/image/logoFBOG_1.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="200">
{% endblock %}

{% block title %}, the Language Exchange | {{ ask.user.screen_name }}'s Post {{ ask }}{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/ask.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'lang/ask/view/_ask_info.html' %}
{% include 'messages.html' %}
{% with ask.get_corrections as corrections %}
  {% include 'lang/ask/view/_view_actions.html' %}
  {% if ask.user == user and not corrections %}
    {% include 'lang/ask/view/_no_correction.html' %}
  {% else %}
    {% include 'lang/ask/view/_tab_nav.html' %}
    {% include 'lang/ask/view/_tab_content.html' %}
  {% endif %}
{% endwith %}
{% endblock %}


{% block body_footer %}
{{ block.super }}

{% if user == ask.user %}
  {% if request.GET.grade %}
  {% include 'lang/modal/grade_up.html' %}
  {% endif %}

  {% if request.GET.success %}
  {% include 'lang/ask/view/success_written.html' %}
  {% endif %}
{% endif %}

{% endblock %}


{% block javascript %}
{{ block.super }}

{% compress js %}
<script type="text/javascript" src="{% static 'js/ask_view.js' %}"></script>
{% endcompress %}

<script type="text/javascript">

$(document).ready(function() {
    if (!getCookie("post-" + "{{ ask.id }}")) {
        $('#modal-ask-success').modal();
    }
    $('#modal-ask-success').on("hidden", function () {
        setCookie("post-" + "{{ ask.id }}", 'modal-hide', 3650);
    });

    {% if corrector %}
    $('#view-tab a#nav-tab-{{ corrector }}').tab('show');
    {% elif ask.user == user and ask.get_correctors %}
    $('#view-tab a:first').tab('show');
    {% elif not user.is_authenticated %}
    $('#view-tab a:first').tab('show');
    {% else %}
    $('#view-tab a#nav-tab-{{ user.screen_name }}').tab('show');
    {% endif %}

    {% if user.is_authenticated %}
    $("input.reply_context").on("keypress", function(e) {
        if (e.which == 13 && $(this).val()) {
            $pdiv = $(this).parent().parent();
            post_reply($pdiv,
                "{% url 'comment_create' %}",
                "{% url 'ask_post_list' user.screen_name %}",
                "{{ user.get_small_profile_photo }}");
            return false;
        }
    });
    $("#post_delete_form").on("submit", function() {
        return confirm("{% trans 'Delete this post?' %}");
    });
    window.setTimeout(function() { $(".alert-message").alert('close'); }, 3000);

    $(".overall_comment_form").on("submit", function() {
        if (!$(this).find("input[name='context']").val()) return false;
        var $f = $(this);
        overall_comment($f,
            "{% url 'ask_post_list' user.screen_name %}",
            "{{ user.get_small_profile_photo }}");
        return false;
    });

    if (!getCookie("grade-up-" + "{{ request.GET.grade }}")) {
      $('#modal-grade-up').modal();
    }
    $('#modal-grade-up').on("hidden", function () {
        setCookie("grade-up-" + "{{ request.GET.grade }}", 'modal-hide', 3650);
    });
    {% endif %}
});
</script>
{% endblock %}
