{% extends 'base_site.html' %}
{% load i18n staticfiles thumbnail filters compress %}

{% block title %} | {{ ask.user.screen_name }}'s Post Update{% endblock %}

{% block content %}
{% include 'lang/ask/view/_ask_info.html' %}

<div class="alert alert-warning alert-small" style="text-align:right">
  <form id="post_delete_form" class="text-right" action="{% url 'ask_delete' ask.id %}" method="post">{% csrf_token %}
    <input type="submit" value="{% trans 'Delete Post' %}" class="btn btn-link"/>
  </form>
</div>


<form id="post_edit_form" action="." method="POST">{% csrf_token %}
  {% if ask.title %}
  {% with ask.title as sentence %}
  {% include 'lang/ask/_edit_sentence.html' with is_title='True' %}
  {% endwith %}
  {% endif %}

  {% for sentence in ask.sentences %}
  {% include 'lang/ask/_edit_sentence.html' with is_title='' %}
  {% endfor %}

  {% if ask.is_published %}
  <input type="submit" class="pull-right btn btn-primary" value="{% trans 'Update' %}" />
  {% else %}
  <input type="submit" class="pull-right btn btn-primary" value="{% trans 'Publish' %}" />
  {% endif %}
</form>
{% endblock %}

{% block body_footer %}
{{ block.super }}
{% if user == ask.user %}
  {% if request.GET.draft %}
  {% include 'lang/modal/help_edit.html' %}
  {% elif not ask.is_published %}
  {% include 'lang/modal/is_draft.html' %}
  {% endif %}

  {% if request.GET.grade %}
  {% include 'lang/modal/grade_up.html' %}
  {% endif %}
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    // if whole sentences is blank, raise delete confirmation
    $("#post_edit_form").on("submit", function() {
        delete_flag = true;
        learning_language_contexts = $(".lc");
        $.each(learning_language_contexts, function() {
            if ($(this).val()) delete_flag = false;
        });
        if (delete_flag) {
          return confirm("{% trans 'Delete this post?' %}");
        }
        else {
          $(this).find("input[type='submit']").attr('disabled', true);
        }
    });

    // ask success help modal appear|block
    if (!getCookie("grade-up-" + "{{ request.GET.grade }}")) {
      $('#modal-grade-up').modal();
    }

    $(".add-translation-wrapper").on("click", function() {
        $(this).parent().find('.native-sentence-wrapper').show()
        $(this).hide();
    });
    $(".lc").on("focus", function() {
        $(this).parent().parent().find('.native-sentence-wrapper').show()
        $(this).parent().parent().find('.add-translation-wrapper').hide();
    });

    $("#post_delete_form").on("submit", function() {
        return confirm("{% trans 'Delete this post?' %}");
    });

    $('#modal-grade-up').on("hidden", function () {
        setCookie("grade-up-" + "{{ request.GET.grade }}", 'modal-hide', 365);
    });
});
</script>
{% endblock %}
