{% load i18n thumbnail filters staticfiles %}

{% if wrapper == 'correction' %}
<div id="ask_{{ ask.id }}" class="ask_item well item media {% if user == profile_user and ask|has_notified_reply:user %}alert-info{% endif %}" data-url="{% url 'ask_view' ask.id %}" itemscope itemtype="http://schema.org/Review">
{% else %}
<div id="ask_{{ ask.id }}" class="ask_item well item media {% if ask.user.id in mystudents and not ask.correction_set.all|has_corrector:user %}alert{% endif %} {% if user == ask.user and ask.has_correct_notifications %}alert-info{% endif %}" data-url="{% url 'ask_view' ask.id %}" itemscope itemtype="http://schema.org/Review">
{% endif %}

    <div class="pull-left text-center">
        <a class="user_img" href="{% ifnotequal profile_user ask.user %}{% url 'ask_post_list' ask.user.screen_name %}{% else %}#{% endifnotequal %}"><img class="media-object media-object-64" src="{{ ask.user.get_profile_photo }}" itemprop="image" /></a>

        <div class="replyRateInPostBox">
        {% with ask.user.interaction_rate as irate and ask.user.get_level as level%}
        {% if level.name == 'N/A' %}
            <div class="newbie">N/A</div>
        {% else %}
            <div class="progress">
                <div class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</div>
            </div>
        {% endif %}
        {% endwith %}
        </div>

        <div class="showCount">
            <img src="{% static 'image/ic_corrector.png' %}"> {{ ask.get_corrections.count }}
            <img src="{% static 'image/ic_modify.png' %}"> {{ ask.get_replies }}
        </div>
    </div>

    <div class="media-body">
        <span class="user pull-left" itemprop="author">
          <a href="{% ifnotequal profile_user ask.user %}{% url 'ask_post_list' ask.user.screen_name %}{% else %}#{% endifnotequal %}">
            {% if ask.user.is_staff %}
            <img class="grade grade-xs" src="{% static 'image/crown.png' %}" />
            {% endif %}
            <span class="grade grade-xs grade-{{ ask.user.point.grade }}"></span> {{ ask.user.screen_name }}
          </a>
          {% if not ask.is_published %}
          <span class="text-error">{% trans 'Draft' %}</span>
          {% endif %}
          {% if user != ask.user %}
          {% if user|is_my_student:ask.user or user|is_my_tutor:ask.user %}
          <a href="{% url 'search_chatroom' %}?receiver={{ ask.user.id }}"><img src="{% static 'image/talkIcon.png' %}" class="talkIcon"/>Talk</a>
          {% endif %}
          {% endif %}
        </span>

        <span class="elapsed_time right">{{ ask.get_elapsed_time }}</span>
        <div class="clearfix"></div>
        <a class="item-content-wrapper" href="{% if ask.is_published %}{% url 'ask_view' ask.id %}{% else %}{% url 'ask_update' ask.id %}{% endif %}" itemprop="about">
            <div class="clear">
                {{ ask.get_summary }}
            </div>
        </a>
        <div class="averageScore">
          <span class="averageScoreText">{% trans 'Avg Rating' %}</span>
          <span class="rating-readonly" data-score="{{ ask.average_score }}"></span>
        </div>

        {% if not wrapper == 'correction' and user == ask.user and ask.is_possible_bumpup %}
        <button class="btn btn-xs btn-link bump-up pull-right" data-url="{% url 'ask_bump' ask.id %}">{% trans 'Bump Up' %} <i class="icon-arrow-up"></i></button>
        {% endif %}
    </div>
</div>
