{% extends 'base_site.html' %}
{% load i18n staticfiles bootstrap_toolkit thumbnail compress %}

{% block fb_specifictag %}
<meta property="og:title" content="Correct {{ language.name|capfirst }} posts">
<meta property="og:url" content="http://lingring.net/language/{{ language.name }}/">
<meta property="og:description" content="Correct another person's post here in your native {{ language.name }} and receive corrections for posts you write in a language you're learning.">
{% endblock %}

{% block title %}| {{ language.name|capfirst }} Posts{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/ask_list.css' %}" />
{% endcompress %}
{% endblock %}

{% block contents %}

{% with user.get_learning_language as learning_language and user.get_native_language as native_language %}

{% include 'lang/ask/home/alert.html' %}

{% if user.is_authenticated and language %}
  {% include 'lang/ask/home/best_tutor.html' %}
  <ul class="nav nav-tabs nav-tabs-by-two">
      <li {% if language == 'mystudents' or native_language == language %}class="active"{% endif %}><a href="{% url 'ask_student_list' %}" >
        {% blocktrans %}Correct {{ native_language }}{% endblocktrans %}
      </a></li>

      <!--
      <li {% if native_language == language %}class="active"{% endif %}><a href="{% url 'ask_language_list' native_language.name %}" >
        {% blocktrans %}Correct {{ native_language }}{% endblocktrans %}
      </a></li>
      -->

      <li {% if learning_language == language %}class="active"{% endif %}><a href="{% url 'ask_language_list' learning_language.name %}" >{% blocktrans %}Learn {{ learning_language }}{% endblocktrans %}</a></li>
  </ul>

  {% if language == 'mystudents' or native_language == language %}
  <div id="listOption">
      <label class="radio inline">
          <input data-url="{% url 'ask_language_list' native_language.name %}" type="radio" name="radio_link" class="radio_link" {% if native_language == language %}checked{% endif %}>
          {% trans 'All' %}
      </label>
      
      <label class="radio inline">
          <input data-url="{% url 'ask_student_list' %}" type="radio" name="radio_link" class="radio_link" {% if language == 'mystudents' %}checked{% endif%}>
          {% trans 'My Students' %}
      </label>
  </div>
  {% endif %}
{% endif %}
{% endwith %}

<div class="content_wrapper active">
{% if ask_list %}
{% for ask in ask_list %}
{% include 'lang/ask/item.html' with wrapper='language' %}
{% endfor %}
{% else %}
{% include 'alert.html' with message="No Post Written Yet." %}
{% endif %}

{% if page_obj.has_next %}
<nav id="page-nav">
    {% if language %}
    {% if language == 'mystudents' %}
    <a data="{{ page_obj.paginator.count }}" href="{% url 'ask_student_list' %}?page=2"></a>
    {% else %}
    <a data="{{ page_obj.paginator.count }}" href="{% url 'ask_language_list' language.name %}?page=2"></a>
    {% endif %}
    {% else %}
    <a data="{{ page_obj.paginator.count }}" href="{% url 'ask_language_list' %}?page=2"></a>
    {% endif %}
</nav>
</div>
{% endif %}

{% if user.is_newbie %}
{% include 'lang/modal/help_home.html' %}
{% endif %}

{% endblock %}

{% block body_footer %}
{{ block.super }}
{% include 'lang/modal/confirm_bumpup.html' %}
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'infinite-scroll/jquery.infinitescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infinite-scroll-fire.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var $modal_home = $('#modal-help-home');
    if ($modal_home) $modal_home.modal();

    $modal_home.on('hidden', function () {
        id = $(this).attr('id');
        if (id == 'modal-help-home') {
            $.ajax({
                url: '/accounts/offthenewbieflag/',
                type: 'POST',
                async: 'true',
                dataType: 'json',
                success: function(res) { },
                fail: function(res) { }
            });
        }
    });
});
</script>
{% endblock %}
