{% extends 'base_site.html' %}
{% load i18n staticfiles compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net/user/{{ profile_user.screen_name }}/">
<meta property="og:title" content="{{profile_user.screen_name}}'s Journal Posts'">
<meta property="og:description" content="{{ profile_user.get_learning_language }} Posts: {{ profile_user.get_post_count }} ">
{% endblock %}

{% block title %} | {{ profile_user }} -  Journals{% endblock %}

{% block body_header %}
{{ block.super }}
{% endblock %}

{% block content %}
{% include 'lang/user/detail.html' %}
<div class="contentTitle journal">
    <h4><i class="fa fa-pencil fa-lg"></i>&nbsp;{% trans 'Journals' %}</h4>
</div>

{% include 'messages.html' %}
{% include 'lang/ask/_journal_tab.html' %}

<div class="content_wrapper active">
    {% include 'lang/ask/_topic.html' %}
    {% if ask_list %}
        {% for ask in ask_list %}
        {% include 'lang/ask/item.html' with wrappr='language' %}
        {% endfor %}
    {% else %}
        {% ifequal user profile_user %}
        <div class="alert alert-info">
            {% blocktrans with profile_user.get_learning_language as learning_language %}You haven't started a journal yet. Please write a post in {{ learning_language }} to start learning.{% endblocktrans %}
            <br/>
            <!--a href="/post/" class="btn" role="button" data-toggle="modal" data-target="#modal-post">
            {% blocktrans with profile_user.get_learning_language as learning_language %}Write a {{ learning_language }} post now{% endblocktrans %}</a-->
        </div>
        {% else %}
        <div class="alert alert-info">
            {% blocktrans %}{{ profile_user }} has no posts.{% endblocktrans %}
        </div>
        {% endifequal %}
    {% endif %}
</div>
{% if page_obj.has_next %}
<nav id="page-nav">
  <a data="{{ page_obj.paginator.count }}" href="{% url 'ask_post_list' profile_user.screen_name %}?page=2&order={{ request.GET.order }}"></a>
</nav>
{% endif %}

{% endblock %}

{% block body_footer %}
{{ block.super }}
{% include 'lang/modal/confirm_bumpup.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'infinite-scroll/jquery.infinitescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infinite-scroll-fire.js' %}"></script>
<script type="text/javascript" src="{% static 'js/me.js' %}"></script>
{% endcompress %}
{% endblock %}
