{% load i18n bootstrap_toolkit staticfiles %}

<form action="{% url 'ask_post' %}" method="post" id="post_form">
{% csrf_token %}
    {{ ask_form|as_bootstrap }}

    <div class="warning-info">
        <dl>
            <dt>
            <img src="{% static 'image/warning.jpg' %}" alt="warning icon" />You will <span class="text-error">{% trans "not receive corrections" %}</span> {% trans "if :" %}
            </dt>
            <dd>
            <ul>
                <li>{% trans "Your post is too simple." %}</li>
                <li>{% trans "Nothing is wrong with your post." %}</li>
                <li>
                {% blocktrans with user.get_learning_language as learning_language %}Your post is <span class='text-error'>not in {{ learning_language }}</span>{% endblocktrans %}
                </li>
            </ul>
            </dd>
        </dl>
    </div>

    <div class="control-group">
        <div class="controls pull-right">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
            <button type="submit" class="btn btn-primary gaevent" data-gac="PostActivation" data-gan="Post">{% trans 'Save' %}</button>
        </div>
    </div>
</form>
