{% extends 'base.html' %}
{% load i18n staticfiles compress  bootstrap_toolkit %}

{% block title %} | Your First Post{% endblock %}

{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="#" class="brand">{% block brand-name %}{% trans 'Writing on LingRing' %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content"> 
    {% block contents %}

    <h4 id="firstWriting" class="text-center">
    {% blocktrans with user.get_learning_language as learning_language %}
    Write Your First {{ learning_language }} Post
    {% endblocktrans %}
    </h4>
    <div class="pull-right text-right">
        <div class="firstPostHelpLink"><a href="{% url 'helps_post_about' %}">{% trans 'What do I write about?' %}</a></div>
        <div class="clear firstPostHelpLink"><a href="{% url 'helps_post_will_happen' %}">{% blocktrans with user.get_learning_language as learning_language %} I don't know how to write in {{ learning_language }}!{% endblocktrans %}</a></div>
    </div>
    <form id="firstPost" action="{% url 'ask_post' %}" method="post" class="form-horizontal">
    {% csrf_token %}
        <input type="hidden" name="first_post" value="true" />

        <div class="control-group postInputBox">
            <input type='text' name='title' class="span6" placeholder="{% trans 'Title' %}" value="{{ form.title.value|default:'' }}"/>
        </div>

        <div class="control-group postInputBox">
            {% with form.context.value|default:'' as context_val %}
            <textarea id="id_context" name='context' class="span6" placeholder="{% trans 'Write about your day.' %}" rows="10">{{ context_val }}</textarea> 
            <div class="pull-right text-counter">(<span class="current-text">{{ context_val|length }}</span>/<span>15</span>)</div>
            <div class="clearfix"></div>

            {% if form.context.errors %}
            {{ form.context.errors }}
            {% else %}
            <ul class="text-info unstyled">
                <li>{% trans 'Requires more than 15 letters.' %}</li>
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        <!--div class="firstPostHelpLink"><a href="{% url 'helps_post_will_happen' %}">{% trans 'What will happen after I write a post?' %}</a></div-->
        <div class="firstPostHelpLink"><a href="{% url 'helps_post_more_language' %}">{% trans 'I want to learn more than two languages!' %}</a></div>

        <div class="control-group">
            <div class="controls">
                <div class="controlButtonAtBottom">
                    <button id="firstPostSubmit" type="submit" data-gac="PostActivation" data-gan="First Post" class="btn btn-default right gaevent">{% trans 'Done' %}</button>
                    <button type="button" data-gac="PostActivation" data-gan="First Post Skip" class="btn btn-default right gaevent">{% trans 'Skip' %}</button>
                </div>
            </div>
        </div>
    </form>

    {% include 'lang/modal/blank_post.html' %}
    {% include 'lang/modal/shorten_post.html' %}
    {% endblock %}

    </div>
</div>

{% block javascript %}
{{ block.super }}

{% compress js %}
<script type="text/javascript">
$(document).on("submit", "#firstPost", function () {
    $f = $(this);
    var title = $f.find('input[name="title"]').val();
    var context = $f.find('textarea[name="context"]').val();
    if (!title && !context) {
        $('#modal-blank-post').modal();
        return false;
    }
    else if (context.length < 15) {
        $('#modal-shorten-post').modal();
        return false;
    }

    $f.find("#firstPostSubmit").attr('disabled', true);
});

$(document).on("keyup", "#firstPost textarea", function () {
    var context_length = $(this).val().length
    var $submit_btn = $("#firstPostSubmit");
    var $counter = $(".text-counter");
    $(".current-text").text(context_length);

    if ( context_length >= 15) {
      $submit_btn.addClass('btn-primary');
      $counter.addClass("text-success").removeClass("text-error");
    } else {
      $submit_btn.removeClass('btn-primary');
      $counter.addClass("text-error").removeClass("text-success");
    }
})

$(document).ready(function() {
  $('#modal-blank-post').on("hidden", function () {
    $("#firstPostSubmit").attr('disabled', false);
  });

  $('#modal-shorten-post').on("hidden", function () {
    $("#firstPostSubmit").attr('disabled', false);
  });

  if($("#id_context").val().length < 15) {
    $(".text-counter").addClass("text-error").removeClass("text-success");
  } else {
    $(".text-counter").addClass("text-success").removeClass("text-error");
  }

});
</script>
{% endcompress %}
{% endblock %}
