{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net/user/{{ profile_user.screen_name }}/quiz/{{ quizbook.date }}/result/">
<meta property="og:title" content="Quiz Score of {{ profile_user.screen_name }} : {{ quizbook.score }} ( {{ quizbook.date }} )"> 
<meta property="og:image" content="http://lingring.net{% if quizbook.score == 100 %}{% static 'image/quizImage/quiz_perfect.jpg' %}{% elif quizbook.score >= 90 %}{% static 'image/quizImage/quiz_great.jpg' %}{% elif quizbook.score >= 70 %}{% static 'image/quizImage/quiz_nice.jpg' %}{% else %}{% static 'image/quizImage/quiz_studymore.jpg' %}{% endif %}">
<meta property="og:description" content="{{ profile_user.get_learning_language }} Quiz of Today in Ling Ring">
<meta property="og:image:width" content="630">
<meta property="og:image:height" content="315">

{% endblock %}

{% block title %} | Quiz Score of {{ profile_user }} in {{ quizbook.date }} {% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/quiz.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}

<h5>
    <span>{% trans 'Date' %}: {{ quizbook.date|str_to_date:"%m. %d. %Y" }}</span>
    <!--span class="pull-right">{% trans 'Total Questions' %}: {{ quizbook.quiz_set.all.count }}</span-->
</h5>

<div class="text-center" id="quizScore">
    <h3 class="">Score : {{ quizbook.score }} ({{ quizbook.get_quiz_of_count }}) </h3>
    <div>
        <img src="
        {% if quizbook.score == 100 %}{% static 'image/quizImage/quiz_perfect.jpg' %}
        {% elif quizbook.score >= 90 %}{% static 'image/quizImage/quiz_great.jpg' %}
        {% elif quizbook.score >= 70 %}{% static 'image/quizImage/quiz_nice.jpg' %}
        {% else %}{% static 'image/quizImage/quiz_studymore.jpg' %}{% endif %}
        " />
    </div>
    <div class="text-right">
        <span class="fb-share-button shareBySNS" data-href="http://www.lingring.net{% url 'quizbook_detail' profile_user.screen_name quizbook.date %}?utm_source=facebook&utm_medium=fbshare&utm_campaign=inviteNewbieBySharingQuizResult" data-type="button_count"></span>
    </div>
</div>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading text-right">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                {% trans ' See Result Detail' %}
            </a>
        </div>


        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="alert alert-info">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {% trans "Once you mark a question as bad, it won’t be shown again any more." %}
                </div>
        
                <dl id="results" class="unstyled">
                    <h4>{% blocktrans %}Correct answer is shown in<span class="text-success"> Green.</span>{% endblocktrans %}</h4>
                    {% for quiz in quizbook.quiz_set.all %}
                    <dt>Question {{ forloop.counter }} {% if quiz.answer %}<img src="{% static 'image/alreadyChecked.png' %}" />{% else %}<img src="{% static 'image/wrong.png' %}" />{% endif %}</dt>
                    <dd class="">{{ quiz.question }}</dd>
                    <dd class="text-success">{{ quiz.correct_answer }}</dd>
                    <dd>
                    {% if user == profile_user and not quiz.feedback %}
                    <form class="feedback_form" action="{% url 'quiz_feedback' quiz.id %}" method="post">{% csrf_token %}
                        <ul class="unstyled inline">
                            {% if quiz.feedback %}disabled{% endif %}
                            <li class="feedquestion"><small class="text-info"> - {% trans 'How was this question?' %}</small></li><br/>
                            <li class="feedquestion"><label class="radio"><input type="radio" name="feedback" value="good" {% if quiz.feedback == 'good' %}checked{% endif %} {% if quiz.feedback %}disabled{% endif %}/>{% trans 'Good' %}</label></li>
                            <li class="feedquestion"><label class="radio"><input type="radio" name="feedback" value="bad" {% if quiz.feedback == 'bad' %}checked{% endif %} {% if quiz.feedback %}disabled{% endif %}/>{% trans 'Bad' %}</label></li>
                            <li>
                                <small class="feedresult thanks text-info"> - {% trans 'Thank you for your feed!' %}</small>
                                <small class="feedresult wrong text-warning"> - {% trans 'Something went wrong. Try again later!' %}</small>
                            </li>
                        </ul>
                    </form>
                    {% endif %}
                    </dd>
                    <dd class="last text-right"><a href="{% url 'ask_view' quiz.question.ask.id %}">{% trans 'Go to post' %}</a></dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'quizbook_list' profile_user.screen_name %}" class="btn btn-default"><i class="icon-chevron-left"></i>{% trans 'Back to Me' %}</a>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/quiz.js' %}"></script>
{% endblock %}
