{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:title" content="{{ profile_user }}'s quiz list">
<meta property="og:url" content="http://lingring.net/user/{{ profile_user.screen_name }}/quiz/">
<meta property="og:description" content="{{ profile_user }} solved quizze">
{% endblock %}

{% block title %} | {{ profile_user }}'s Quiz Book{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/quiz.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'lang/user/detail.html' %}
<div class="contentTitle">
    <img src="{% static 'image/me_quiz.png' %}">
    <h4>{% trans 'Quiz' %}</h4>
</div>

<div class="content_wrapper">
    {% if user == profile_user %}
    <div id="quiz_alerts_nopost" class="alert alert-error hide">{% trans 'Written No Post Yet' %}</div>
    <div id="quiz_alerts_nocorrection" class="alert alert-error hide">{% trans 'Got No Correction Yet' %}</div>
    <div id="quiz_alerts_alreadytaken" class="alert alert-error hide">{% trans 'Already Taken a Quiz Today' %}</div>
    <a id="create-quiz" class="btn btn-primary quiz-btn pull-right
        {% if not user.is_enough_posts %}disabled" href="#" data-alert="quiz_alerts_nopost">{% trans 'Take a Quiz' %}</a>
        {% elif not user.is_enough_corrections %}disabled" href="#" data-alert="quiz_alerts_nocorrection">{% trans 'Take a Quiz' %}</a>
        {% elif not user.is_solved_today_quiz %}
        " href="{% url 'quizbook_update' profile_user.screen_name latest_quiz_date %}">{% trans 'Take a Quiz' %}</a>
        {% elif user.point.current_point >= 50 %}
        " href="{% url 'quizbook_update' profile_user.screen_name next_quiz_date %}">{% trans 'Take a Quiz with 50 Points' %}</a>
        {% else %}disabled" href="#" data-alert="quiz_alerts_alreadytaken">{% trans 'Take a Quiz' %}</a>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>


    <div class="clearfix"></div>
    <!--
    {% if not profile_user.invite_set.exists %}
        <div class="alert alert-info"><i class="icon-user icon-white"></i>
            {% trans 'Invite friends and get five more questions!' %}
        </div>
    {% endif %}
    -->
    <table class="table table-bordered table-striped" id="quiz_result">
        <colgroup>
            <col width="35%" />
            <col width="20%" />
            <col width="*" />
        </colgroup>
        <thead>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Score' %}</th>
            <th>{% trans 'Quiz' %}</th>
        </thead>
        <tbody>
        {% if quizbooks %}
        {% for quizbook in quizbooks %}
        <tr>
            <td>
                {{ quizbook.get_date|str_to_date:"%m. %d. %Y" }}
                {{ quizbook.get_try_count }}
            </td>
            <td>{{ quizbook.score|default:'-' }}</td>
            <th>
                {% if quizbook.score %}
                <a href="{% url 'quizbook_detail' profile_user.screen_name quizbook.date %}">{% trans 'See the Result' %}</a></th>
                {% else %}
                <a href="{% url 'quizbook_update' profile_user.screen_name quizbook.date %}">{% trans 'Answer to Quiz' %}</a></th>
                {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <td colspan="4" class="no-list">{% trans 'No quiz taken yet.' %}</td>
        {% endif %}
        </tbody>
    </table>
</div>

{% include 'pagination.html' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/me.js' %}"></script>
<script type="text/javascript" src="{% static 'js/quiz.js' %}"></script>
{% endcompress %}
{% endblock %}
