{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block title %} | {{ profile_user }}'s {{ quizbook.date }} Quiz{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/quiz.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}

<h3 class="text-center">{% trans 'Quiz of Today' %}</h3>
<h5 class="text-right">{% trans 'Date' %}: {{ quizbook.date|str_to_date:"%m. %d. %Y" }}</h5>
<h5 class="text-right">{% trans 'Total Questions' %}: {{ quizbook.quiz_set.all.count }}</h5>

<hr/>

<div class="alert alert-info">
    {% trans 'Quiz is based on your posts.' %}<br/>
    {% trans 'You can take a quiz once a day.' %}<br/>
</div>
<h4>{% trans 'Choose a correct sentence.' %}</h4>


{% if messages %}
{% for msg in messages %}
<div class="alert alert-error">{{ msg }}</div>
{% endfor %}
{% else %}
{% endif %}
<form action="." method="post">{% csrf_token %}
    {% for quiz in quizbook.quiz_set.all.reverse %}
    <p>
    <h5 {% if not quiz.correct_answer.id in checked_sentences and not quiz.question.id in checked_sentences %}class="text-error"{% endif %}>Question {{ forloop.counter }}{% ifnotequal quiz.question.user quizbook.user %} (from {{ quiz.question.user }}){% endifnotequal %}</h5>
        <ul class="unstyled">
            {% ifequal "TF"|random "T" %}
            <li><label class="radio">
                <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.question.id }}" {% if quiz.question.id in checked_sentences %}checked{% endif %}/> {{ quiz.question.context }}
            </label></li>
            <li><label class="radio">
                <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.correct_answer.id }}" {% if quiz.correct_answer.id in checked_sentences %}checked{% endif %}/> {{ quiz.correct_answer.context }}
            </label></li>
            {% else %}
            <li><label class="radio">
                <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.correct_answer.id }}" {% if quiz.correct_answer.id in checked_sentences %}checked{% endif %}/> {{ quiz.correct_answer.context }}
            </label></li>
            <li><label class="radio">
                <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.question.id }}" {% if quiz.question.id in checked_sentences %}checked{% endif %}/> {{ quiz.question.context }}
            </label></li>
            {% endifequal %}
        </ul>
    </p>
    <br/>
    {% endfor %}
    <div class="form-actions">
        <a href="{% url 'quizbook_list' profile_user.screen_name %}" class="btn btn-default"><i class="icon-chevron-left"></i>{% trans 'Back to Me' %}</a>
        <button type="submit" class="btn btn-primary pull-right">{% trans 'Done' %}</button>
    </div>
</form>

{% endblock %}
