<html>
<body>

<table id="content">
<tr><td style="text-align:left; padding: 5px 10px; color: white; background-color: black; width: 400px;">Ling Ring</td></tr>

<tr><td style="padding:10px">
Please check your student's post.
</td></tr>

<tr><td style="padding: 10px; background-color:#d9edf7; border: 1px solid #bce8f1;">
    <a href="http://lingring.net{{ post_url }}" style="text-decoration:none; padding:5px 10px; color:white; background-color:#0044cc;">Check Post</button>
</td></tr>
</table>
</p>

<p id="footer" style="font-size: 14px;">
<a href="http://facebook.com/linguisticring">Ling Ring on FaceBook</a><br/>
Best regards, 
Ling Ring

<!--
LingRing Logo & email address & Facebook Page Link
(This message was sent to recipient_email_address. If you don't want to receive these emails from Ling Ring in the future, please unsubsribe.)
-->
</p>

</body>
</html>
