{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/poll.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}

<h3>{% trans 'Take a survey and get 30 points' %}</h3>
<h5 class="text-error">* Required</h5>

<form action="." method="post">{% csrf_token %}

  <div>
    <label><b>{{ form.is_helpful.label }}</b><span class="text-error"> *</span></label>
    {{ form.is_helpful }}
    <div class="clearfix"></div>

    {% if form.is_helpful.errors %}
    <p class="text-error">{{ form.is_helpful.errors }}</p>
    <div class="clearfix"></div>
    {% endif %}
  </div>

  <div>
    <label><b>{{ form.will_invite.label }}</b><span class="text-error"> *</span></label>
    {{ form.will_invite }}
    <div class="clearfix"></div>

    {% if form.will_invite.errors %}
    <p class="text-error">{{ form.will_invite.errors }}</p>
    <div class="clearfix"></div>
    {% endif %}
  </div>

  <div class="unfloat">
    <label><b>{{ form.reward.label }}</b></label>
    {{ form.reward }}
    <div class="clearfix"></div>

    {% if form.reward.errors %}
    <p class="text-error">{{ form.reward.errors }}</p>
    <div class="clearfix"></div>
    {% endif %}
  </div>

  <div>
    <label><b>{{ form.know_lingring.label }}</b><span class="text-error"> *</span></label>
    {{ form.know_lingring }}
    <div class="clearfix"></div>

    {% if form.know_lingring.errors %}
    <p class="text-error">{{ form.know_lingring.errors }}</p>
    <div class="clearfix"></div>
    {% endif %}
  </div>

  <div>
    <label><b>{{ form.suggest.label }}</b></label>
    {{ form.suggest }}
    <div class="clearfix"></div>

    {% if form.suggest.errors %}
    <p class="text-error">{{ form.suggest.errors }}</p>
    <div class="clearfix"></div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary pull-right">{% trans 'Done' %}</button>
</form>

{% endblock %}
