{% load i18n staticfiles %}

{% with user.get_learning_language as learning_language %}
<div class="exampleContainer">
    <h5>{% blocktrans %}1. Start your journal by posting in <span class="text-error">"English"</span>. {% endblocktrans %}</h5>
    {% endwith %}
        <div class="exampleBox">
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user1.png' %}" alt="Original User" class="exampleUser">
        </div>
        <div id="writingExampleFullText">
            Time is too fast. When this year began, I have a 3plans. First of all, I want to read more than 20 books. Second, I want to go to 3 other country.Lastly, I have to save the money about $40,000 for moving the home.
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans '2. Receive corrections!' %}</h5>
    <div id="exampleBoxBorder">
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">When this year began, I have a 3plans.</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="sentenceBox correctedSentence">When this year began, I <span class="exampleError">had three</span> plans.</div>
        <br/>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">First of all, I want to read more than 20 books.</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="correctedSentence sentenceBox">First <span class="exampleError">was, I wanted</span> to read more than 20 books.</div>
        <div class="clearfix"></div>
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
    </div>
</div>
<div class="exampleContainer">
    <h5>{% trans "3. Don't forget to thank the person for corrections!" %}</h5>
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
    <div class="exampleBox">
        <div class="overallCommentTitle">Comments</div>
        <div>
            <img class="pull-left media-object-32" src="{% static 'image/help/user1.png' %}" />
            <span class="comment">
                <div class="reply">
                    Thank you very much!
                    <div class="muted">  01-14 00:59</div>
                </div>
            </span>
        </div>
        <div style="clear:both;padding-top:10px;padding-bottom:10px">
            <img class="pull-left media-object-32" src="{% static 'image/help/user2.png' %}" />
            <span class="comment">
                <div class="reply"> 
                    Your English is good! Good luck. ^.^
                    <div class="muted">  01-14 06:27</div>
                </div>
            </span>
        </div>
    </div>
</div>
