{% load i18n staticfiles %}

{% with user.get_learning_language as learning_language %}
<div class="exampleContainer">
     <h5>{% blocktrans %}1. Start your journal by posting in <span class="text-error">"German"</span>. {% endblocktrans %}</h5>
    {% endwith %}
        <div class="exampleBox">
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user1.png' %}" alt="Original User" class="exampleUser">
        </div>
        <div id="writingExampleFullText">
             Hallo. Ich bin Koreanisch, und Neunzehn Jahre alt. Ich finde das so interessant. Helft mir viel bitte
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans '2. Receive corrections!' %}</h5>
    <div id="exampleBoxBorder">
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">Ich bin Koreanisch, und Neunzehn Jahre alt.</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="sentenceBox correctedSentence">Ich bin <span class="exampleError">Koreaner </span></div>
        <br/>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">Ich finde das so interessant.</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="correctedSentence sentenceBox">Ich finde <span class="exampleError">es hier sehr interessant</span> </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans "3. Don't forget to thank the person for corrections!" %}</h5>
    <div class="text-center">
        <img src="{% static 'image/help/sep.png' %}" alt="Separator">
    </div>
    <div class="exampleBox">
        <div class="overallCommentTitle">Comment</div>
        <div>
            <img class="pull-left media-object-32" src="{% static 'image/help/user1.png' %}" />
            <span class="comment">
                <div class="reply">
                    Herzlichen Dank! :D
                    <div class="muted">  01-14 00:59</div>
                </div>
            </span>
        </div>
        <div style="clear:both;padding-top:10px;padding-bottom:10px">
            <img class="pull-left media-object-32" src="{% static 'image/help/user2.png' %}" />
            <span class="comment">
                <div class="reply">
                    Gut gemacht :) 
                    <div class="muted">  01-14 06:27</div>
                </div>
            </span>
        </div>
    </div>
</div>
~

