{% load i18n staticfiles %}

{% with user.get_learning_language as learning_language %}
<div class="exampleContainer">
     <h5>{% blocktrans %}1. Start your journal by posting in <span class="text-error">"Japanese"</span>. {% endblocktrans %}</h5>
    {% endwith %}
        <div class="exampleBox">
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user1.png' %}" alt="Original User" class="exampleUser">
        </div>
        <div id="writingExampleFullText">
            去年日本に引っ越しました。 英語の教師です。 子供の英会話で英語を教えます。 英会話の仕事時間はちょっと変なん
            ので、日本人の友達に会うのが難しくて、ここで習うのがお楽しみに！ある日、ドイツに引。
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans '2. Receive corrections!' %}</h5>
    <div id="exampleBoxBorder">
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">英語の教師です。</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="sentenceBox correctedSentence"><span class="exampleError">引っ越してきました。</span></div>
        <br/>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">子供の英会話で英語を教えます。</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="correctedSentence sentenceBox"><span class="exampleError">私は英語(の)教師です。</span></div>
        <div class="clearfix"></div>
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans "3. Don't forget to thank the person for corrections!" %}</h5>
    <div class="text-center">
        <img src="{% static 'image/help/sep.png' %}" alt="Separator">
    </div>
    <div class="exampleBox">
        <div class="overallCommentTitle">Comment</div>
        <div>
            <img class="pull-left media-object-32" src="{% static 'image/help/user1.png' %}" />
            <span class="comment">
                <div class="reply">
                どうもありがとうございました.
                    <div class="muted">  01-14 00:59</div>
                </div>
            </span>
        </div>
        <div style="clear:both;padding-top:10px;padding-bottom:10px">
            <img class="pull-left media-object-32" src="{% static 'image/help/user2.png' %}" />
            <span class="comment">
                <div class="reply">
                日本語も英語も助詞の使い方は難しいですね〜。
                    <div class="muted">  01-14 06:27</div>
                </div>
            </span>
        </div>
    </div>
</div>
~

