{% load i18n staticfiles %}

{% with user.get_learning_language as learning_language %}
<div class="exampleContainer">
     <h5>{% blocktrans %}1. Start your journal by posting in <span class="text-error">"Chinese"</span>. {% endblocktrans %}</h5>
    {% endwith %}
        <div class="exampleBox">
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user1.png' %}" alt="Original User" class="exampleUser">
        </div>
        <div id="writingExampleFullText">
            我的中文写的水平真底。我希望在这儿练习练习后能提高我的中文水平。 今天过去得太快。而且发了生很多事情。 发呆>的过去了 哈哈。
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans '2. Receive corrections!' %}</h5>
    <div id="exampleBoxBorder">
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">我的中文写的水平真底。</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="sentenceBox correctedSentence">我的中文<span class="exampleError">不大好。 </span></div>
        <br/>
        <div class="clearfix"></div>
        <div class="examplePencil pull-left text-center"><i class="icon-pencil"></i></div>
        <div class="sentenceBox originalSentence">我希望在这儿练习练习后能提高我的中文水平。</div>
        <div class="clearfix"></div>
        <div class="pull-left">
            <img class="media-object-32" src="{% static 'image/help/user2.png' %}" alt="Corrector" class="exampleUser">
        </div>
        <div class="correctedSentence sentenceBox">我希望 <span class="exampleError">能在这练练來 </span>提高我的中文水平。</div>
        <div class="clearfix"></div>
        <div class="text-center">
            <img src="{% static 'image/help/sep.png' %}" alt="Separator">
        </div>
    </div>
</div>

<div class="exampleContainer">
    <h5>{% trans "3. Don't forget to thank the person for corrections!" %}</h5>
    <div class="text-center">
        <img src="{% static 'image/help/sep.png' %}" alt="Separator">
    </div>
    <div class="exampleBox">
        <div class="overallCommentTitle">Comment</div>
        <div>
            <img class="pull-left media-object-32" src="{% static 'image/help/user1.png' %}" />
            <span class="comment">
                <div class="reply">
 谢谢~！:)
                    <div class="muted">  01-14 00:59</div>
                </div>
            </span>
        </div>
        <div style="clear:both;padding-top:10px;padding-bottom:10px">
            <img class="pull-left media-object-32" src="{% static 'image/help/user2.png' %}" />
            <span class="comment">
                <div class="reply">
                    不會歐
                    <div class="muted">  01-14 06:27</div>
                </div>
            </span>
        </div>
    </div>
</div>

