{% extends 'base_site.html' %}
{% load i18n staticfiles bootstrap_toolkit %}


{% block content %}

{% if email_address %}
{% blocktrans %}
<h4 class="text-center text-success">Thanks for Confirming Your Email!</h4>
<div id="emailConfirmation">
    <h5>You'll receive email notifications when:</h5>
    <ul class="emailExplanation">
        <li>Someone corrects your post</li>
        <li>Someone messages you</li>
    </ul>
</div>
{% endblocktrans %}

<div class="clearfix"></div>
<div id="emailBottom">
    <hr/>
    {% if user.is_authenticated %}
    <p><span class="text-success">{% trans 'Thank you for verifying your email address. Now start learning and make new friends!' %}</span><p>
    <a href="{% url 'ask_post_list' user.screen_name %}" class="btn btn-primary pull-right">{% trans "Go Back to \'Me\'" %}</a>
    {% else %}
    <p class="text-success"><span>{% trans 'Thank you for verifying your email address! However, you'll need to authenticate by logging in' %}</span><br/><span>{% trans 'Please login' %}</span><p>
    <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Go to Login" %}</a>
    {% endif %}
</div>
{% else %}
<a href="{% url 'home' %}" class="btn btn-primary pull-right">{% trans "Go to Login - LingRing will automatically login in 5 seconds" %}</a>
<script type="text/javascript">
    setInterval(function(){location.href="/"},5000);
</script>
{% endif %}

{% endblock %}

