{% load i18n %}
<!DOCTYPE HTML>
<html>
<body>

<table id="content">
<tr><td style="text-align:left; padding: 5px 10px; color: white; background-color: black; width: 400px;">Ling Ring</td></tr>

<tr><td style="padding:10px">
{% blocktrans with current_site.name as site_name %}Now, all you need to do is confirm your email address. 
{% endblocktrans %}
</td></tr>

<tr><td style="padding: 10px; background-color:#d9edf7; border: 1px solid #bce8f1;">
To verify your account, click this link:        
{% blocktrans %}
{{ activate_url }}
{% endblocktrans %}
</td></tr>
<tr><td style="padding:10px">
Do not reply to this email.
</td></tr>
</table>

<p id="footer" style="font-size: 14px;">
<a href="http://facebook.com/linguisticring">Ling Ring on FaceBook</a><br/>
Best regards, 
Ling Ring
<!--
LingRing Logo & email address & Facebook Page Link
(This message was sent to recipient_email_address. If you don't want to receive these emails from Ling Ring in the future, please unsubsribe.)
-->
</p>

</body>
</html>
