{% extends 'base_site.html' %}
{% load i18n staticfiles %}

{% block title %} | Email confirmation{% endblock %}

{% block content %}

<h4 class="text-center">{% trans "Verify Your Email" %}</h4>
<p id="emailExplanation">{% trans "You'll be notified by email when you receive corrections or comments." %}</p>

<form class="form-inline">
    <div><label for="id_email" class="control-label"><strong>Email:</strong> </label></div>
    <div>
    <input id="id_email" type="text" placeholder="username@email.com" value="{{ email }}" />
    <a href="#" id="send_email" class="btn btn-success">Send Verification Code</a>
</div>
</form>


<div class="alert hide" id="send_result"></div>

<div class="clearfix"></div>
<div id="emailBottom">
<hr/>
    <a href="{% url 'ask_post_list' user.screen_name %}" class="btn btn-primary pull-right">{% trans "Go Back to \'Me\'" %}</a>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).on("click", "#send_email", function() {
    $.ajax({
        url: "{% url 'send_confirm_email' %}",
        dataType: 'json',
        type: 'get',
        data: '',
        success: function(result){
            var msg = '{% trans "You have been sent a confirmation email. Check your inbox and click the link in it to confirm your email address." %}';
            $("#send_result").text(msg).addClass('alert-success').show();
        },
        error: function(result) {
            var msg = '{% trans "Whoops, we are unable to send a confirmation email to you. Please try again later." %}';
            $("#send_result").text(msg).removeClass('alert-success').show();
        }
    });
    return false;
});
</script>
{% endblock %}
