{% load i18n filters %}

<table class="table table-bordered table-striped">
  <colgroup>
    <col width="" />
    <col width="" />
    <col width="" />
  </colgroup>
  <thead>
    <tr>
      <th>{% trans 'Rank' %}</th>
      <th>{% trans 'User' %}</th>
      <th>{% trans 'Points' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for rank in ranks %} 
  <tr class="{% if user == rank.user %}success{% endif %}">
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url 'ask_post_list' rank.user.screen_name %}" >
          <img class="media-object-32" src="{{ rank.user.get_small_profile_photo }}" />
          <div>
              <span class="grade grade-xs grade-{{ rank.user.point.grade }}"></span>
              <strong> {{ rank.user.screen_name }} </strong>
              <br/>
              <span>{{ rank.user.get_native_language }}</span>
          </div>
      </a>
    </td>
    <td>{{ rank.points}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
