{% extends 'lang/rank/list.html' %}

{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net{% url 'all_rank' %}">
<meta property="og:title" content="Rank of All the time"> 
<meta property="og:description" content="">
{% endblock %}

{% block title %} | All Rank{% endblock %}

{% block rank_nav %}
  <ul class="nav nav-pills">
  <li>
    <a href="{% url 'weekly_rank' %}">{% trans 'Last Week' %}</a></li>
  <li>
    <a href="{% url 'monthly_rank' %}">{% trans 'Last Month' %}</a></li>
  <li class="active">
    <a href="#">{% trans 'Overall' %}</a></li>
  </ul>
  <h5 class="text-right">{{ period }}</h5>
{% endblock %}
