{% extends 'base_site.html' %}
{% load i18n staticfiles filters compress %}

{% block fb_specifictag %}{% endblock %}
{% block title %}{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/rank.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
<div id="correctionRankingWrapper">
  <h4 class="text-center">{% trans 'Corrections Rankings' %}</h4>
  <div id="choicePeriod" class="choice">
    {% block rank_nav %}
    {% endblock %}
  </div>

  <div id="choiceLanguage" class="choice">
    {% if user.is_authenticated %}
    <ul class="nav nav-tabs nav-tabs-by-three">
      <li class="active"><a href="#{{ user.get_native_language.name }}" data-toggle="tab" >{{ user.get_native_language }}</a></li>
      <li><a href="#{{ user.get_learning_language.name }}" data-toggle="tab" >{{ user.get_learning_language }}</a></li>
      <li><a href="#all-language" data-toggle="tab" >{% trans 'All Languages' %}</a></li>
    </ul>
    {% else %}
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#">{% trans 'All Languages' %}</a></li>
    </ul>
    {% endif %}
  </div>

  <div id="rankList" class="tab-content">
    {% if user.is_authenticated %}
      <div class="tab-pane active" id="{{ user.get_native_language.name }}">
          <h5>{% trans 'Your Rank' %}: {{ my_native_rank }} / <small>{% trans 'Correction Points' %} : {{ my_point.points }}</small> </h5>
        {% include 'lang/rank/_list.html' with ranks=native_ranks %}
      </div>

      <div class="tab-pane" id="{{ user.get_learning_language.name }}">
        {% include 'lang/rank/_list.html' with ranks=learning_ranks %}
      </div>

      <div class="tab-pane" id="all-language">
          <h5>{% trans 'Your Rank' %}: {{ my_rank }} / <small>{% trans 'Correction Points' %} : {{ my_point.points }}</small></h5>
        {% include 'lang/rank/_list.html' with ranks=rank_list %}
      </div>
    {% else %}
      <div class="tab-pane active" id="all-language">
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
