{% extends 'lang/rank/list.html' %}

{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net{% url 'monthly_rank' %}">
<meta property="og:title" content="Rank of Monthly"> 
<meta property="og:description" content="">
{% endblock %}

{% block title %} | Monthly Rank{% endblock %}

{% block rank_nav %}
    <ul class="nav nav-pills">
    <li>
    <a href="{% url 'weekly_rank' %}">{% trans 'Last Week' %}</a></li>
    <li class="active">
    <a href="#">{% trans 'Last Month' %}</a></li>
    <li>
    <a href="{% url 'all_rank' %}">{% trans 'Overall' %}</a></li>
    </ul>
    <h5 class="text-center">{{ period }}</h5>
{% endblock %}
