{% extends 'lang/rank/list.html' %}

{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
<meta property="og:url" content="http://lingring.net{% url 'weekly_rank' %}">
<meta property="og:title" content="Rank of Weekly"> 
<meta property="og:description" content="">
{% endblock %}

{% block title %} | Weekly Rank{% endblock %}


{% block rank_nav %}
    <ul class="nav nav-pills">
    <li class="active">
    <a href="#">{% trans 'Last Week' %}</a></li>
    <li>
    <a href="{% url 'monthly_rank' %}">{% trans 'Last Month' %}</a></li>
    <li>
    <a href="{% url 'all_rank' %}">{% trans 'Overall' %}</a></li>
    </ul>
    <h5 class="text-left">{{ period }}</h5>
{% endblock %}
