{% load i18n staticfiles %}

{% if user.my_tutors.count <= user.max_ring and user.recommend_tutors.exists %}
<div id="recommend_tutors" class="panel panel-default">
    <div class="panel-heading">
        {% trans "Tutor Recommendation For You" %}
    </div>

    <div class="panel-body">
    <ul class="thumbnails">
        {% for tutor in user.recommend_tutors %}
        <li>
        <a href="{% url 'ask_post_list' tutor.screen_name %}" class="thumbnail">
            <img class="media-object-64" src="{{ tutor.get_profile_photo }}" />

            {% if tutor.sns.kakao %}
            <img class="sns" src="{% static 'image/kakao.png' %}" />
            {% else %}
            <img class="sns" src="{% static 'image/kakao_inactive.png' %}" />
            {% endif %}

            {% if tutor.sns.line %}
            <img class="sns" src="{% static 'image/line.png' %}" />
            {% else %}
            <img class="sns" src="{% static 'image/line_inactive.png' %}" />
            {% endif %}

            {% if tutor.sns.skype %}
            <img class="sns" src="{% static 'image/skype.png' %}" />
            {% else %}
            <img class="sns" src="{% static 'image/skype_inactive.png' %}" />
            {% endif %}

            <div class="clearfix"></div>
        </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endif %}


