{% load i18n filters %}

{% with ring.student as student %}
<div class="media {% if forloop.last %}last{% endif %}">
    <div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' student %}"><img class="media-object media-object-64" src="{{ student.get_profile_photo }}" /></a>
        <div class="replyRateInPostBox">
            {% with student.interaction_rate as irate and student.get_level as level %}
            {% if level.name == 'N/A' %}
            <div class="newbie">N/A</div>
            {% else %}
            <div class="progress">
                <div class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</div>
            </div>
            {% endif %}
            {% endwith %}
        </div>

    </div>
    <div class="media-body">
        <span class="user pull-left">{{ student }}</span>
        <span class="elapsed_time right">{{ ring.elapsed_time }}</span>
        <div class="item-content-wrapper clear">
            <span class="summary">
                {% if ring.summary %} "{{ ring.summary }} "<br/><br/>{% endif %}
                {% blocktrans %}Are you willing to be {{ student }}'s tutor?{% endblocktrans %}
            </span>
        </div>

        <div id="receivedRequest">
            <form action="{% url 'ring_delete' ring.id %}" method="POST">{% csrf_token %}
                <button class="btn btn-small reject pull-left" type="submit">{% trans 'Reject' %}</button> 
            </form>

            <form action="{% url 'ring_update' ring.id %}" method="POST">{% csrf_token %}
                <input type="hidden" name="status" value="accepted"/>
                <button class="btn btn-small btn-primary" type="submit">{% trans 'Accept' %}</button> 
            </form>

        </div>
    </div>

    <div id="action_wrapper"></div>
</div>
{% endwith %}
