{% load staticfiles i18n %}

{% with oponent.sns as sns %}
{% if sns.message %}
<div class="snsMessage"> "{{ sns.message|default:'--' }}" </div>
{% endif %}

<ul id="sns_wrapper" class="unstyled inline">
    {% if sns.kakao %}
    <li class="kakao">
        <img src="{% static 'image/kakao.png' %}" />
        {{ sns.kakao|default:'--' }}
    </li>
    {% endif %}

    {% if sns.line %}
    <li class="line">
        <img src="{% static 'image/line.png' %}" />
        {{ sns.line|default:'--' }}
    </li>
    {% endif %}

    {% if sns.skype %}
    <li class="skype">
        <img src="{% static 'image/skype.png' %}" />
        {{ sns.skype|default:'--' }}
    </li>
    {% endif %}
</ul>
{% endwith %}
