{% load i18n filters staticfiles %}

{% with ring.student as student %}
<!--div class="media{% if forloop.last %} last{% endif %}{% if user.get_ring_notifications|from_notification:student %} alert-info{% endif %}"-->
<div class="media{% if forloop.last %} last{% endif %}">

    <div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' student.screen_name %}"><img class="media-object media-object-64" src="{{ student.get_profile_photo }}" /></a>
        <a class="talk-btn" href="{% url 'search_chatroom' %}?receiver={{ student.id }}"><img src="{% if user.get_talk_notifications|from_notification:student %}{% static 'image/talkIcon_active2.png' %}{% else %}{% static 'image/talkIcon.png' %}{% endif %}" class="talkIcon"> {% trans 'Talk' %}</a>
        <div class="unring"><button type="button">{% trans 'UnRing' %}</button></div>
        <!--div class="unring"><button type="button" class="close" >{% trans 'UnRing' %}</button></div-->

    </div>
    <div class="media-body">
        <div class="linkInRing">
            <a href="https://www.facebook.com/{{ student.facebook_uid }}" target="_blank">
              <img src="{% static 'image/facebook_logo_detail.png' %}" alt="User FB page"/>
              <span>Be a friend on FaceBook!</span>
              <!--span>{% if student.get_full_name %} {{ student.get_full_name }} {% else %} (Unknown) {% endif %} on Facebook</span-->
            </a>
        </div>

        <div class="disconnect_ring alert alert-danger alert-block hide">
            {% blocktrans with student.screen_name as student %}
            All the talk messages you have with {{ student }} will be removed.<br/>
            Are you sure to remove "{{ student }}" in your Ring?
            {% endblocktrans %}
            <p>
                <form action="{% url 'ring_delete' ring.id %}" method="post">{% csrf_token %}
                    <input type="hidden" name="status" value="cancel">
                    <button type="cancel" class="cancel_disconnect btn btn-default">{% trans 'No' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Yes' %}</button>
                </form>
            </p>
        </div>

        <div class="item-content-wrapper clear">
            <span class="block">{% blocktrans with student.get_learning_language as learning_language and student.get_post_count as post_count %} {{ learning_language}} Posts : {{ post_count }} {% endblocktrans %} / {% with user|help_count:student as help_count %}{% blocktrans %}My Corrections : {{ help_count }} {% endblocktrans %}{% endwith %}</span> 
            <span class="block">
            {% with student.get_last_post as post %}
            {% trans "Last Post" %} : {% if post %}<a href="{% url 'ask_view' post.id %}">"{{ post }}"</a>{% else %}{% trans 'No post written yet.' %}{% endif %}{% endwith %}
            </span>
        </div>

        {% include 'lang/ring/_sns.html' with oponent=student %}
    </div>

</div>
{% endwith %}
