{% load i18n %}
{% for n in news %}
{% with n.ring__status as ring_status %}
{% if ring_status == 'accepted' or ring_status == 'cancel' or n.ring__follow or not ring_status %}
<form action="{% url 'notification_update' n.id %}" method="post" class="hidden_form confirm-tutor">{% csrf_token %}
  <div class="alert {% if ring_status == 'accepted' or n.ring__follow %}alert-success{% else %}alert-danger{% endif %}">
    <input type="hidden" name="is_new" value="false">
    <button type="submit" class="btn btn-primary btn-mini pull-right">{% trans 'OK' %}</button>
    {{ n.message }}
  </div>
</form>
{% endif %}
{% endwith %}
{% endfor %}

<div class="text-right linkToSnsSetting">
  <a href="{% url 'sns_update' user.id %}"><i class="fa fa-gear"></i>{% trans 'SNS Setting' %}</a>
</div>
{% if user.my_follower %}
<div id="follow_tutor" class="panel panel-primary">
  <div class="panel-heading">{% trans 'Users Who Marked You as an Interesting Student' %}</div>
  <div class="panel-body">
      <div class="media">
        {% for follower in user.my_follower %}
        <a class="user_img" href="{% url 'ask_post_list' follower.tutor %}">
            <img class="media-object-64" src="{{ follower.tutor.get_profile_photo }}" />
        </a>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if user.my_tutors.exists %}
<!--div class="alert alert-info">{% trans 'You can become a friend with your tutors on Facebook!' %}</div-->
<div id="tutors" class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'helps' %}#ring" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>
        {% trans 'My Tutor Ring' %} (<span class="count"> {{ user.my_tutors.count }}  / {{ user.max_ring }} </span>)</div>
    <div class="panel-body">
        {% for ring in user.my_tutors %}
        {% include 'lang/ring/_tutor_item.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if not user.my_tutors.exists and not user.my_requested_tutors.exists %}
<div class="alert">{% trans 'No Tutors Yet' %}</div>
{% else %}
<div id="waiting_tutor" class="panel panel-default {% if not user.my_requested_tutors.exists %}hide{% endif %}">
    <div class="panel-heading">
        {% trans "Sent Requests" %} ({{ user.my_requested_tutors.count }})</div>
    <div class="panel-body">
        {% for ring in user.my_requested_tutors %}
        {% include 'lang/ring/_waiting_item.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
