{% load i18n staticfiles %}

{% if not talks.exists %}
<div class="alert alert-info">Talk to your Ring by clicking <img class="talkIcon" src="{% static 'image/talkIcon.png' %}" /> and practice daily conversation! </div>
{% else %}
<div id="students" class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'helps' %}#talk" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>
        {% trans 'My TalkRooms' %}
        {% if talks.count %}
        ( <span id="talk_count" class="count">{{ talks.count }}</span> )
        {% endif %}
    </div>
    <div class="panel-body">
        {% for talk in talks %}
        {% include 'lang/ring/_talk_item.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

