{% load i18n %}
<div class="text-right linkToSnsSetting">
  <a href="{% url 'sns_update' user.id %}"><i class="fa fa-gear"></i>{% trans 'SNS Setting' %}</a>
</div>

<div id="requested_tutor" class="panel panel-default {% if not rings %}hide{% endif %}">
    <div class="panel-heading">
        {% trans 'Received Requests' %} ({{ rings.count }})</div>
    <div class="panel-body">
        {% for ring in rings %}
        {% include 'lang/ring/_request_item.html' %}
        {% endfor %}
    </div>
</div>

{% if user.my_following %}
<div id="following" class="panel panel-primary">
  <div class="panel-heading">{% trans 'Interesting Students' %}</div>
  <div class="panel-body">
      <div class="media">
        {% for follower in user.my_following %}
        <a class="user_img" href="{% url 'ask_post_list' follower.student %}">
            <img class="media-object-64" src="{{ follower.student.get_profile_photo }}" />
        </a>
        {% endfor %}
        </div>
  </div>
</div>
{% endif %}

{% if not user.my_students.exists and not user.my_received_tutors.exists %}
<div class="alert">{% trans 'No Students Yet' %}</div>
{% endif %}
{% if user.my_students.exists %}
<div id="students" class="panel panel-primary">
    <div class="panel-heading">
        <a href="{% url 'helps' %}#ring" class="pull-right help-and-tip label label-info"><i class="icon-info-sign icon-white"></i> {% trans 'Tips' %}</a>
        {% trans 'My Student Ring' %} (<span class="count">{{ user.my_students.count }}</span>)</div>
    <div class="panel-body">
        {% for ring in user.my_students %}
        {% include 'lang/ring/_student_item.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
