{% load i18n filters %}

{% with talk.member.all|get_representative:user as opponent %}
<div class="media item {% if talk.notifications|to_me:user %}alert-info{% endif %}">
    <div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' opponent.screen_name %}">
          <img class="media-object media-object-64" src="{{ opponent.get_profile_photo }}" />
        </a>
    </div>

    <div class="media-body">
        <span class="user pull-left">
          <a class="user_img" href="{% url 'ask_post_list' opponent.screen_name %}">
            <span class="grade grade-xs grade-{{ opponent.point.grade }}"></span>
            {{ opponent.screen_name }}</a>
        </span>

        <form id="quit_talk" action="{% url 'quit_chatroom' talk.id %}" method="post">{% csrf_token %}
          <button type="submit" class="close">{% trans 'Close' %}</button>
        </form>

        <div class="clearfix"></div>

        <a class="item-content-wrapper" href="{% url 'open_chatroom' talk.id %}">
          <div class="clear">{{ talk.get_latest_message.context }}</div>
          <span class="elapsed_time">{{ talk.get_latest_message.get_elapsed_time }}</span>
        </a>
    </div>
</div>
{% endwith %}
