{% load i18n filters staticfiles %}

{% with ring.tutor as tutor %}
<!--div class="media{% if forloop.last %} last{% endif %}{% if user.get_ring_notifications|from_notification:tutor %} alert-info{% endif %}"-->
<div class="media{% if forloop.last %} last{% endif %}">

    <div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' tutor %}"><img class="media-object media-object-64" src="{{ tutor.get_profile_photo }}" /></a>
        <a class="talk-btn" href="{% url 'search_chatroom' %}?receiver={{ tutor.id }}"><img class="talkIcon" src="{% if user.get_talk_notifications|from_notification:tutor %}{% static 'image/talkIcon_active2.png' %}{% else %}{% static 'image/talkIcon.png' %}{% endif %}"> {% trans 'Talk' %}</a>
        <div class="unring"><button type="button">{% trans 'UnRing' %}</button></div>
        <!--div class="unring"><button type="button" class="close" >{% trans 'UnRing' %}</button></div-->
    </div>
    <div class="media-body">
        <div class="linkInRing">
            <a href="https://www.facebook.com/{{ tutor.facebook_uid }}" target="_blank">
              <img src="{% static 'image/facebook_logo_detail.png' %}" alt="User FB page" />
              <span>Be a friend on FaceBook! </span>
              <!--span> {% if tutor.get_full_name %} {{ tutor.get_full_name }} {% else %}(Unknown) {% endif %}</span-->
            </a>
        </div>

        <div class="disconnect_ring alert alert-danger alert-block hide">
            {% blocktrans with tutor.screen_name as tutor %}
            All the talk messages you have with {{ tutor }} will be removed.<br/>
            Are you sure to remove "{{ tutor }}" in your Ring?
            {% endblocktrans %}
            <p>
                <form action="{% url 'ring_delete' ring.id %}" method="post">{% csrf_token %}
                    <input type="hidden" name="status" value="cancel">
                    <button type="cancel" class="cancel_disconnect btn btn-default">{% trans 'No' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Yes' %}</button>
                </form>
            </p>
        </div>

        <span class="block">{% blocktrans with tutor|help_count:user as help_count %}Corrections To Me : {{ help_count }} {% endblocktrans %}</span>
      {% include 'lang/ring/_sns.html' with oponent=tutor %}
    </div>
</div>
{% endwith %}
