{% load i18n %}

{% with ring.tutor as tutor %}
<div class="media {% if forloop.last %}last{% endif %}">
    <div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' tutor.screen_name %}"><img class="media-object media-object-64" src="{{ tutor.get_profile_photo }}" /></a>
        <div class="replyRateInPostBox">
            {% with tutor.interaction_rate as irate and tutor.get_level as level%}
            {% if level.name == 'N/A' %}
            <div class="newbie">N/A</div>
            {% else %}
            <div class="progress">
                <div class="bar {% if irate < 50 %}bar-danger{% endif %}" style="width: {{ irate }}%; {% if irate == 0 %}margin-left: 30px; color: red;{% endif %}">{{ irate }}%</div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="media-body">
        <span class="user pull-left">{{ tutor.screen_name }}</span>
        <span class="elapsed_time right">{{ ring.elapsed_time }}</span>
        <span class="item-content-wrapper"><div class="summary clear">"{{ ring.summary }}"</div></span>
        <form action="{% url 'ring_delete' ring.id %}" method="POST" id="ring_response_form">{% csrf_token %}
            <input type="hidden" name="status" value="cancel"/>
            <button class="btn btn-small btn-default" type="submit">{% trans 'Cancel' %}</button>
        </form>
    </div>
</div>
{% endwith %}
