{% extends 'base_site.html' %}
{% load i18n staticfiles %}
{% load compress %}

{% block title %} | {{ profile_user }}'s Posts{% endblock %}
{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap/css/bootstrap-panel.min.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap-panel-override.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/ring.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}

<div id="ringPage">
{% if not rings and not user.my_requested_tutors and not user.my_tutors and not user.my_students %}
{% include 'lang/ring/no_ring.html' %}
{% endif %}

{% include 'lang/ring/_recommend_tutors.html' %}

<div id="ring_message" class="alert hide"></div>

<ul class="nav nav-tabs nav-tabs-by-three">
    <li {% if user.get_talk_notifications.exists or not user.get_ring_notifications.exists %}class="active"{% endif %}><a href="#tabTalk" data-toggle="tab">
      {% trans 'Talk' %}
      {% if user.get_talk_notifications.exists %}
      <span id="talk_notifications" class="badge badge-important">{{ user.get_talk_notifications.count }}</span>
      {% endif %}
    </a></li>
    <li {% if not user.get_talk_notifications.exists and user.get_student_notifications.exists %}class="active"{% endif %}><a href="#tabStudents" data-toggle="tab">
      {% trans 'My Students' %}
      {% if user.get_student_notifications.exists %}
      <span id="student_notifications" class="badge badge-important">{{ user.get_student_notifications.count }}</span>
      {% endif %}
    </a></li>
    <li {% if not user.get_talk_notifications.exists and not user.get_student_notifications.exists and user.get_tutor_notifications.exists %}class="active"{% endif %}><a href="#tabTutors" data-toggle="tab">
      {% trans 'My Tutors' %}
      {% if user.get_tutor_notifications.exists %}
      <span id="tutor_notifications" class="badge badge-important">{{ user.get_tutor_notifications.count }}</span>
      {% endif %}
    </a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane {% if user.get_talk_notifications.exists or not user.get_ring_notifications.exists %}active{% endif %}" id="tabTalk">
      {% include 'lang/ring/_tab_for_talk.html' %}
    </div>

    <div class="tab-pane {% if not user.get_talk_notifications.exists and user.get_student_notifications.exists %}active{% endif %}" id="tabStudents">
      {% include 'lang/ring/_tab_for_students.html' %}
    </div>

    <div class="tab-pane {% if not user.get_talk_notifications.exists and not user.get_student_notifications.exists and user.get_tutor_notifications.exists %}active{% endif %}" id="tabTutors">
      {% include 'lang/ring/_tab_for_tutors.html' %}
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/ring.js' %}"></script>
{% endcompress %}
{% endblock %}
