{% load i18n staticfiles %}

<div class="alert alert-info">
    <strong>{% trans 'Get your tutors by creating a Ring!' %}</strong>
    <hr/>
    {% blocktrans %} <strong>To get tutors is very important</strong>. {% endblocktrans%} 
    <br/>
    {% blocktrans %}Your tutors will check your journals more and they'll be your foreign friends of you! {% endblocktrans %}
    <br/>
    {% blocktrans %} Most of <strong>Ling Ring users are very friendly</strong>, so do not hesitate to <strong>ask them to be your tutor!</strong> {% endblocktrans%}
    <br/>
    <br/>
    <div id="ringManual" class="text-right">
        <small>
        <a href="{% url 'helps' %}#ring1">{% trans "1. What's Ring?" %}</a>
        <a href="{% url 'helps' %}#ring2">{% trans "2. How to create Ring?" %}</a>
        <a href="{% url 'helps' %}#ring3">{% trans "3. Benefits" %}</a>
    </small>
    </div>

</div>
