{% extends 'base_site.html' %}
{% load i18n staticfiles %}

{% block title %} | {{ user }}'s Chatroom list{% endblock %}

{% block content %}
<div class="content_wrapper active">
    {% if chatroom_list %}
    {% with notifications=user.get_talk_notifications %}
    {% for chatroom in chatroom_list %}
    {% include 'lang/talk/chatroom.html' with notifications=notifications %}
    {% endfor %}
    {% endwith %}
    {% else %}
    <div class="alert alert-info">
        {% trans "No Talk Yet" %}<br/>
    </div>
    {% endif %}
</div>
{% endblock %}
