{% load filters %}

{% with chatroom.member.all|get_representative:user as opponent %}
{% with chatroom.get_latest_message as latest_message %}
<div id="chat_{{ chatroom.id }}" class="well item media chatroom_item {% if notifications|is_chat_include:chatroom %}alert-info{% endif %}" data-url="{% url 'open_chatroom' chatroom.id %}">
    <!--div class="pull-left text-center">
        <a class="user_img" href="{% url 'ask_post_list' opponent.screen_name %}"><img class="media-object media-object-64" src="{{ opponent.get_profile_photo }}" /></a>
    </div>

    <div class="media-body">
        <span class="user pull-left">{{ opponent.screen_name }}</span>
        <span class="elapsed_time right">{{ latest_message.get_elapsed_time }}</span>
        <div class="clear">{{ latest_message.context }}</div>
    </div-->
    <div class="text-center">
        <a class="user_img" href="{% url 'ask_post_list' opponent.screen_name %}"><img class="media-object media-object-64" src="{{ opponent.get_profile_photo }}" /></a>
    </div>

    <div class="media-body">
        <span class="user">{{ opponent.screen_name }}</span>
        <span class="elapsed_time">{{ latest_message.get_elapsed_time }}</span>
        <div class="clear">{{ latest_message.context }}</div>
    </div>
</div>
{% endwith %}
{% endwith %}
