{% load i18n %}
{% if message.user %}

<div class="clear media {% ifequal message.user user %}text-right{% else %}text-left{% endifequal %}" >
    <a href="{% url 'ask_post_list' message.user.screen_name %}">
        <img src="{{ message.user.get_small_profile_photo }}" class="{% ifequal message.user user %}right{% else %}pull-left{% endifequal %}" /></a>

    <div class="talkMessage">
        <div class="chat-body">{{ message.context }}</div>
        <span class="chat-time">{{ message.ctime|date:"h:i:s" }}</span>
    </div>
</div>
{% else %}
<div class="alert alert-info">{{ message.context }}</div>
{% endif %}
