{% extends 'base.html' %}
{% load i18n staticfiles bootstrap_toolkit thumbnail filters compress %}

{% block title %}
{% with chatroom.member.all|get_representative:user as opponent %}
| Talk with {{ opponent }}
{% endwith %}
{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/talk.css' %}" />
{% endcompress %}
{% endblock %}


{% block body_header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="menus">
            <a href="{% url 'ring_list' %}" class="pull-left btn btn-link back-btn"><i class="icon-chevron-left icon-white"></i> {% trans 'Go to Ring' %}</a>
            {% with chatroom.member.all|get_representative:user as opponent %}
            <p class="navbar-text text-center">Talk to {{ opponent.screen_name }}</p>
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block contents %}
<div id="chat_wrapper">
    {% with chatroom.member.all|get_representative:user as opponent %}
    {% with user.get_native_language as un and user.get_learning_language as ul and opponent.get_native_language as on and opponent.get_learning_language as ol %}

    {% if on == ul and ol == un %}

    <div class="alert alert-info">{% blocktrans %}Try talking in {{ ul }} or {{ un }} {% endblocktrans %}</div>
    {% else %}
        {% if on == ul %}
    <div class="alert alert-info">
        {% blocktrans %}Try talking in {{ ul }} {% endblocktrans %}</div>
        {% else %}
            {% if on == ul %}
    <div class="alert alert-info">
            {% blocktrans %}Try talking in {{ ul }} {% endblocktrans %}</div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% endwith %}
    {% endwith %}

    {% for message in message_list reversed %}
    {% include 'lang/talk/message.html' %}
    {% endfor %}

    <div id="chat_room_id" data-roomId="{{ chatroom.id}}"></div>
</div>
<div class="clear send_message_wrapper navbar navbar-fixed-bottom">
    <div class="input-append no-margin">
        <form id="send_message" class="no-margin" action="{% url 'send_chat_message' %}" method="post">
            {% csrf_token %}
            <input type='hidden' name="room" value="{{ chatroom.id }}"/>
            <input type='hidden' name="user" value="{{ user }}"/>
            <input id="id_context" type='text' name="context" />
            <button class="btn" type="submit" >{% trans 'Send' %}</button>
        </form>
        <div class="sending">{% trans 'Now sending your message' %}</div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% with chatroom.member.all|get_representative:user as opponent %}
<script id="message_receive" type="text/x-jquery-tmpl">
<div class="clear media text-left">
  <a href="{% url 'ask_post_list' opponent.screen_name %}">
    <img src="{{ opponent.get_small_profile_photo }}" class="pull-left">
  </a>

  <div class="talkMessage">
    <div class="chat-body">${data}</div>
    <span class="chat-time">${time}</span>
  </div>
</div>
</script>

<script id="message_send" type="text/x-jquery-tmpl">
<div class="clear media text-right">
  <a href="{% url 'ask_post_list' user.screen_name %}">
    <img src="{{ user.get_small_profile_photo }}" class="right">
  </a>

  <div class="talkMessage">
    <div class="chat-body">${data}</div>
    <span class="chat-time">${time}</span>
  </div>
</div>
</script>
{% endwith %}

{% compress js %}
<script src="{% static 'js/socket.io.min.js' %}"></script>
<script src="{% static 'js/md5.min.js' %}"></script>
<script src="{% static 'js/jquery.tmpl.min.js' %}"></script>
<script src="{% static 'js/talk.js' %}"></script>
{% endcompress %}
{% endblock %}
