{% load i18n %}

{% if user.get_native_language.name == language %}
  {% with user.get_native_language.name|capfirst as native_language %}
  <form method="post" action="{% url 'topic_create' user.get_native_language.name %}">{% csrf_token %}
    <textarea name="title" rows="2" class="input-block-level" placeholder="{% blocktrans %}A topic for {{ native_language }} learners!{% endblocktrans %}"></textarea>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="{% trans 'Suggest' %}"/>
    </div>
    <div class="clearfix"></div>
  </form>
  {% endwith %}
{% endif %}
