{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
{% endblock %}

{% block title %} | Create Topic{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/topic.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
<div class="contentTitle">
    <h4>{% trans 'Edit Your Topic' %}</h4>
</div>

<div class="content_wrapper">
  {% with user.get_native_language.name as native_language %}

  <form method="post" action="{% url 'topic_update' native_language topic.id %}">{% csrf_token %}
    <textarea name="title" rows="2" class="input-block-level" placeholder="{% blocktrans %}A topic for {{ native_language }} learners!{% endblocktrans %}">{{ topic.title }}</textarea>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="{% trans 'Done' %}"/>
    </div>
    <div class="clearfix"></div>
  </form>
  <form action="{% url 'topic_delete' native_language topic.id %}" method="post" class="pull-right">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete" />
  </form>
  {% endwith %}
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/topic.js' %}"></script>
{% endcompress %}
{% endblock %}
