{% extends 'base_site.html' %}
{% load i18n staticfiles filters %}
{% load compress %}

{% block fb_specifictag %}
{% endblock %}

{% block title %} | Create Topic{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/topic.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
<div class="contentTitle">
    {% if user.get_native_language.name == language %}
    <h4>{% trans 'Suggest a New Topic' %}</h4>
    {% else %}
    <h4>{% trans 'All the Topics Suggested' %}</h4>
    {% endif %}
</div>

<div class="content_wrapper">
  {% include 'lang/topic/_form.html' %}

  {% if topics.exists %}
  {% for topic in topics %}

  <div class="topicBox">
    <div class="pull-left">
      <a href="{% url 'ask_post_list' topic.user.screen_name %}">
        <img class="media-object media-object-32" src="{{ topic.user.get_profile_photo }}" />
      </a>
    </div>
    <div class="media-body">
      <span class="elapsed_time right">{{ topic.get_elapsed_time }}</span>
      <!--div class="clearfix"></div-->
      <blockquote>
          <h5>"{{ topic.title }}"</h5>
          <small>
              <a href="{% url 'ask_post_list' topic.user.screen_name %}">
                <span class="grade grade-xs grade-{{ topic.user.point.grade }}"></span>
                {{ topic.user.screen_name }},
            </a> the {{ topic.language.name|capfirst }} Master
          </small>
      </blockquote>
      <div class="text-right"><small>
      {% if user == topic.user and user.get_native_language.name == language %}
        <a href="{% url 'topic_update' language topic.id %}">{% trans 'Edit' %}</a>
      {% else %}
        {% if topic.id in ask_of_topics %}
        <a href="{% url 'ask_view' topic.id|my_askid_for_topic:user %}">{% trans 'See my post' %}</a>
        {% else %}
        <a id="create-topic-btn" href="#" data-toggle="modal" data-target="#modal-post" data-title="{{ topic.title }}" data-id="{{ topic.id }}">{% trans 'Write Now' %}</a>
        {% endif %}
      {% endif %}
      </small></div>
    </div>
  </div>
  {% endfor %}
  {% include 'pagination.html' %}
  {% else %}
  <div class="alert alert-warning">
    <strong>{% trans "There's no topic suggested yet." %}</strong>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'js/topic.js' %}"></script>
{% endcompress %}
{% endblock %}
